Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: add version to plans
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/plans.yaml
  kubernetes/apps/kube-system/system-upgrade/plans/versions.env
Labels: kubernetes

fix: plural, plurrrral
  kubernetes/apps/kube-system/system-upgrade/kustomization.yaml
Labels: kubernetes

feat: move system-upgrade to it's own namespace
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/system-upgrade/controller.yaml
  kubernetes/apps/system-upgrade/controller/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/rbac.yaml
  kubernetes/apps/system-upgrade/controller/release.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/plans.yaml
  kubernetes/apps/system-upgrade/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/plans/talos.yaml
  kubernetes/apps/system-upgrade/plans/versions.env
Labels: kubernetes

fix: update the cluster roles
  kubernetes/apps/system-upgrade/controller/rbac.yaml
Labels: kubernetes

feat: consolidate common components into one structure
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cnpg-system/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/components/common/alerts/alertmanager/alert.yaml
  kubernetes/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/components/common/alerts/alertmanager/provider.yaml
  kubernetes/components/common/alerts/github/alert.yaml
  kubernetes/components/common/alerts/github/external-secret.yaml
  kubernetes/components/common/alerts/github/kustomization.yaml
  kubernetes/components/common/alerts/github/provider.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: kubernetes

fix: this needs to be a kustomization
  kubernetes/components/common/alerts/kustomization.yaml
Labels: kubernetes

fix: and the proper api
  kubernetes/components/common/alerts/kustomization.yaml
Labels: kubernetes

feat: capture latest cluster changes into talos machine configs
  talos/controlplane.yaml.j2
Labels: none

feat: adjust volsync cache size
  kubernetes/apps/default/plex/app.yaml
Labels: kubernetes

feat: refactor to adjust to latest release
  kubernetes/apps/system-upgrade/controller/release.yaml
Labels: kubernetes

chore: use the proper distribution release
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
Labels: kubernetes

fix: woops, do it myyyyyyy wayyyyyy
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
Labels: kubernetes

feat: add github notifications
  kubernetes/components/common/alerts/kustomization.yaml
Labels: kubernetes

feat: add better status update checks for flux-local
  .github/workflows/flux-local.yaml
Labels: github

chore: add more workflow statuses
  .github/workflows/flux-local.yaml
  .github/workflows/flux-repository-sync.yaml
Labels: github

feat: use descheduler to clean up pods, bravo!
  kubernetes/apps/kube-system/descheduler/resources/release.yaml
Labels: kubernetes

chore: re-work repository sync, workflow runs on every PR, provides status
  .github/workflows/flux-repository-sync.yaml
Labels: github

feat: update repo to use ghcr.io
  kubernetes/apps/external-secrets/resources/external-secrets.yaml
Labels: kubernetes

feat: refactor external-secrets, cluster checks just need to depend on external-secrets
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/onepassword.yaml
  kubernetes/apps/external-secrets/onepassword/cluster-secret-store.yaml
  kubernetes/apps/external-secrets/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/release.yaml
  kubernetes/apps/external-secrets/resources/kustomization.yaml
  kubernetes/apps/external-secrets/resources/release.yaml
Labels: kubernetes

feat: switch dependency to just external-secrets
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

chore: re-work flux local, workflow runs on every PR, provides status
  .github/workflows/flux-local.yaml
Labels: github

fix: cause with's are like variables
  .github/workflows/flux-local.yaml
Labels: github

Revert "feat: switch dependency to just external-secrets"
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

feat: re-work deployment, return it to a more clean and orderly rollout
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/stores/onepassword.yaml
Labels: kubernetes

fix: missed this cleaned up file
  kubernetes/apps/external-secrets/onepassword/kustomization.yaml
Labels: kubernetes

feat: normalize retryInterval's across deployments
  kubernetes/apps/arc-system/controller.yaml
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/cnpg-system/cnpg-operator.yaml
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/onepassword.yaml
  kubernetes/apps/flux-system/flux.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/config.yaml
  kubernetes/apps/kube-system/cilium/gateway-api.yaml
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/talos-ccm/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/logging-stack.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/rook-ceph/rook-ceph.yaml
  kubernetes/apps/system-upgrade/controller.yaml
  kubernetes/apps/system-upgrade/plans.yaml
  kubernetes/apps/volsync-system/volsync.yaml
Labels: kubernetes

compromised repos sux
  .github/workflows/flux-local.yaml
  .github/workflows/flux-repository-sync.yaml
Labels: github

aaaand back to official release
  .github/workflows/flux-local.yaml
  .github/workflows/flux-repository-sync.yaml
Labels: github

fix: adjus volume cache
  kubernetes/apps/default/plex/app.yaml
Labels: kubernetes

fix: disable schema validation until fixed upstream
  kubernetes/apps/ingress-system/cloudflare/external-dns/resources/release.yaml
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
Labels: kubernetes

fix: adjus suc plan kustomize config
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/name-reference.yaml
  kubernetes/apps/system-upgrade/plans.yaml
Labels: kubernetes

chore: oh yeah, refactor the CSI first
  kubernetes/apps/rook-ceph/cluster.yaml
  kubernetes/apps/rook-ceph/cluster/external-secret.yaml
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/cluster/http-route.yaml
  kubernetes/apps/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/oci-repository.yaml
  kubernetes/apps/rook-ceph/operator.yaml
  kubernetes/apps/rook-ceph/operator/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/oci-repository.yaml
  kubernetes/apps/rook-ceph/operator/snapshot-controller.yaml
Labels: kubernetes

fix: and this is why we automate testing
  kubernetes/apps/rook-ceph/cluster.yaml
  kubernetes/apps/rook-ceph/operator.yaml
Labels: kubernetes

fix: small oops on dependency checking
  kubernetes/apps/rook-ceph/cluster.yaml
Labels: kubernetes

feat: remove rook-ceph helm chart
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
Labels: kubernetes

feat: bump cluster storage to 20G
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: adjust cache pvc volume size
  kubernetes/apps/default/plex/resources/pvc-cache.yaml
Labels: kubernetes

fix: adjust cache size
  kubernetes/apps/default/plex/app.yaml
Labels: kubernetes

feat: switch to using home-operations images
  .renovate/autoMerge.json5
  kubernetes/apps/default/plex/resources/release.yaml
  kubernetes/apps/default/prowlarr/resources/release.yaml
  kubernetes/apps/default/radarr/resources/release.yaml
  kubernetes/apps/default/sabnzbd/resources/release.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: start migrating kps to oci charts
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/oci-repository.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: kubernetes
