Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 0bcaa16
  kubernetes/apps/mediaserver/recyclarr/helm-release.yaml
Labels: none

fix(helm-chart): update chart loki to 5.8.8
  kubernetes/apps/monitoring/loki/helm-release.yaml
Labels: none

fix(helm-chart): update chart loki to 5.8.8
  kubernetes/apps/monitoring/loki/helm-release.yaml
Labels: none

feat: add pod security policy to namespace
  kubernetes/apps/actions-runner-system/namespace.yaml
Labels: none

fix: revert back to dind mode
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

feat: restructure arc based on best practices
  kubernetes/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/actions-runner-system/controller/kustomization.yaml
  kubernetes/apps/actions-runner-system/controller/namespace.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/external-secret.yaml
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
  kubernetes/apps/actions-runner-system/runner/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/namespace.yaml
Labels: none

fix: add secret to deployment
  kubernetes/apps/actions-runner-system/runner/kustomization.yaml
Labels: none

fix: well fix a few more things
  kubernetes/apps/actions-runner-system/controller/helm-release.yaml
  kubernetes/apps/actions-runner-system/helm-repository.yaml
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

fix: reduce the # of characters, cause, gh sux
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

fix: use onedr0ps runner version
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

feat: publish schemas into flux oci repository on github
  .github/workflows/publish-schemas.yaml
Labels: github

feat: 1password secret extraction
  .github/workflows/publish-schemas.yaml
Labels: github

fix: address environment variables
  .github/workflows/publish-schemas.yaml
Labels: github

fix: disable 1password action
  .github/workflows/publish-schemas.yaml
Labels: github

fix(helm-chart): update chart ingress-nginx to 4.7.1
  kubernetes/apps/ingress-system/nginx/helm-release.yaml
Labels: none

fix(helm-chart): update chart ingress-nginx to 4.7.1
  kubernetes/apps/ingress-system/nginx/helm-release.yaml
Labels: none

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 0bcaa16
  kubernetes/apps/mediaserver/recyclarr/helm-release.yaml
Labels: none

feat(docker-image): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.0
  kubernetes/apps/home/zigbee2mqtt/helm-release.yaml
Labels: none

feat: add http server to publish schema conainer
  .github/workflows/publish-schemas.yaml
Labels: github

feat: add kubernetes-schemas to default namespace
  kubernetes/apps/default/helm-repository.yaml
  kubernetes/apps/default/kubernetes-schemas.yaml
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
  kubernetes/apps/default/kubernetes-schemas/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: none

fix: use proper shatag
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
Labels: none

fix: missing namespace
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
Labels: none

fix: add secretName to ingress configruation
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
Labels: none

feat: add schema references for yaml language server
  kubernetes/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/actions-runner-system/actions-runners.yaml
  kubernetes/apps/actions-runner-system/controller/helm-release.yaml
  kubernetes/apps/actions-runner-system/controller/kustomization.yaml
  kubernetes/apps/actions-runner-system/helm-repository.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/external-secret.yaml
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
  kubernetes/apps/actions-runner-system/runner/kustomization.yaml
Labels: none

feat: move theme-park to default namespace
  kubernetes/apps/default/helm-repository.yaml
  kubernetes/apps/default/kubernetes-schemas.yaml
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
  kubernetes/apps/default/kubernetes-schemas/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/theme-park.yaml
  kubernetes/apps/default/theme-park/helm-release.yaml
  kubernetes/apps/default/theme-park/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/ingress-system/theme-park/helm-repository.yaml
Labels: none

fix: remove namespace from kustomization, silly overrides
  kubernetes/apps/default/theme-park/kustomization.yaml
Labels: none

feat: switch prometheus-community helm repo to oci
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-repository.yaml
Labels: none

feat: switch charts to using oci repository
  kubernetes/apps/home/helm-repository.yaml
  kubernetes/apps/mediaserver/helm-repository.yaml
Labels: none

feat(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.7.0.3623
  kubernetes/apps/mediaserver/prowlarr/helm-release.yaml
Labels: none

fix: use main for 1password load secret action
  .github/workflows/publish-schemas.yaml
Labels: github

fix: export vars as false
  .github/workflows/publish-schemas.yaml
Labels: github

fix: [no ci] make comment on use of @main action for op-load-action
  .github/workflows/publish-schemas.yaml
Labels: github

feat: make the image contextually relevant to this repository
  .github/workflows/publish-schemas.yaml
Labels: github

feat: move to using context specific deployment
  kubernetes/apps/default/kubernetes-schemas/helm-release.yaml
Labels: none

feat: move theme-park to mediaserver deployment
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/mediaserver/kustomization.yaml
  kubernetes/apps/mediaserver/theme-park.yaml
  kubernetes/apps/mediaserver/theme-park/helm-release.yaml
  kubernetes/apps/mediaserver/theme-park/kustomization.yaml
Labels: none

feat: enable pruning of resources
  kubernetes/flux/apps.yaml
Labels: none

chore: move bootstrap to kubernetes
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.enc.yaml
  kubernetes/bootstrap/flux/github-deploy-key.enc.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: none

feat: update cluster cloudflare configuration
  infrastructure/cloudflare/.envrc
  infrastructure/cloudflare/main.tf
  infrastructure/cloudflare/modules/cloudflare_delegation_record/main.tf
  infrastructure/cloudflare/modules/cloudflare_delegation_record/variables.tf
  infrastructure/cloudflare/records.tf
  infrastructure/cloudflare/variables.tf
  infrastructure/cloudflare/zone_settings.tf
  infrastructure/cloudflare/zone_waf.tf
  infrastructure/terraform/cloudflare/mcfio/firewall_rules.tf
Labels: terraform

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 6ddd404
  kubernetes/apps/mediaserver/recyclarr/helm-release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.551
  kubernetes/apps/mediaserver/sonarr/helm-release.yaml
Labels: none
