Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat(helm-chart): update helm release grafana to 6.56.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat: switch to istio ingress
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: disable nginx as default ingress class
  cluster/ingress-system/nginx/helm-release.yaml
Labels: kubernetes

feat: reconfigure cilium, remove selector, only one IPAM
  cluster/home/mosquitto/helm-release.yaml
  cluster/ingress-system/nginx/helm-release.yaml
  cluster/istio-ingress/gateway/helm-release.yaml
  cluster/kube-system/cilium/cilium-bgp-peering-policy.yaml
  cluster/kube-system/cilium/cilium-load-balancer-ip-pool.yaml
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: restore ingress class
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: add remaining ingress configuration
  cluster/ingress-system/external-dns.yaml
  cluster/ingress-system/external-dns/external-secret.yaml
  cluster/ingress-system/external-dns/helm-release.yaml
  cluster/ingress-system/external-dns/kustomization.yaml
  cluster/ingress-system/kustomization.yaml
  cluster/ingress-system/theme-park.yaml
  cluster/ingress-system/theme-park/helm-release.yaml
  cluster/ingress-system/theme-park/kustomization.yaml
Labels: kubernetes

feat: enable flux webhook receiver
  cluster/core/flux-system/webhook/github/kustomization.yaml
  cluster/core/flux-system/webhook/github/secret.enc.yaml
  cluster/flux-system/flux-webhook.yaml
  cluster/flux-system/webhook/external-secret.yaml
  cluster/flux-system/webhook/ingress.yaml
  cluster/flux-system/webhook/kustomization.yaml
  cluster/flux-system/webhook/receiver.yaml
Labels: kubernetes

feat: update namespace to new settings
  cluster/flux-system/namespace.yaml
Labels: kubernetes

feat: add github notifications
  cluster/core/flux-system/notifications/github/secret.enc.yaml
  cluster/flux-system/kustomization.yaml
  cluster/flux-system/notifications/github-notifications.yaml
  cluster/flux-system/notifications/github/alert.yaml
  cluster/flux-system/notifications/github/external-secret.yaml
  cluster/flux-system/notifications/github/kustomization.yaml
  cluster/flux-system/notifications/github/provider.yaml
Labels: kubernetes

fix: use correct secret
  cluster/flux-system/notifications/github/provider.yaml
Labels: kubernetes

feat(helm-chart): update helm release kured to 4.5.0
  cluster/kube-system/kured/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to b41f21d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to b41f21d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 6878f31
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 6878f31
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 41c92e3
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 41c92e3
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.470
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.9.2
  .github/workflows/diff-helm-releases.yaml
Labels: github

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 6b93336
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 6b93336
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/koenkk/zigbee2mqtt docker tag to v1.30.4
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

fix: set maxSurge to 0, allow for scaling down on upgrade/rollout
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix: set maxSurge to 0, allow for scaling down on upgrade/rollout
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sabnzbd docker tag to v4.0.1
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat: move old core directory out, will bring it back
  archived/core/flux-system/kustomization.yaml
  archived/core/flux-system/monitoring/kustomization.yaml
  archived/core/flux-system/monitoring/pod-monitor.yaml
  archived/core/flux-system/notifications/alertmanager/alert.yaml
  archived/core/flux-system/notifications/alertmanager/kustomization.yaml
  archived/core/flux-system/notifications/alertmanager/provider.yaml
  archived/core/flux-system/notifications/kustomization.yaml
  archived/core/kustomization.yaml
Labels: none

feat: finish up migration
  cluster/flux/config/git-repository.yaml
  cluster/kustomization.yaml
  cluster/monitoring/grafana/external-secret.yaml
  cluster/monitoring/helm-repository.yaml
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/monitoring/kustomization.yaml
  cluster/monitoring/loki.yaml
  cluster/monitoring/loki/helm-release.yaml
  cluster/monitoring/minio/helm-release.yaml
  cluster/monitoring/minio/helm-repository.yaml
  cluster/monitoring/namespace.yaml
  cluster/monitoring/vector/agent/helm-release.yaml
  cluster/monitoring/vector/aggregator/helm-release.yaml
  cluster/monitoring/vector/helm-repository.yaml
  cluster/monitoring/vector/kustomization.yaml
Labels: kubernetes

feat: some minor touchups
  cluster/flux-system/kustomization.yaml
  cluster/flux/kustomization.yaml
Labels: kubernetes

fix: update cluster path
  cluster/flux/cluster.yaml
  cluster/flux/config/git-repository.yaml
Labels: kubernetes

fix: remove postbuild config vars and secrets
  cluster/flux/cluster.yaml
Labels: kubernetes

ci(github-action): update peter-evans/create-or-update-comment action to v3.0.1
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release operator to 5.0.4
  cluster/minio-operator/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release tenant to 5.0.4
  cluster/monitoring/minio/helm-release.yaml
Labels: kubernetes

feat(docker-image): update 1password-connect group to v1.7.0
  cluster/external-secrets/onepassword-connect/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.23.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 5.3.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: add an interesting taskfile from bjw-s
  .taskfiles/kubernetes.yaml
Labels: none

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.471
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 5.5.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release vsphere-csi to 3.2.2
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
