Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat: start migrating to single external-dns
  kubernetes/infrastructure/controllers/external-dns/external-secret.yaml
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
Labels: kubernetes

feat: deprecate internal dns, migrating to external-dns
  .archive/internal-dns/external-secret.yaml
  .archive/internal-dns/kustomization.yaml
  .archive/internal-dns/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas ( 48659a3 → 02232ef )
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

feat: enable external-dns
  kubernetes/infrastructure/controllers/external-dns/external-secret.yaml
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
  kubernetes/infrastructure/controllers/external-dns/namespace.yaml
  kubernetes/infrastructure/controllers/external-dns/release.yaml
  kubernetes/infrastructure/controllers/external-dns/repository.yaml
Labels: kubernetes

feat: enable external-dns
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
Labels: kubernetes

feat: re-add services
  kubernetes/infrastructure/controllers/external-dns/release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.0.4188
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.1
  kubernetes/apps/home/zigbee2mqtt/release.yaml
Labels: kubernetes

feat: remove old cluster tls
  kubernetes/infrastructure/configs/ingress-nginx/certificate.yaml
  kubernetes/infrastructure/configs/ingress-nginx/kustomization.yaml
Labels: kubernetes

fix: add schema for language server
  kubernetes/infrastructure/configs/istio/gateway.yaml
  kubernetes/infrastructure/configs/istio/http-route.yaml
Labels: kubernetes

feat: bump to using experimenal
  kubernetes/infrastructure/controllers/istio/istiod/kustomization.yaml
Labels: kubernetes

feat: cleanup
  kubernetes/infrastructure/configs/istio/ingress-class.yaml
Labels: kubernetes

fix: reduce logging
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

feat: switch to deployment rather than daemonset
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix: forgot, these guys can't make a decent chart
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

feat(helm-chart): update chart vector ( 0.29.1 → 0.30.0 )
  kubernetes/monitoring/controllers/vector/agent/helm-release.yaml
  kubernetes/monitoring/controllers/vector/aggregator/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart emqx ( 5.4.0 → 5.4.1 )
  kubernetes/apps/home/emqx/release.yaml
Labels: kubernetes

fix(helm-chart): update istio group ( 1.20.1 → 1.20.2 )
  kubernetes/infrastructure/controllers/istio/base/release.yaml
  kubernetes/infrastructure/controllers/istio/cni/release.yaml
  kubernetes/infrastructure/controllers/istio/istiod/release.yaml
Labels: kubernetes

ci(github-action): update actions/create-github-app-token digest to f04aa94
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(helm-chart): update chart reloader ( 1.0.60 → 1.0.62 )
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

feat(docker-image): update image kube-prometheus-stack to v55.7.1
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki ( 5.41.4 → 5.41.6 )
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: kubernetes

feat(docker-image): update image kube-prometheus-stack to v55.8.1
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat(helm-chart): update chart grafana ( 7.0.19 → 7.2.0 )
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: kubernetes

ci(github-action): update allenporter/flux-local action ( 4.2.2 → 4.3.0 )
  .github/workflows/flux-local-diff.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas ( 02232ef → 741235b )
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.3.0.8410
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.1.4201
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.3.1.8438
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas ( 02232ef → 741235b )
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

fix(docker-image): update image kube-prometheus-stack to v55.8.3
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat(docker-image): update image app-template to v2.5.0
  kubernetes/apps/home/homebridge/release.yaml
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: kubernetes

fix: attempt to reduce complexity so radarr can deploy
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: kubernetes

fix: add seccompProfile for istio cni
  kubernetes/infrastructure/controllers/istio/cni/release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki ( 5.41.6 → 5.41.7 )
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader ( 1.0.62 → 1.0.63 )
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

feat(docker-image): update image gcr.io/cloud-provider-vsphere/cpi/release/manager to v1.29.0
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.2.4211
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: kubernetes

fix(helm-chart): update chart node-feature-discovery ( 0.15.0 → 0.15.1 )
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
Labels: kubernetes

fix(helm-chart): update chart cilium ( 1.14.5 → 1.14.6 )
  kubernetes/infrastructure/controllers/cilium/release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
