Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(helm-chart): update chart vector ( 0.29.0 → 0.29.1 )
  kubernetes/monitoring/controllers/vector/agent/helm-release.yaml
  kubernetes/monitoring/controllers/vector/aggregator/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart descheduler ( 0.28.1 → 0.29.0 )
  kubernetes/infrastructure/controllers/descheduler/release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader ( 1.0.58 → 1.0.60 )
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/onedr0p/sabnzbd to v4.2.0
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.751
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sabnzbd to v4.2.1
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
Labels: kubernetes

feat: add gateway-api CRDs
  kubernetes/infrastructure/controllers/istio/istiod/kustomization.yaml
Labels: kubernetes

fix: incorrect url
  kubernetes/infrastructure/controllers/istio/istiod/kustomization.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

ci(github-action): update allenporter/flux-local action ( 4.2.1 → 4.2.2 )
  .github/workflows/flux-local-diff.yaml
Labels: github

feat(docker-image): update image kube-prometheus-stack to v55.6.0
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat: add gateway-api httproute
  kubernetes/infrastructure/controllers/internal-dns/release.yaml
Labels: kubernetes

feat: switch to using gateway-api httproutes
  kubernetes/apps/mediaserver/prowlarr/http-route.yaml
  kubernetes/apps/mediaserver/prowlarr/kustomization.yaml
  kubernetes/apps/mediaserver/radarr/http-route.yaml
  kubernetes/apps/mediaserver/radarr/kustomization.yaml
  kubernetes/apps/mediaserver/sabnzbd/http-route.yaml
  kubernetes/apps/mediaserver/sabnzbd/kustomization.yaml
  kubernetes/apps/mediaserver/sonarr/http-route.yaml
  kubernetes/apps/mediaserver/sonarr/kustomization.yaml
  kubernetes/apps/mediaserver/tautulli/http-route.yaml
  kubernetes/apps/mediaserver/tautulli/kustomization.yaml
Labels: kubernetes

fix: tautulli wasn't written properly
  kubernetes/apps/mediaserver/tautulli/http-route.yaml
Labels: kubernetes

feat: clean up virtual services, yaml schemas
  kubernetes/apps/mediaserver/prowlarr/http-route.yaml
  kubernetes/apps/mediaserver/prowlarr/virtual-service.yaml
  kubernetes/apps/mediaserver/radarr/http-route.yaml
  kubernetes/apps/mediaserver/radarr/virtual-service.yaml
  kubernetes/apps/mediaserver/sabnzbd/http-route.yaml
  kubernetes/apps/mediaserver/sabnzbd/virtual-service.yaml
  kubernetes/apps/mediaserver/sonarr/http-route.yaml
  kubernetes/apps/mediaserver/sonarr/virtual-service.yaml
  kubernetes/apps/mediaserver/tautulli/http-route.yaml
  kubernetes/apps/mediaserver/tautulli/virtual-service.yaml
Labels: kubernetes

feat: switch to using http routes
  kubernetes/apps/home/zigbee2mqtt/http-route.yaml
  kubernetes/apps/home/zigbee2mqtt/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/virtual-service.yaml
  kubernetes/infrastructure/configs/cilium/http-route.yaml
  kubernetes/infrastructure/configs/cilium/kustomization.yaml
  kubernetes/infrastructure/configs/cilium/virtual-service.yaml
Labels: kubernetes

feat: switch to using httproutes
  kubernetes/monitoring/controllers/kube-prometheus-stack/http-route.yaml
  kubernetes/monitoring/controllers/kube-prometheus-stack/kustomization.yaml
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat: switch to using http routes
  kubernetes/apps/monitoring/grafana/http-route.yaml
  kubernetes/apps/monitoring/grafana/kustomization.yaml
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: kubernetes

feat: move directory structure, use http routes
  kubernetes/apps/flux-system/weave-gitops/http-route.yaml
  kubernetes/apps/flux-system/weave-gitops/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/release.yaml
  kubernetes/apps/flux-system/weave-gitops/repository.yaml
Labels: kubernetes

feat: add flux-system apps to deployment
  kubernetes/flux-system/configs/apps-flux-system.yaml
Labels: kubernetes

feat: add http route
  kubernetes/apps/flux-system/weave-gitops/kustomization.yaml
Labels: kubernetes

feat: switch to using http routes
  kubernetes/infrastructure/operators/minio-operator/http-route.yaml
  kubernetes/infrastructure/operators/minio-operator/kustomization.yaml
  kubernetes/infrastructure/operators/minio-operator/release.yaml
Labels: kubernetes

feat: migrate to using http routes
  kubernetes/apps/home/emqx/http-route.yaml
  kubernetes/apps/home/emqx/kustomization.yaml
  kubernetes/apps/home/emqx/release.yaml
Labels: kubernetes

feat: remove istio gateway
  kubernetes/infrastructure/configs/istio/kustomization.yaml
  kubernetes/infrastructure/configs/istio/namespace.yaml
Labels: kubernetes

feat: remove gateway deployment
  .archive/istio-gateway/kustomization.yaml
  .archive/istio-gateway/namespace.yaml
  .archive/istio-gateway/release.yaml
Labels: none

feat: use gateway-api for isito
  kubernetes/infrastructure/configs/istio/gateway.yaml
  kubernetes/infrastructure/configs/istio/http-route.yaml
  kubernetes/infrastructure/configs/istio/kustomization.yaml
Labels: kubernetes

feat: add new wc listener
  kubernetes/infrastructure/configs/istio/certificate.yaml
  kubernetes/infrastructure/configs/istio/gateway.yaml
Labels: kubernetes

fix: change cluster issuer
  kubernetes/infrastructure/configs/istio/certificate.yaml
Labels: kubernetes

feat: add gateway http route
  kubernetes/infrastructure/controllers/external-dns/release.yaml
Labels: kubernetes

feat: migrate to http route
  kubernetes/apps/home/kubernetes-schemas/http-route.yaml
  kubernetes/apps/home/kubernetes-schemas/kustomization.yaml
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

feat: migrate to http route
  kubernetes/apps/mediaserver/overseerr/certificate.yaml
  kubernetes/apps/mediaserver/overseerr/http-route.yaml
  kubernetes/apps/mediaserver/overseerr/kustomization.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
Labels: kubernetes

feat: migrate to http route
  kubernetes/infrastructure/configs/flux-system/http-route.yaml
  kubernetes/infrastructure/configs/flux-system/ingress.yaml
  kubernetes/infrastructure/configs/flux-system/kustomization.yaml
Labels: kubernetes

fix: prepare to deprecate nginx
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
  kubernetes/infrastructure/controllers/external-dns/namespace.yaml
Labels: kubernetes

fix: deprecate nginx
  .archive/ingress-nginx/kustomization.yaml
  .archive/ingress-nginx/namespace.yaml
  .archive/ingress-nginx/release.yaml
  .archive/ingress-nginx/repository.yaml
Labels: none

feat: deploy two gateways
  kubernetes/infrastructure/configs/istio/external-gateway.yaml
  kubernetes/infrastructure/configs/istio/internal-gateway.yaml
  kubernetes/infrastructure/configs/istio/kustomization.yaml
Labels: kubernetes

fix: set proper gateway class
  kubernetes/infrastructure/configs/istio/external-gateway.yaml
  kubernetes/infrastructure/configs/istio/internal-gateway.yaml
Labels: kubernetes

fix: add proper annotation for external dns
  kubernetes/infrastructure/configs/istio/external-gateway.yaml
Labels: kubernetes

fix: use proper gateway
  kubernetes/apps/home/kubernetes-schemas/http-route.yaml
  kubernetes/apps/mediaserver/overseerr/http-route.yaml
  kubernetes/infrastructure/configs/flux-system/http-route.yaml
Labels: kubernetes

feat: reverting gateway changes
  kubernetes/apps/home/kubernetes-schemas/http-route.yaml
  kubernetes/apps/mediaserver/overseerr/http-route.yaml
  kubernetes/infrastructure/configs/flux-system/http-route.yaml
  kubernetes/infrastructure/configs/istio/gateway.yaml
  kubernetes/infrastructure/configs/istio/internal-gateway.yaml
  kubernetes/infrastructure/configs/istio/kustomization.yaml
Labels: kubernetes

feat: start migrating to single external-dns
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
  kubernetes/infrastructure/controllers/external-dns/namespace.yaml
Labels: kubernetes
