Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix(helm-chart): update chart loki to 5.6.2
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.6.2
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v36.0.18
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update chart goldilocks to 6.7.0
  cluster/monitoring/goldilocks/helm-release.yaml
Labels: kubernetes

feat: switch to using flux-local for manifest diffs
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/diff-helm-releases.yaml
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.4
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update chart base to 1.17.3
  cluster/istio-system/base/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart base to 1.17.3
  cluster/istio-system/base/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart gateway to 1.17.3
  cluster/istio-ingress/gateway/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart gateway to 1.17.3
  cluster/istio-ingress/gateway/helm-release.yaml
Labels: kubernetes

feat: deprecate and remove scripts
  .github/scripts/container-parser.sh
  .github/scripts/diff-helm-release.sh
  .github/scripts/lib/functions.sh
Labels: github

fix(helm-chart): update chart istiod to 1.17.3
  cluster/istio-system/istiod/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart istiod to 1.17.3
  cluster/istio-system/istiod/helm-release.yaml
Labels: kubernetes

fix: who knew, flux-local helped find problems
  cluster/cert-manager/cert-manager-issuers.yaml
  cluster/cert-manager/cert-manager.yaml
  cluster/ingress-system/external-dns.yaml
  cluster/ingress-system/internal-dns.yaml
  cluster/ingress-system/theme-park.yaml
  cluster/monitoring/grafana.yaml
  cluster/monitoring/grafana/kustomization.yaml
  cluster/monitoring/kustomization.yaml
  cluster/monitoring/loki.yaml
Labels: kubernetes

fix: archive ARC temporarily
  archived/actions-runner-system/actions-runner-controller.yaml
  archived/actions-runner-system/actions-runners.yaml
  archived/actions-runner-system/controller/external-secret.yaml
  archived/actions-runner-system/controller/helm-release.yaml
  archived/actions-runner-system/controller/kustomization.yaml
  archived/actions-runner-system/helm-repository.yaml
  archived/actions-runner-system/kustomization.yaml
  archived/actions-runner-system/namespace.yaml
  archived/actions-runner-system/runner/horizontal-runner-autoscaler.yaml
  archived/actions-runner-system/runner/kustomization.yaml
  archived/actions-runner-system/runner/pvc.yaml
  archived/actions-runner-system/runner/runner-deployment.yaml
  cluster/actions-runner-system/actions-runner-controller.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.6.3
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.6.3
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/koenkk/zigbee2mqtt to v1.31.2
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart base to 1.18.0
  cluster/istio-system/base/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart gateway to 1.18.0
  cluster/istio-ingress/gateway/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart istiod to 1.18.0
  cluster/istio-system/istiod/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart external-dns to 1.13.0
  cluster/ingress-system/external-dns/helm-release.yaml
  cluster/ingress-system/internal-dns/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sabnzbd to v4.0.2
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart kube-prometheus-stack to 46.8.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.27
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.27
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.6.4
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.6.4
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image weave-gitops to v4.0.23
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

ci(github-action): update actions/checkout action to v3.5.3
  .github/workflows/sync-labels.yaml
Labels: github

chore(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to 4ce09c1
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/radarr-develop to 38d5e62
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.537
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to de341a3
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.0.3527
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v4.6.1.7456
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to de341a3
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.28
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
