Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

fix: set service port
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

fix: pod security contexts and config path
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

feat: add hacs to home-assistant install
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

feat: add homekit to helm configuration
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

fix: try using hostnetwork
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

fix: try using hostnetwork
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

feat: enable local redirect policy
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

fix: fix some formatting, naming
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat: configure hass static ip
  cluster/home/home-assistant/helm-release.yaml
  cluster/home/home-assistant/kustomization.yaml
  cluster/home/home-assistant/net-attachment-definition.yaml
Labels: kubernetes

fix: use pod annotations
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

fix: add static routes/gateway to ip config
  cluster/home/home-assistant/net-attachment-definition.yaml
Labels: kubernetes

fix: add static routes/gateway to ip config
  cluster/home/home-assistant/net-attachment-definition.yaml
Labels: kubernetes

feat: remove home-assistant deployment
  cluster/home/home-assistant/kustomization.yaml
Labels: kubernetes

feat: remove home-assistant deployment files
  cluster/home/home-assistant/external-secret.yaml
  cluster/home/home-assistant/helm-release.yaml
  cluster/home/home-assistant/kustomization.yaml
  cluster/home/home-assistant/net-attachment-definition.yaml
Labels: kubernetes

feat: remove home-assistant, no longer expose it to the internet
  cluster/home/home-assistant.yaml
  cluster/home/home-assistant/endpoint.yaml
  cluster/home/home-assistant/ingress.yaml
  cluster/home/home-assistant/kustomization.yaml
  cluster/home/home-assistant/service.yaml
  cluster/home/kustomization.yaml
Labels: kubernetes

fix: why is this not finding files
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix: still not working, use git sha tags instead
  .github/workflows/diff-helm-releases.yaml
Labels: github

test: testing out branch/pr workflows
  cluster/apps/mediaserver/radarr-uhd/kustomization.yaml
  cluster/apps/mediaserver/radarr/kustomization.yaml
  cluster/apps/mediaserver/tautulli/kustomization.yaml
Labels: kubernetes

test: introduce a change to helm-release
  cluster/apps/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

test: testing gh action/workflows
  cluster/apps/mediaserver/radarr-uhd/helm-release.yaml
Labels: kubernetes

fix: update rclone vfs refresh
  cluster/apps/mediaserver/plex/helm-release.yaml
  cluster/apps/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: remove zwavejs2mqtt from cluster - hosted on hass pi
  archived/zwavejs2mqtt/helm-release.yaml
  archived/zwavejs2mqtt/kustomization.yaml
  archived/zwavejs2mqtt/node-feature-rule.yaml
  archived/zwavejs2mqtt/pod-priority.yaml
  cluster/apps/home/kustomization.yaml
Labels: kubernetes

chore: update/create kustomizations in all directories
  cluster/apps/mediaserver/kustomization.yaml
  cluster/apps/mediaserver/overseerr/kustomization.yaml
  cluster/apps/mediaserver/prowlarr/kustomization.yaml
Labels: kubernetes

fix: reduce amount of automerges
  .github/renovate/autoMerge.json
Labels: github

fix: remove datasource workaround, add renovate schema
  .github/renovate.json
Labels: github

fix: remove datasource workaround file
  .github/renovate/disabledDatasources.json
Labels: github

feat: add renovate schemas to configuration
  .github/renovate/autoMerge.json
  .github/renovate/commitMessage.json
  .github/renovate/groups.json
  .github/renovate/labels.json
  .github/renovate/semanticCommits.json
Labels: github

feat: pin github-action digests with renovate
  .github/renovate.json
Labels: github

feat: add external secrets sync to go-task
  .taskfiles/externalsecret.yml
  Taskfile.yml
Labels: none

feat: bump oci repository, not picked up by rennovate
  cluster/flux/deploy/oci-repository.yaml
Labels: kubernetes

test: simplifying config
  .github/renovate.json
Labels: github

feat: add renovate config validation
  .github/renovate.json
  .pre-commit-config.yaml
Labels: github

test: removing flux config
  .github/renovate.json
Labels: github

test: adding back flux config
  .github/renovate.json
Labels: github

fix: add namespace to proper manifests in order for renovate to work
  cluster/actions-runner-system/controller/helm-release.yaml
  cluster/actions-runner-system/helm-repository.yaml
Labels: kubernetes

fix: add namespace to proper manifests in order for renovate to work
  cluster/cert-manager/deploy/helm-release.yaml
  cluster/cert-manager/helm-repository.yaml
  cluster/external-secrets/deploy/helm-release.yaml
  cluster/external-secrets/helm-repository.yaml
Labels: kubernetes

fix: add namespace to proper manifests in order for renovate to work
  cluster/ingress-system/nginx/helm-release.yaml
  cluster/ingress-system/nginx/helm-repository.yaml
  cluster/ingress-system/theme-park/helm-release.yaml
  cluster/ingress-system/theme-park/helm-repository.yaml
  cluster/kube-system/cilium/helm-release.yaml
  cluster/kube-system/cilium/helm-repository.yaml
  cluster/kube-system/descheduler/helm-release.yaml
  cluster/kube-system/descheduler/helm-repository.yaml
  cluster/kube-system/intel-gpu-plugin/helm-repository.yaml
  cluster/kube-system/intel-gpu-plugin/operator/helm-release.yaml
  cluster/kube-system/intel-gpu-plugin/plugin/helm-release.yaml
  cluster/kube-system/kubelet-csr-approver/helm-release.yaml
  cluster/kube-system/kubelet-csr-approver/helm-repository.yaml
  cluster/kube-system/kured/helm-release.yaml
  cluster/kube-system/kured/helm-repository.yaml
  cluster/kube-system/metrics-server/helm-release.yaml
  cluster/kube-system/metrics-server/helm-repository.yaml
  cluster/kube-system/node-feature-discovery/helm-release.yaml
  cluster/kube-system/node-feature-discovery/helm-repository.yaml
  cluster/kube-system/reloader/helm-release.yaml
  cluster/kube-system/reloader/helm-repository.yaml
  cluster/kube-system/snapshot-controller/helm-release.yaml
  cluster/kube-system/snapshot-controller/helm-repository.yaml
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/monitoring/kube-prometheus-stack/helm-repository.yaml
Labels: kubernetes

fix: add namespace to proper manifests in order for renovate to work
  cluster/kube-system/snapshot-controller/webhook/helm-release.yaml
  cluster/metallb-system/deploy/helm-release.yaml
  cluster/metallb-system/deploy/helm-repository.yaml
  cluster/monitoring/grafana/helm-release.yaml
  cluster/monitoring/grafana/helm-repository.yaml
  cluster/monitoring/loki/helm-release.yaml
  cluster/monitoring/promtail/helm-release.yaml
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/helm-repository.yaml
  cluster/rook-ceph/kustomization.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

fix: add kustomization file
  cluster/kube-system/snapshot-controller/webhook/kustomization.yaml
Labels: kubernetes

fix: adjust the maxSurge to allow proper scaledown
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes
