Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

feat: move prowlarr to new deployment
  cluster/apps/mediaserver/kustomization.yaml
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/prowlarr.yaml
  cluster/mediaserver/prowlarr/external-secret.yaml
  cluster/mediaserver/prowlarr/helm-release.yaml
  cluster/mediaserver/prowlarr/kustomization.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 1761d19
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 956ae6f
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: move radarr-uhd to mediaserver
  cluster/apps/mediaserver/kustomization.yaml
  cluster/apps/mediaserver/radarr-uhd/helm-release.yaml
  cluster/mediaserver/radarr-uhd.yaml
  cluster/mediaserver/radarr-uhd/external-secret.yaml
  cluster/mediaserver/radarr-uhd/helm-release.yaml
  cluster/mediaserver/radarr-uhd/kustomization.yaml
Labels: kubernetes

feat: move radarr-uhd to mediaserver
  cluster/mediaserver/kustomization.yaml
Labels: kubernetes

fix: get API key from secret
  cluster/mediaserver/radarr-uhd/helm-release.yaml
Labels: kubernetes

fix: remove variable substitution use
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release metrics-server to 3.8.4
  cluster/kube-system/metrics-server/helm-release.yaml
Labels: kubernetes

feat: add git repository for deployment
  cluster/vsphere-csi/git-repository.yaml
  cluster/vsphere-csi/kustomization.yaml
Labels: kubernetes

feat: add node feature rule
  cluster/vsphere-csi/kustomization.yaml
  cluster/vsphere-csi/node-feature-rule.yaml
Labels: kubernetes

feat: add vmware-csi to deployment
  cluster/vsphere-csi/kustomization.yaml
  cluster/vsphere-csi/vsphere-csi.yaml
Labels: kubernetes

fix: add namespace to git repository
  cluster/vsphere-csi/vsphere-csi.yaml
Labels: kubernetes

fix(deps): update vsphere-csi-driver to v2.7.1
  cluster/vsphere-csi/git-repository.yaml
Labels: kubernetes

feat: switch to using helm repository
  cluster/vsphere-csi/git-repository.yaml
  cluster/vsphere-csi/helm-repository.yaml
  cluster/vsphere-csi/kustomization.yaml
Labels: kubernetes

feat: add helm-release and external secret
  cluster/vsphere-csi/external-secret.yaml
  cluster/vsphere-csi/helm-release.yaml
  cluster/vsphere-csi/kustomization.yaml
Labels: kubernetes

feat: enable storageclass, man this helm chart needs work
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix: add cluster-id to configuration
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix: add cluster-id to configuration
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.394
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.6.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.12
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release grafana to 6.52.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kubelet-csr-approver to 0.2.7
  cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: kubernetes

ci(github-action): update actions/labeler digest to ba790c8
  .github/workflows/labeler.yaml
Labels: github

fix(helm-chart): update rook-ceph group to v1.11.1
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.396
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: restore mosquitto, emqx grr
  archived/mosquitto/config-pvc.yaml
  archived/mosquitto/helm-release.yaml
  archived/mosquitto/kustomization.yaml
  archived/mosquitto/secret.enc.yaml
Labels: none

feat: initial deployment of mosquitto
  cluster/home/mosquitto.yaml
  cluster/home/mosquitto/external-secret.yaml
  cluster/home/mosquitto/kustomization.yaml
Labels: kubernetes

feat: initial deployment of mosquitto
  cluster/home/kustomization.yaml
Labels: kubernetes

feat: add mosquitto helm deployment
  cluster/home/mosquitto/helm-release.yaml
  cluster/home/mosquitto/kustomization.yaml
Labels: kubernetes

fix: external include dir
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix: use proper image
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix: disable anonymous access
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

feat: switch to mosquitto
  cluster/home/zigbee2mqtt.yaml
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.7.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix: use proper image tag for mosquitto init container
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

feat: disable emqx, shift loadbalancer to mosquitto
  cluster/home/kustomization.yaml
  cluster/home/mosquitto/certificate.yaml
  cluster/home/mosquitto/helm-release.yaml
  cluster/home/mosquitto/kustomization.yaml
Labels: kubernetes

feat: archive emqx
  archived/emqx/certificate.yaml
  archived/emqx/external-secret.yaml
  archived/emqx/helm-release.yaml
  archived/emqx/helm-repository.yaml
  archived/emqx/kustomization.yaml
  cluster/home/emqx.yaml
  cluster/home/kustomization.yaml
Labels: kubernetes

feat: update dependencies
  cluster/home/mosquitto.yaml
  cluster/home/zigbee2mqtt.yaml
Labels: kubernetes

chore(docker-image): pin public.ecr.aws/docker/library/eclipse-mosquitto docker tag to 73470c4
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes
