Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

chore: move configurations to new nas server
  kubernetes/apps/external-secrets/external-secrets/resources/cluster-secret-store.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/scrape-config.yaml
  kubernetes/apps/monitoring/silence-operator/silences/kustomization.yaml
Labels: kubernetes

feat: add additional scrape configs
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/scrape-config.yaml
Labels: kubernetes

feat: adjust rook operator configuration
  kubernetes/apps/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

feat: disable cephfs, not using yet
  kubernetes/apps/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

chore: remove kube-api vip
  kubernetes/apps/kube-system/cilium/config/kube-api-service.yaml
Labels: kubernetes

fix: woops, I think my cluster is not happy about not merging this for hours
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
Labels: kubernetes

chore: update some renovate configurations
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: none

chore: update to parse j2 files
  renovate.json5
Labels: none

chore: commit latest, not working but need files to exist
  talos/machineconfig.yaml.j2
  talos/nodes/talos-node03.yaml.j2
  talos/schematic.yaml
  talos/schematics/metal.yaml
  talos/schematics/rpi.yaml
Labels: none

feat: switch cluster to useAllNodes: false
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

feat: commit rebuilt node to cluster manifests
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

chore: update recyclarr config
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

fix: hah, missed this for way too long
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

chore: a lot of cleanup
  .renovate/groups.json5
  .renovate/overrides.json5
  talos/machineconfig.yaml.j2
  talos/nodes/talos-node01.yaml
  talos/nodes/talos-node02.yaml
  talos/nodes/talos-node03.yaml
  talos/nodes/talos-worker01.yaml
Labels: none

chore: bump this little guy
  talos/nodes/talos-worker01.yaml
Labels: none

fix: catch the different schematics
  .renovate/overrides.json5
Labels: none

Revert "fix: catch the different schematics"
  .renovate/overrides.json5
Labels: none

chore: keep things in sync, adjust os:reader role
  talos/machineconfig.yaml.j2
  talos/nodes/talos-worker01.yaml
Labels: none

chore: move extraKernelArgs to node configs, UKI booted nodes have no use for them
  talos/machineconfig.yaml.j2
  talos/nodes/talos-node01.yaml
  talos/nodes/talos-node02.yaml
  talos/nodes/talos-worker01.yaml
Labels: none

feat: prepare for 1.34
  kubernetes/apps/volsync-system/nfs-mover/resources/kustomization.yaml
  talos/machineconfig.yaml.j2
Labels: kubernetes

feat: prepare for 1.34 (#3054)
  kubernetes/apps/volsync-system/nfs-mover/resources/kustomization.yaml
  talos/machineconfig.yaml.j2
Labels: kubernetes

feat: post-v1.34.0 upgrade
  kubernetes/apps/volsync-system/nfs-mover/resources/jitter-policy.yaml
  kubernetes/apps/volsync-system/nfs-mover/resources/kustomization.yaml
  kubernetes/apps/volsync-system/nfs-mover/resources/mover-policy.yaml
  talos/machineconfig.yaml.j2
Labels: kubernetes

chore: clean-up mise and simplify machineconfig
  .mise.toml
  talos/machineconfig.yaml.j2
Labels: none

chore: just whaaaaaaat? someone had an idea, I copied it
  .justfile
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  talos/mod.just
Labels: none

chore: add vim file type configuration
  talos/machineconfig.yaml.j2
Labels: none

chore: add kubernetes just module
  .taskfiles/k8s/Taskfile.yml
  .taskfiles/k8s/mount-pvc.json
  Taskfile.yaml
  kubernetes/mod.just
Labels: kubernetes

fix: how dare I forget this!
  kubernetes/mod.just
Labels: kubernetes

feat: go go jelly-seerr
  kubernetes/apps/default/jellyseerr/app.yaml
  kubernetes/apps/default/jellyseerr/resources/helm-release.yaml
  kubernetes/apps/default/jellyseerr/resources/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

fix: all this time, could this be it?
  .github/workflows/publish-manifests.yaml
Labels: github

test: yeah, lets test
  .github/workflows/publish-manifests-test.yaml
Labels: github

feat: jellyseerr in, overseerr out!
  kubernetes/apps/default/jellyseerr/app.yaml
  kubernetes/apps/default/jellyseerr/resources/helm-release.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/overseerr/resources/helm-release.yaml
  kubernetes/apps/default/overseerr/resources/kustomization.yaml
  kubernetes/apps/default/overseerr/resources/pvc.yaml
Labels: kubernetes

feat: get rid of publishing test
  .github/workflows/publish-manifests-test.yaml
Labels: github

fix: remove section name on http route
  kubernetes/apps/default/jellyseerr/resources/helm-release.yaml
Labels: kubernetes

chore: yeah, this isn't annoying - part 1 of swing back to GitRepository
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/home-assistant/app.yaml
  kubernetes/apps/default/jellyseerr/app.yaml
  kubernetes/apps/default/maintainerr/app.yaml
  kubernetes/apps/default/matter-server/app.yaml
  kubernetes/apps/default/mosquitto/app.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/scrypted/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave/app.yaml
Labels: kubernetes

chore: part 2 disable pruning
  kubernetes/flux/config/apps.yaml
Labels: kubernetes

chore: more part 1 of swing back to GitRepository
  kubernetes/apps/volsync-system/nfs-mover/app.yaml
  kubernetes/apps/volsync-system/volsync/app.yaml
Labels: kubernetes

chore: more part 1 of swing back to GitRepository
  kubernetes/apps/system-upgrade/controller.yaml
  kubernetes/apps/system-upgrade/plans.yaml
Labels: kubernetes

chore: more part 1 of swing back to GitRepository
  kubernetes/apps/arc-system/controller/app.yaml
  kubernetes/apps/arc-system/runner/app.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/external-secrets/external-secrets/app.yaml
  kubernetes/apps/flux-system/flux-instance/app.yaml
  kubernetes/apps/flux-system/flux-operator/app.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/app.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/app.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/app.yaml
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/config.yaml
  kubernetes/apps/kube-system/cilium/gateway-api.yaml
  kubernetes/apps/kube-system/coredns/app.yaml
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/multus/app.yaml
  kubernetes/apps/kube-system/multus/networks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/snapshot-controller/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/talos-ccm/app.yaml
  kubernetes/apps/monitoring/alloy/app.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/keda/app.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
  kubernetes/apps/monitoring/loki/app.yaml
  kubernetes/apps/monitoring/silence-operator/app.yaml
  kubernetes/apps/monitoring/silence-operator/silences.yaml
  kubernetes/apps/openebs-system/openebs/app.yaml
  kubernetes/apps/rook-ceph/cluster.yaml
  kubernetes/apps/rook-ceph/operator.yaml
Labels: kubernetes

chore: part 2 migrate main kustomization to GitRepository
  kubernetes/flux/config/apps.yaml
Labels: kubernetes

chore: part 3 configure receiver to only listen for GitRepository pushes
  kubernetes/apps/flux-system/flux-instance/resources/webhook/receiver.yaml
Labels: kubernetes
