Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

ci(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-local-diff.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 396b3a6
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.731
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

feat(docker-image): update image kube-prometheus-stack to v54.1.0
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none

fix(helm-chart): update chart grafana to 7.0.8
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: none

feat(docker-image): update image app-template to v2.3.0
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

feat(docker-image): update image kube-prometheus-stack to v54.2.1
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none

feat(helm-chart): update chart loki to 5.38.0
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: none

fix(docker-image): update image kube-prometheus-stack to v54.2.2
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none

fix(docker-image): update image weave-gitops to v4.0.35
  kubernetes/apps/monitoring/weave-gitops/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 183cfff
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.2.3.8303
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/sabnzbd to f2f3971
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.5.4116
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: none

fix(deps): update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

feat(helm-chart): update chart vsphere-csi to 3.3.2
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
Labels: none

feat(helm-chart): update chart loki to 5.39.0
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: none

fix(helm-chart): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: none

fix(helm-chart): update chart descheduler to 0.28.1
  kubernetes/infrastructure/controllers/descheduler/release.yaml
Labels: none

fix(helm-chart): update chart emqx to 5.3.2
  kubernetes/apps/home/emqx/release.yaml
Labels: none

feat(docker-image): update image ghcr.io/koenkk/zigbee2mqtt to v1.34.0
  kubernetes/apps/home/zigbee2mqtt/release.yaml
Labels: none

feat(terraform-provider): update terraform azuread to 2.46.0
  infrastructure/terraform/azure/provider.tf
Labels: terraform

feat(terraform-provider): update terraform azurerm to 3.83.0
  infrastructure/terraform/azure/provider.tf
Labels: terraform

feat(terraform-provider): update terraform cloudflare to 4.20.0
  infrastructure/cloudflare/main.tf
Labels: none

feat(terraform-provider): update terraform random to 3.5.1
  infrastructure/terraform/azure/provider.tf
Labels: terraform

fix(helm-chart): update chart ingress-nginx to 4.8.4
  kubernetes/infrastructure/controllers/ingress-nginx/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to f8a105e
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

remove unnecessary configuration
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
Labels: none

revert to a version that works
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
Labels: none

improved volume topology disabled, fixes?
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
Labels: none

try again
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
Labels: none

feat(docker-image)!: Update image kube-prometheus-stack to v55
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to 0205e00
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/radarr-develop to 7794a25
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/sonarr-develop to f2040da
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/tautulli to 932a327
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

feat(docker-image)!: Update image ghcr.io/onedr0p/postgres-init to v15
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to f8a105e
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
