Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

feat: disable local-path provisioner, defeats the purpose of storage classes
  archived/local-path-provisioner/helm-release.yaml
  archived/local-path-provisioner/helm-repository.yaml
  archived/local-path-provisioner/kustomization.yaml
  cluster/kube-system/kustomization.yaml
  cluster/kube-system/local-path-provisioner.yaml
Labels: kubernetes

fix: move nfs-csi driver to archived
  archived/csi-driver-nfs/helm-release.yaml
  archived/csi-driver-nfs/helm-repository.yaml
  archived/csi-driver-nfs/kustomization.yaml
Labels: none

feat: remove nfd tolerations
  cluster/kube-system/node-feature-discovery/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.3.1.2796
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix: move promtail to archive
  archived/promtail/helm-release.yaml
  archived/promtail/kustomization.yaml
  cluster/monitoring/promtail.yaml
Labels: kubernetes

ci(github-action): update peter-evans/find-comment action to v2.3.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update helm release grafana to 6.51.0
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat: add full name override
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

feat(deps): update pre-commit hook zricethezav/gitleaks to v8.16.0
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release reloader to v1.0.10
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.51.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.6.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update helm release kube-prometheus-stack to 45.4.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.31.1.6733-bc0674160
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/radarr-develop:4.4.2.6956 docker digest to 02068de
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update rook-ceph group to v1.11.0
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 96c43de
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(deps): update fluxcd/flux2 to v0.40.2
  bootstrap/flux/kustomization.yaml
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 4.8.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: move bgp AS announcements to vmware nodes
  cluster/kube-system/cilium/cilium-bgp-peering-policy.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.6.1
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v35.6.1
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release emqx to 5.0.19
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/plex:1.31.1.6733-bc0674160 docker digest to 10a6d5e
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 391fcca
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/plex:1.31.1.6733-bc0674160 docker digest to 5f947ea
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sonarr-develop:4.0.0.391 docker digest to b7770a7
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/koenkk/zigbee2mqtt docker tag to v1.30.2
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release weave-gitops to 4.0.15
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/radarr-develop:4.4.2.6956 docker digest to 900277e
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 1650ac8
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sonarr-develop:4.0.0.391 docker digest to aa3051c
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.392
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release vsphere-cpi to 1.26.0
  cluster/kube-system/vsphere-cpi/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.5.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.51.3
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix: update flux deployment
  cluster/flux-system/deploy/oci-repository.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 3e74130
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.51.5
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.11
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes
