Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

feat: add zwave-js back to cluster
  archived/zwavejs2mqtt/helm-release.yaml
  archived/zwavejs2mqtt/node-feature-rule.yaml
  archived/zwavejs2mqtt/pod-priority.yaml
  cluster/home/kustomization.yaml
  cluster/home/zwave-js-ui.yaml
  cluster/home/zwave-js-ui/helm-release.yaml
  cluster/home/zwave-js-ui/kustomization.yaml
  cluster/home/zwave-js-ui/node-feature-rule.yaml
Labels: kubernetes

fix: woops, domain name is a variable
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

fix: typo in liveness probes
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

fix: remove priority class name
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat: temporarily disable node selector
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.6.2
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.31.1.6782-77dfff442
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.6.3
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(deps): update fluxcd/flux2 to v0.41.0
  bootstrap/flux/kustomization.yaml
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.10.1
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat: add node antiaffinity to prevent scheduling on vmware nodes
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat: update dependencies, clean up healthchecks
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/overseerr.yaml
  cluster/mediaserver/plex.yaml
  cluster/mediaserver/prowlarr.yaml
  cluster/mediaserver/radarr-uhd.yaml
  cluster/mediaserver/radarr.yaml
  cluster/mediaserver/recyclarr.yaml
  cluster/mediaserver/sabnzbd.yaml
  cluster/mediaserver/shared-pvc.yaml
  cluster/mediaserver/sonarr.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.6.4
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release kubelet-csr-approver to 0.2.8
  cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.15
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to c043073
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(docker-image): update ghcr.io/onedr0p/tautulli docker tag to v2.12.0
  cluster/apps/mediaserver/tautulli/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.401
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: use registry.k8s.io for repository
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix: because vmware doesn't publish images to the same repos
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.1
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.1
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.31.2.6810-a607d384f
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: remove unused file
  cluster/vsphere-csi/vsphere-csi.yaml
Labels: kubernetes

ci(github-action): update actions/checkout action to v3.4.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 34200a7
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): replace k8s.gcr.io/autoscaling/vpa-recommender docker tag with registry.k8s.io/autoscaling/vpa-recommender 0.13.0
  cluster/apps/monitoring/vpa/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release weave-gitops to 4.0.16
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

feat: move goldilocks to new structure
  cluster/monitoring/goldilocks.yaml
  cluster/monitoring/goldilocks/helm-release.yaml
  cluster/monitoring/goldilocks/helm-repository.yaml
  cluster/monitoring/goldilocks/kustomization.yaml
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
  cluster/monitoring/goldilocks/vpa/kustomization.yaml
  cluster/monitoring/kustomization.yaml
Labels: kubernetes

feat: clean up of legacy directories
  cluster/apps/home/kustomization.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: kubernetes

fix(helm-chart): update helm release cilium to 1.13.1
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.2
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(deps): update fluxcd/flux2 to v0.41.1
  bootstrap/flux/kustomization.yaml
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/tautulli docker tag to v2.12.2
  cluster/apps/mediaserver/tautulli/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.52.4
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kured to 4.4.2
  cluster/kube-system/kured/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release external-secrets to 0.8.1
  cluster/external-secrets/deploy/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.11.0
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat: add usb to zwave key back to cluster
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes
