Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: switch to flux operator (#2482)
  kubernetes/apps/flux-system/flux.yaml
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
  kubernetes/apps/flux-system/flux/instance/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/name-reference.yaml
  kubernetes/apps/flux-system/flux/instance/release.yaml
  kubernetes/apps/flux-system/flux/kustomization.yaml
  kubernetes/apps/flux-system/flux/operator/helm-values.yaml
  kubernetes/apps/flux-system/flux/operator/kustomization.yaml
  kubernetes/apps/flux-system/flux/operator/name-reference.yaml
  kubernetes/apps/flux-system/flux/operator/release.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/resources/helm-values.yaml
  kubernetes/flux/repositories/helm/controlplaneio.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

fix: ugh, fix one but not the other
  kubernetes/apps/flux-system/flux/operator/release.yaml
Labels: kubernetes

feat: adjust some settings across the flux setup
  kubernetes/apps/flux-system/addons/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/github/notifications/alert.yaml
  kubernetes/apps/flux-system/addons/github/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/addons/github/webhooks/receiver.yaml
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
Labels: kubernetes

feat: next phase of migration, remove old sync
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/config/sync.yaml
Labels: kubernetes

feat: alerts, notifications and providers ohhh myyyy
  kubernetes/apps/flux-system/addons.yaml
  kubernetes/apps/flux-system/addons/github/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/webhook/external-secret.yaml
  kubernetes/apps/flux-system/flux/instance/webhook/http-route.yaml
  kubernetes/apps/flux-system/flux/instance/webhook/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/webhook/receiver.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/components/flux/alerts/alertmanager/alert.yaml
  kubernetes/components/flux/alerts/alertmanager/kustomization.yaml
  kubernetes/components/flux/alerts/alertmanager/provider.yaml
  kubernetes/components/flux/alerts/github/alert.yaml
  kubernetes/components/flux/alerts/github/external-secret.yaml
  kubernetes/components/flux/alerts/github/kustomization.yaml
  kubernetes/components/flux/alerts/github/provider.yaml
  kubernetes/components/flux/alerts/kustomization.yaml
Labels: kubernetes

feat: adjust revision tag on flux manifest
  .github/workflows/publish-manifests.yaml
Labels: github

feat: finish up flux-operator installation, forgot to do this part
  kubernetes/apps/arc-system/controller.yaml
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/cnpg-system/cnpg-operator.yaml
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/talos-ccm/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/logging-stack.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/volsync-system/volsync.yaml
Labels: kubernetes

feat: finish up flux-operator, finalize the main flux ks pruning
  kubernetes/flux/config/apps.yaml
  kubernetes/flux/config/repositories.yaml
Labels: kubernetes

feat: disabling github notifications until next release of flux
  kubernetes/components/flux/alerts/kustomization.yaml
Labels: kubernetes

chore: flux-local now tests!
  .github/workflows/flux-local.yaml
Labels: github

chore: fix the name, cause it tests!
  .github/workflows/flux-local.yaml
Labels: github

chore: update helmfile deployment for flux operator
  bootstrap/helmfile.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
Labels: kubernetes

feat: remove deprecatd configuration
  kubernetes/apps/monitoring/logging-stack/loki.yaml
Labels: kubernetes

fix: add sources to test args
  .github/workflows/flux-local.yaml
Labels: github

feat: add intel device manager to groups config
  .renovate/groups.json5
Labels: none

chore: simplify the job names
  .github/workflows/flux-local.yaml
Labels: github

feat: add teh suc
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/app.yaml
  kubernetes/apps/kube-system/system-upgrade/resources/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/resources/release.yaml
Labels: kubernetes

fix: left this one a bit too long
  kubernetes/apps/kube-system/system-upgrade/app.yaml
Labels: kubernetes

fix: yeah it's been a real long time
  kubernetes/apps/kube-system/system-upgrade/app.yaml
Labels: kubernetes

fix: wow.. I'm really lack of sleep
  kubernetes/apps/kube-system/system-upgrade/app.yaml
Labels: kubernetes

fix: pin the specific version
  kubernetes/apps/kube-system/system-upgrade/resources/release.yaml
Labels: kubernetes

fix: add proper rbac
  kubernetes/apps/kube-system/system-upgrade/resources/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/resources/rbac.yaml
Labels: kubernetes

feat: ceph used for non-replicated block stores, needs additional config options for upgrades
  kubernetes/apps/rook-ceph/resources/cluster.yaml
Labels: kubernetes

chore: clean up the comment
  kubernetes/apps/rook-ceph/resources/cluster.yaml
Labels: kubernetes

fix: adjusting wait timeout, drop the 'm'
  kubernetes/apps/rook-ceph/resources/cluster.yaml
Labels: kubernetes

feat: finally add plans
  kubernetes/apps/kube-system/system-upgrade/plans.yaml
  kubernetes/apps/kube-system/system-upgrade/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/plans/talos.yaml
Labels: kubernetes

fix: add plans to kustomization
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

fix: apparently this broke zigbee2mqtt
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
Labels: kubernetes

fix: woops, receiver brokie
  kubernetes/apps/flux-system/flux/instance/webhook/receiver.yaml
Labels: kubernetes

fix: missing variables, lets see
  kubernetes/apps/kube-system/system-upgrade/plans/talos.yaml
  kubernetes/apps/kube-system/system-upgrade/resources/release.yaml
Labels: kubernetes

feat: add cosign verification to oci repository
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
Labels: kubernetes

feat: add flux repository sync on PR creation
  .github/workflows/flux-repository-sync.yaml
Labels: github

chore: adjust some naming of steps and jobs
  .github/workflows/flux-repository-sync.yaml
Labels: github

chore: clean up workflow structure
  .github/workflows/publish-manifests.yaml
Labels: github

fix: add the yq binary
  .github/workflows/flux-repository-sync.yaml
Labels: github

fix: uses the authors github action, cause why wouldn't I.....
  .github/workflows/flux-repository-sync.yaml
Labels: github

fix: try another way
  .github/workflows/flux-repository-sync.yaml
Labels: github

fix: try this version
  .github/workflows/flux-repository-sync.yaml
Labels: github

feat: add github runners rbac roles
  kubernetes/apps/arc-system/runner/roles/crd-view.yaml
  kubernetes/apps/arc-system/runner/roles/flux-repositories.yaml
  kubernetes/apps/arc-system/runner/roles/kustomization.yaml
  kubernetes/apps/arc-system/runner/service-account.yaml
Labels: kubernetes

fix: add patch verb to cluste role
  kubernetes/apps/arc-system/runner/roles/flux-repositories.yaml
Labels: kubernetes
