Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

ci(github-action)!: Update actions/labeler action to v5
  .github/workflows/labeler.yaml
Labels: github

ci(github-action): update actions/setup-python action to v4.8.0
  .github/workflows/publish-schemas.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 4b35e6f
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

chore(docker-image): update image public.ecr.aws/docker/library/busybox to 1ceb872
  kubernetes/apps/mediaserver/recyclarr/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/plex to v1.32.8.7639-fb6452ebf
  kubernetes/apps/mediaserver/plex/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/tautulli to v2.13.3
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

ci(github-action)!: Update actions/setup-python action to v5.0.0
  .github/workflows/publish-schemas.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 4b35e6f
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: none

feat(terraform-provider): update terraform time to 0.10.0
  infrastructure/terraform/azure/provider.tf
Labels: terraform

chore(docker-image): update image public.ecr.aws/docker/library/busybox to 1ceb872
  kubernetes/apps/mediaserver/recyclarr/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/tautulli to v2.13.4
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

feat(docker-image)!: Update image ghcr.io/onedr0p/postgres-init to v16
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

feat(helm-chart): update chart loki to 5.40.1
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to 7640a36
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/radarr-develop to bdc6980
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/sabnzbd to 1c16505
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/sonarr-develop to 7f14968
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: none

chore(docker-image): update image ghcr.io/onedr0p/tautulli to 7682cdc
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

feat(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.0.4128
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.1.4146
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: none

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.2.4.8328
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: none

fix(docker-image): update image weave-gitops to v4.0.36
  kubernetes/apps/monitoring/weave-gitops/release.yaml
Labels: none

feat(docker-image): update image app-template to v2.4.0
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: none

feat(docker-image): update image kube-prometheus-stack to v55.1.0
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none

taskfiles: update, forgot what they were, could be good
  .taskfiles/ansible.yml
  .taskfiles/externalsecret.yml
  .taskfiles/flux.yml
  .taskfiles/format.yml
  .taskfiles/kubernetes.yaml
  .taskfiles/lint.yml
  Taskfile.yml
Labels: none

feat: add truenas-csp CSI to cluster
  kubernetes/infrastructure/controllers/truenas-csp/kustomization.yaml
  kubernetes/infrastructure/controllers/truenas-csp/namespace.yaml
  kubernetes/infrastructure/controllers/truenas-csp/repository.yaml
Labels: none

feat: enable truenas-csp deployment
  kubernetes/infrastructure/controllers/truenas-csp/kustomization.yaml
  kubernetes/infrastructure/controllers/truenas-csp/release.yaml
Labels: none

fix: use proper version
  kubernetes/infrastructure/controllers/truenas-csp/release.yaml
Labels: none

fix: set proper pod security contexts
  kubernetes/infrastructure/controllers/truenas-csp/release.yaml
Labels: none

feat: remove truenas-csp, no csi for truenas
  kubernetes/infrastructure/controllers/truenas-csp/kustomization.yaml
  kubernetes/infrastructure/controllers/truenas-csp/namespace.yaml
  kubernetes/infrastructure/controllers/truenas-csp/release.yaml
  kubernetes/infrastructure/controllers/truenas-csp/repository.yaml
Labels: none

fix(helm-chart): update chart grafana to 7.0.14
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: none

feat(docker-image): update image kube-prometheus-stack to v55.3.0
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: none
