Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix: use new pool url
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
Labels: kubernetes

fix: use direct db rw endpoint
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
Labels: kubernetes

fix: add super user access
  kubernetes/apps/mediaserver/mediaserver-db/cluster.yaml
  kubernetes/apps/mediaserver/mediaserver-db/pooler.yaml
Labels: kubernetes

fix: use pool
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
Labels: kubernetes

fix: use proper db backend
  kubernetes/apps/mediaserver/mediaserver-db/pooler.yaml
Labels: kubernetes

feat: disable pgsql
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
Labels: kubernetes

fix: cause, I'm a big stupid idiot
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
Labels: kubernetes

feat: update profile settings
  kubernetes/apps/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

feat: add backup and commit pooler to config
  kubernetes/apps/mediaserver/mediaserver-db/kustomization.yaml
  kubernetes/apps/mediaserver/mediaserver-db/scheduled-backup.yaml
Labels: kubernetes

feat: add anti-affninity so poolers run on different nodes
  kubernetes/apps/mediaserver/mediaserver-db/pooler.yaml
Labels: kubernetes

fix: expand emqx storage 100M is too little I guess
  kubernetes/apps/home/emqx/release.yaml
Labels: kubernetes

fix: restore 100Mi
  kubernetes/apps/home/emqx/release.yaml
Labels: kubernetes

feat: switch to using democratic-csi and zfs-nvmeof
  kubernetes/apps/home/emqx/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
Labels: kubernetes

reference new pvc storage class
  kubernetes/apps/mediaserver/media-pvc/downloads-persistent-volume.yaml
  kubernetes/apps/mediaserver/media-pvc/movies-persistent-volume.yaml
  kubernetes/apps/mediaserver/media-pvc/tv-persistent-volume.yaml
  kubernetes/apps/mediaserver/mediaserver-db/cluster.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
Labels: kubernetes

feat: switch out csi provider
  .archive/vsphere-cpi/external-secret.yaml
  .archive/vsphere-cpi/kustomization.yaml
  .archive/vsphere-cpi/release.yaml
  .archive/vsphere-csi/external-secret.yaml
  .archive/vsphere-csi/kustomization.yaml
  .archive/vsphere-csi/namespace.yaml
  .archive/vsphere-csi/release.yaml
  .archive/vsphere-csi/repository.yaml
  kubernetes/infrastructure/controllers/democratic-csi/external-secret.yaml
  kubernetes/infrastructure/controllers/democratic-csi/kustomization.yaml
  kubernetes/infrastructure/controllers/democratic-csi/namespace.yaml
  kubernetes/infrastructure/controllers/democratic-csi/release.yaml
  kubernetes/infrastructure/controllers/democratic-csi/repository.yaml
Labels: kubernetes

feat: switch out csi provider
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
  kubernetes/monitoring/controllers/minio/release.yaml
Labels: kubernetes

feat: archive terraform sops/keyvault in azure
  .archive/terraform/azure/README.md
  .archive/terraform/azure/backend.tf
  .archive/terraform/azure/keyvault.tf
  .archive/terraform/azure/main.tf
  .archive/terraform/azure/provider.tf
  .archive/terraform/azure/sops.tf
  .archive/terraform/azure/vault.tf
Labels: none

fix: restore autoMount token because of grafana/helm-charts#2977
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: kubernetes

feat: add custom managers, manage cnpg updates
  .envrc
  .github/renovate.json5
  .github/renovate/customManagers.json5
Labels: github

feat: update regex selection for files
  .github/renovate.json5
Labels: github

feat: re-organize renovate slightly
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: github

feat: refactor tasks for upgrading
  .taskfiles/talos/Taskfile.yml
Labels: none

feat: add custom manager to monitor for custom changes
  .github/renovate/customManagers.json5
Labels: github

chore: move the terraform to the archive
  .archive/infrastructure/cloudflare/.envrc
  .archive/infrastructure/cloudflare/main.tf
  .archive/infrastructure/cloudflare/modules/cloudflare_delegation_record/main.tf
  .archive/infrastructure/cloudflare/modules/cloudflare_delegation_record/variables.tf
  .archive/infrastructure/cloudflare/records.tf
  .archive/infrastructure/cloudflare/variables.tf
  .archive/infrastructure/cloudflare/zone_settings.tf
  .archive/infrastructure/cloudflare/zone_waf.tf
Labels: none

chore: -nix, too complicated
  .envrc
  flake.lock
  flake.nix
Labels: none

chore: clean up taskfiles
  .taskfiles/externalsecret/Taskfile.yml
  .taskfiles/k8s/Taskfile.yml
Labels: none

feat: add new storage mount point for tv shows
  kubernetes/apps/mediaserver/media-pvc/kustomization.yaml
  kubernetes/apps/mediaserver/media-pvc/storage-tv.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

feat: add new storage mount point for tv shows
  kubernetes/apps/mediaserver/plex/release.yaml
Labels: kubernetes

fix: change the mounts
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

feat: add zwave-js-ui to cluster
  .archive/zwave-js-ui/helm-release.yaml
  kubernetes/apps/home/zwave-js-ui/http-route.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/node-feature-rule.yaml
  kubernetes/apps/home/zwave-js-ui/release.yaml
  kubernetes/apps/home/zwave-js-ui/repository.yaml
Labels: kubernetes

feat: add external secret
  kubernetes/apps/home/zwave-js-ui/external-secret.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
Labels: kubernetes

feat: add zwave-js secrets
  kubernetes/apps/home/zwave-js-ui/release.yaml
Labels: kubernetes

fix: typo on http/host route
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
Labels: kubernetes

fix: add namespace to kustomization
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
Labels: kubernetes

fix: my damn json and custom manager
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: github

fix: remove storage mount for plex
  kubernetes/apps/mediaserver/plex/release.yaml
Labels: kubernetes

fix: add path to global mounts, not sure how I missed that
  kubernetes/apps/home/zwave-js-ui/release.yaml
Labels: kubernetes

feat: set pod security baseline and add common repository
  kubernetes/apps/home/base/kustomization.yaml
  kubernetes/apps/home/base/namespace.yaml
  kubernetes/apps/home/base/repository.yaml
Labels: kubernetes

feat: add enforce pod security
  kubernetes/apps/home/base/namespace.yaml
Labels: kubernetes

feat: switch to using home charts
  kubernetes/apps/home/homebridge/release.yaml
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/home/zwave-js-ui/release.yaml
Labels: kubernetes
