Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: adjust some resource requests
  kubernetes/apps/default/radarr/resources/release.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: adjust overseerr timeout delays
  kubernetes/apps/default/overseerr/resources/release.yaml
Labels: kubernetes

feat: enable rook ochrestrator in ceph
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: add some volsync tasks to help manage volume recovery
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list.tmpl.yaml
Labels: none

fix: add pod-security warning config to reduce log noise
  kubernetes/apps/rook-ceph/namespace.yaml
Labels: kubernetes

fix: adjust exemption namespaces for pod security admission
  bootstrap/talos/profiles/controlplane.enc.yaml
Labels: none

feat: adjust some tasks
  .taskfiles/volsync/Taskfile.yaml
Labels: none

feat: bump to beta release of talos to get k8s upgrade rolling
  kubernetes/apps/system-upgrade/plans/kubernetes.yaml
Labels: kubernetes

fix: spegel doesn't support containerd v2, this version does
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
Labels: kubernetes

feat: switch to using upstream rancher controller
  kubernetes/apps/system-upgrade/controller/resources/release.yaml
Labels: kubernetes

feat: use version that supports containerd v2
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
Labels: kubernetes

fix: adjust http probe endpoints
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
Labels: kubernetes

fix: use updated image
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
Labels: kubernetes

fix: add proper talos rbac for system upgrade
  kubernetes/apps/system-upgrade/controller/resources/cluster-role-binding.yaml
  kubernetes/apps/system-upgrade/plans/kubernetes.yaml
Labels: kubernetes

feat: adjust cluster params to upgrade to 16.4
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: update renovate configuration
  .github/renovate/allowedVersions.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
Labels: github

feat: update renovate configuration
  .github/renovate.json5
Labels: github

feat: remove workaround before merging new version
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
Labels: kubernetes

feat: update recyclarr config to reflect new version
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

feat: add streaming quality profiles to recyclarr
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

fix: 'cause typos happen'
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

feat: adjust profiles
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

feat: adjust versioning and add package update schedule
  .github/renovate.json5
  .github/renovate/schedule.json5
  .github/renovate/versioning.json5
Labels: github

fix: adjust linguist detections
  .gitattributes
Labels: none

fix: adjust linguist detections
  .gitattributes
Labels: none

fix: adjust linguist detections
  .gitattributes
Labels: none

fix: adjust linguist detections
  .gitattributes
Labels: none

fix: adjust linguist detections
  .gitattributes
Labels: none

fix: adjust linguist detections
  .gitattributes
Labels: none

feat: adjust formatting, take advantage of json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/schedule.json5
Labels: github

feat: re-encrypt files
  bootstrap/talos/profiles/controlplane.enc.yaml
  bootstrap/talos/profiles/worker.enc.yaml
Labels: none

feat: add base csi-proxmox resources
  kubernetes/apps/csi-proxmox/kustomization.yaml
  kubernetes/apps/csi-proxmox/namespace.yaml
  kubernetes/apps/csi-proxmox/sources/csi-proxmox.yaml
  kubernetes/apps/csi-proxmox/sources/kustomization.yaml
Labels: kubernetes

fix: wrong oci repo path
  kubernetes/apps/csi-proxmox/sources/csi-proxmox.yaml
Labels: kubernetes

fix: adjust topolocy names to align with proxmox clusters
  bootstrap/talos/profiles/controlplane.enc.yaml
  bootstrap/talos/profiles/worker.enc.yaml
Labels: none

fix: re-create cluster in a clean pvc state
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: add proxmox csi
  kubernetes/apps/csi-proxmox/app.yaml
  kubernetes/apps/csi-proxmox/resources/external-secret.yaml
  kubernetes/apps/csi-proxmox/resources/kustomization.yaml
Labels: kubernetes

feat: add proxmox csi
  kubernetes/apps/csi-proxmox/kustomization.yaml
Labels: kubernetes

feat: add proxmox csi plugin
  kubernetes/apps/csi-proxmox/resources/kustomization.yaml
  kubernetes/apps/csi-proxmox/resources/release.yaml
Labels: kubernetes

feat: add talos-ccm helm source
  kubernetes/apps/kube-system/talos-ccm/kustomization.yaml
  kubernetes/apps/kube-system/talos-ccm/sources/kustomization.yaml
  kubernetes/apps/kube-system/talos-ccm/sources/siderolabs-talos-ccm.yaml
Labels: kubernetes

feat: woops, put it in the right spot
  kubernetes/apps/kube-system/sources/kustomization.yaml
  kubernetes/apps/kube-system/sources/siderolabs-talos-ccm.yaml
  kubernetes/apps/kube-system/talos-ccm/sources/kustomization.yaml
Labels: kubernetes
