Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: tweak automerge, maybe it'll work
  .github/renovate/autoMerge.json
Labels: github

feat(docker-image): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.14.0
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat: start creating changes for new cluster
  cluster/ingress-system/kustomization.yaml
  cluster/ingress-system/nginx/helm-release.yaml
  cluster/kube-system/cilium/cilium-bgp-peering-policy.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/prowlarr.yaml
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

feat: update sonarr deployment
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/sonarr.yaml
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: update remaining deployments
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/radarr-uhd.yaml
  cluster/mediaserver/radarr-uhd/helm-release.yaml
  cluster/mediaserver/radarr.yaml
  cluster/mediaserver/radarr/helm-release.yaml
  cluster/mediaserver/sabnzbd.yaml
  cluster/mediaserver/sabnzbd/helm-release.yaml
  cluster/mediaserver/sonarr/helm-release.yaml
  cluster/mediaserver/tautulli.yaml
  cluster/mediaserver/tautulli/helm-release.yaml
Labels: kubernetes

fix: add pod security context configuration for tautulii
  cluster/mediaserver/tautulli/helm-release.yaml
Labels: kubernetes

fix: no longer need to schedule on non-cluster nodes
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat: last few changes to mediaserver, remove ceph-pvc
  cluster/mediaserver/cephfs-pvc/persistent-volume-claim.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/overseerr/helm-release.yaml
  cluster/mediaserver/plex/helm-release.yaml
  cluster/mediaserver/shared-pvc.yaml
Labels: kubernetes

fix: woops, forgot to remove dependency
  cluster/mediaserver/overseerr.yaml
  cluster/mediaserver/plex.yaml
Labels: kubernetes

fix(helm-chart): update helm release cilium to 1.13.2
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

feat: update home namespace for new cluster
  cluster/home/cephfs-pvc/kustomization.yaml
  cluster/home/cephfs-pvc/persistent-volume-claim.yaml
  cluster/home/kustomization.yaml
  cluster/home/mosquitto.yaml
  cluster/home/shared-pvc.yaml
  cluster/home/zigbee2mqtt.yaml
  cluster/home/zwave-js-ui.yaml
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat: update home namespace for new cluster
  cluster/home/mosquitto/helm-release.yaml
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release node-feature-discovery to 0.13.0
  cluster/kube-system/node-feature-discovery/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release vpa to 1.7.2
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
Labels: kubernetes

fix: put resources in proper namespace
  cluster/kube-system/node-feature-discovery.yaml
  cluster/monitoring/kube-prometheus-stack.yaml
Labels: kubernetes

fix: properly describe persistence
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix: properly describe persistence
  cluster/home/zigbee2mqtt/helm-release.yaml
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to ce5d5ae
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to ce5d5ae
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: update cilium configuration
  cluster/kube-system/cilium.yaml
  cluster/kube-system/cilium/helm-release.yaml
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: update metrics server and nfd kustomizations
  cluster/kube-system/metrics-server.yaml
  cluster/kube-system/node-feature-discovery.yaml
Labels: kubernetes

fix: cilium, disable maglev
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

fix: downgrade cilium, until it's fixed
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

feat: clean up kube-system deploymens
  cluster/kube-system/csi-driver-nfs.yaml
  cluster/kube-system/intel-gpu-plugin/helm-repository.yaml
  cluster/kube-system/intel-gpu-plugin/intel-gpu-operator.yaml
  cluster/kube-system/intel-gpu-plugin/intel-gpu-plugin.yaml
  cluster/kube-system/intel-gpu-plugin/kustomization.yaml
  cluster/kube-system/intel-gpu-plugin/operator/helm-release.yaml
  cluster/kube-system/intel-gpu-plugin/operator/kustomization.yaml
  cluster/kube-system/intel-gpu-plugin/plugin/helm-release.yaml
  cluster/kube-system/intel-gpu-plugin/plugin/kustomization.yaml
  cluster/kube-system/kured.yaml
  cluster/kube-system/kured/external-secret.yaml
  cluster/kube-system/kured/helm-release.yaml
  cluster/kube-system/kured/helm-repository.yaml
  cluster/kube-system/kured/kustomization.yaml
  cluster/kube-system/kured/prometheus-rule.yaml
  cluster/kube-system/kustomization.yaml
  cluster/kube-system/snapshot-controller.yaml
  cluster/kube-system/snapshot-controller/helm-release.yaml
  cluster/kube-system/snapshot-controller/helm-repository.yaml
  cluster/kube-system/snapshot-controller/kustomization.yaml
  cluster/kube-system/snapshot-controller/webhook/helm-release.yaml
  cluster/kube-system/snapshot-controller/webhook/kustomization.yaml
  cluster/kube-system/vsphere-cpi.yaml
  cluster/kube-system/vsphere-cpi/external-secret.yaml
  cluster/kube-system/vsphere-cpi/helm-release.yaml
  cluster/kube-system/vsphere-cpi/helm-repository.yaml
  cluster/kube-system/vsphere-cpi/kustomization.yaml
Labels: kubernetes

feat: clean up kube-system deployments
  Taskfile.yml
Labels: none

feat: clean up kube-system deployments
  cluster/kube-system/descheduler.yaml
  cluster/kube-system/kubelet-csr-approver.yaml
  cluster/kube-system/metrics-server.yaml
  cluster/kube-system/reloader.yaml
Labels: kubernetes

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.3
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release goldilocks to 6.5.5
  cluster/monitoring/goldilocks/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 431a3c1
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 431a3c1
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.32.0.6973-a787c5a8e
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 215d44d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 215d44d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

ci(github-action): update tj-actions/changed-files action to v35.9.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 1b67ebf
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 1b67ebf
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

ci(github-action): update peter-evans/find-comment action to v2.4.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 2bddb5d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 2bddb5d
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
