Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

chore: part 4 reconfigure flux-instance
  kubernetes/apps/flux-system/flux-instance/resources/helm-release.yaml
Labels: kubernetes

chore: re-enable pruning
  kubernetes/flux/config/apps.yaml
Labels: kubernetes

chore: bye bye publish-manifests
  .github/workflows/publish-manifests.yaml
Labels: github

feat: add kopia ui
  kubernetes/apps/volsync-system/kopia/app.yaml
  kubernetes/apps/volsync-system/kopia/resources/helm-release.yaml
  kubernetes/apps/volsync-system/kopia/resources/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/resources/repository.config
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: kubernetes

fix: typo, woopsie
  kubernetes/apps/volsync-system/kopia/app.yaml
Labels: kubernetes

fix: another typo, another woopsie
  kubernetes/apps/volsync-system/kopia/app.yaml
Labels: kubernetes

fix: i'm super good at this
  kubernetes/apps/volsync-system/kopia/app.yaml
Labels: kubernetes

feat: add password configuration
  kubernetes/apps/volsync-system/kopia/resources/external-secret.yaml
  kubernetes/apps/volsync-system/kopia/resources/helm-release.yaml
  kubernetes/apps/volsync-system/kopia/resources/kustomization.yaml
Labels: kubernetes

feat: adjust kopia-ui configuration
  kubernetes/apps/volsync-system/kopia/resources/helm-release.yaml
  kubernetes/apps/volsync-system/kopia/resources/repository.config
Labels: kubernetes

feat: switch to perfectra1n's fork of volsync, for kopia!
  kubernetes/apps/volsync-system/volsync/resources/helm-release.yaml
  kubernetes/apps/volsync-system/volsync/resources/oci-repository.yaml
Labels: kubernetes

feat: switch to kopia backup solution
  kubernetes/components/volsync/external-secret.yaml
  kubernetes/components/volsync/kopia-test.yaml
  kubernetes/components/volsync/replication-destination.yaml
  kubernetes/components/volsync/replication-source.yaml
Labels: kubernetes

fix: oh yeah, this needs to be changed - oh and 5000 api limit
  .github/workflows/flux-local.yaml
Labels: github

fix: ugh, remove the test
  .github/workflows/flux-local.yaml
Labels: github

feat: lets add some codeql!
  .github/workflows/codeql.yaml
Labels: github

feat: lets try and add some codeql again!
  .github/workflows/codeql.yaml
Labels: github

feat: add image pre-pull instead of repo sync
  .github/workflows/flux-repository-sync.yaml
  .github/workflows/image-pull.yaml
Labels: github

feat: taskfiles be gone!
  .taskfiles/1password/Taskfile.yml
  .taskfiles/1password/kubeconfig.tpl
  .taskfiles/1password/talosconfig.tpl
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/externalsecret/Taskfile.yml
  .taskfiles/flux/Taskfile.yml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/restore.yaml.j2
  .taskfiles/volsync/resources/unlock.yaml.j2
  Taskfile.yaml
Labels: none

chore: rebuilt a node, tested just scripts, made fixes
  talos/mod.just
  talos/nodes/talos-worker01.yaml
  talos/schematics/rpi.yaml
Labels: none

feat: small adjustment in schematic, this works to quiet poe fans
  talos/nodes/talos-worker01.yaml
Labels: none

feat: update yamlfmt
  .yamlfmt
  .yamlfmt.yaml
Labels: none

feat: add smartctl-exporter, because I should know
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app.yaml
  kubernetes/apps/monitoring/smartctl-exporter/resources/helm-release.yaml
  kubernetes/apps/monitoring/smartctl-exporter/resources/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/resources/oci-repository.yaml
Labels: kubernetes

fix: add node scheduling
  kubernetes/apps/monitoring/smartctl-exporter/resources/helm-release.yaml
Labels: kubernetes

fix: add proper affinity configuration
  kubernetes/apps/monitoring/smartctl-exporter/resources/helm-release.yaml
Labels: kubernetes

fix: image-pull, incorrectly set secrets
  .github/workflows/image-pull.yaml
Labels: github

fix: bunch of wrongness, fixed?
  .github/workflows/image-pull.yaml
Labels: github

fix: more fixes
  .github/workflows/image-pull.yaml
Labels: github

fix: oh yeah, more
  .github/workflows/image-pull.yaml
Labels: github

fix: maybe this is the last bit?
  .github/workflows/image-pull.yaml
Labels: github

fix: I clearly don't know how his works
  .github/workflows/image-pull.yaml
Labels: github

fix: a bit better
  .github/workflows/image-pull.yaml
Labels: github

fix: use the proper env var
  .github/workflows/image-pull.yaml
Labels: github

feat: one final update before turning it over to talos api access
  .github/workflows/image-pull.yaml
Labels: github

feat: cluster side of pre-pull images
  kubernetes/apps/arc-system/runner/resources/helm-release.yaml
  kubernetes/apps/arc-system/runner/resources/roles/flux-repositories.yaml
  kubernetes/apps/arc-system/runner/resources/roles/kustomization.yaml
  kubernetes/apps/arc-system/runner/resources/roles/talos-admin.yaml
  talos/machineconfig.yaml.j2
Labels: kubernetes

fix: why-o-why did that break
  .github/workflows/image-pull.yaml
Labels: github

chore: unused
  .renovate/allowedVersions.json5
Labels: none

chore: put temporary package rule into versioning
  .renovate/versioning.json5
  renovate.json5
Labels: none

chore: add dedicated node taint
  kubernetes/apps/kube-system/talos-ccm/resources/helm-release.yaml
Labels: kubernetes

fix: forgot to remove allowedVersions
  renovate.json5
Labels: none

fix: not a map
  kubernetes/apps/kube-system/talos-ccm/resources/helm-release.yaml
Labels: kubernetes

Revert "fix: not a map"
  kubernetes/apps/kube-system/talos-ccm/resources/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
