Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 1960776
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: update provider, use api-token create delegation module
  infrastructure/terraform/cloudflare/mcfio/main.tf
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/main.tf
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/variables.tf
  infrastructure/terraform/cloudflare/mcfio/records.tf
  infrastructure/terraform/cloudflare/mcfio/variables.tf
Labels: terraform

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 083850e
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: add ttl to module configuration
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/main.tf
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/variables.tf
Labels: terraform

feat: change ttl to 1h for milton delegation
  infrastructure/terraform/cloudflare/mcfio/records.tf
Labels: terraform

feat: change ttl to 1h for milton delegation
  infrastructure/terraform/cloudflare/mcfio/records.tf
Labels: terraform

change module default to 1hr
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/variables.tf
  infrastructure/terraform/cloudflare/mcfio/records.tf
Labels: terraform

add azure delegated zone to configuration
  infrastructure/terraform/cloudflare/mcfio/records.tf
Labels: terraform

fix: use list[index] rather than element()
  infrastructure/terraform/cloudflare/mcfio/modules/cloudflare_delegation_record/main.tf
Labels: terraform

feat: move zigbee2mqtt to new deployment, use git driven config
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/home/helm-repository.yaml
  cluster/home/kustomization.yaml
  cluster/home/zigbee2mqtt.yaml
  cluster/home/zigbee2mqtt/external-secret.yaml
  cluster/home/zigbee2mqtt/helm-release.yaml
  cluster/home/zigbee2mqtt/kustomization.yaml
Labels: kubernetes

feat: move zigbee2mqtt to new deployment
  cluster/apps/kustomization.yaml
Labels: kubernetes

fix: use proper secret
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.388
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to e70cbb5
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 3fb7b98
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 5d93d76
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.50.8
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to da40ce9
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 77f7c43
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to a1231ce
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: start enabling vsphere-cpi
  cluster/kube-system/kustomization.yaml
  cluster/kube-system/vsphere-cpi.yaml
  cluster/kube-system/vsphere-cpi/helm-release.yaml
  cluster/kube-system/vsphere-cpi/helm-repository.yaml
  cluster/kube-system/vsphere-cpi/kustomization.yaml
Labels: kubernetes

feat: add deployment of vsphere-cpi
  cluster/kube-system/vsphere-cpi/external-secret.yaml
  cluster/kube-system/vsphere-cpi/helm-release.yaml
  cluster/kube-system/vsphere-cpi/kustomization.yaml
Labels: kubernetes

feat: disable due to no arm64 support, cluster is migrating though
  cluster/kube-system/vsphere-cpi/kustomization.yaml
Labels: kubernetes

feat: add vsphere-csi driver
  cluster/kustomization.yaml
  cluster/vsphere-csi/kustomization.yaml
  cluster/vsphere-csi/namespace.yaml
Labels: kubernetes

fix: use proper namespace name
  cluster/vsphere-csi/namespace.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.390
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.3.0.2757
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

feat(deps): update fluxcd/flux2 to v0.40.1
  bootstrap/flux/kustomization.yaml
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.3.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.391
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 4.7.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: move flux deployment to new structure
  cluster/flux-system/deploy/flux.yaml
  cluster/flux-system/deploy/kustomization.yaml
  cluster/flux-system/deploy/oci-repository.yaml
  cluster/flux-system/kustomization.yaml
  cluster/flux/kustomization.yaml
Labels: kubernetes

fix(helm-chart): update helm release emqx to 5.0.18
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: use proper manifest configuration for storage class
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: use local for external policy
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

feat: switch to local-path csi driver
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix: not auto-updating, bumping manually
  cluster/flux-system/deploy/oci-repository.yaml
Labels: kubernetes

fix: use ceph-block storage rather than local path
  cluster/home/emqx/helm-release.yaml
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.15.4
  .pre-commit-config.yaml
Labels: none

fix: disable promtail, getting out of hand
  cluster/monitoring/kustomization.yaml
Labels: kubernetes
