Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: use the step name not the tool name, ya tool
  .github/workflows/publish-manifests.yaml
Labels: github

fix: order of operations matters, flux reconciles after tags, signatures do not exist
  .github/workflows/publish-manifests.yaml
Labels: github

feat: remove flux manifests
  kubernetes/apps/flux-system/sources/flux-manifests.yaml
  kubernetes/apps/flux-system/sources/kustomization.yaml
Labels: kubernetes

feat: no more sops
  .mise.toml
  .sops.yaml
  .taskfiles/talos/Taskfile.yaml
  talos/controlplane.enc.yaml.j2
  talos/controlplane.yaml.j2
  talos/worker.enc.yaml.j2
  talos/worker.yaml.j2
Labels: none

feat: update git attributes/ignore files
  .gitattributes
  .gitignore
Labels: none

feat: clean up some formatting
  talos/controlplane.yaml.j2
  talos/worker.yaml.j2
Labels: none

feat: switch to using ceph non-replicated storage class
  kubernetes/templates/volsync/local/replication-source.yaml
  kubernetes/templates/volsync/remote/replication-source.yaml
Labels: kubernetes

feat: switch to using ceph non-replicated storage class
  kubernetes/templates/volsync/remote/replication-source.yaml
Labels: kubernetes

chore: cleanup bootstrap folder
  bootstrap/resources/external-secrets.yaml
  bootstrap/resources/kustomization.yaml
Labels: none

feat: yeah, remove openebs
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/openebs-system/openebs/app.yaml
  kubernetes/apps/openebs-system/openebs/resources/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/resources/release.yaml
  kubernetes/apps/openebs-system/sources/kustomization.yaml
  kubernetes/apps/openebs-system/sources/openebs.yaml
Labels: kubernetes

refactor: rook-ceph, this could go sideways, but prune is off right.. riiight
  kubernetes/apps/rook-ceph/cluster/resources/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/app.yaml
  kubernetes/apps/rook-ceph/resources/cluster.yaml
  kubernetes/apps/rook-ceph/resources/external-secret.yaml
  kubernetes/apps/rook-ceph/resources/http-route.yaml
  kubernetes/apps/rook-ceph/resources/kustomization.yaml
  kubernetes/apps/rook-ceph/resources/operator.yaml
  kubernetes/apps/rook-ceph/resources/snapshot-controller.yaml
  kubernetes/apps/rook-ceph/rook-ceph.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/app.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/resources/kustomization.yaml
Labels: kubernetes

feat: enable wait on kustomization, rook-ceph is a dependency
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

feat: reduce retention to 20d and backup from standby's instead of primary
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: bring renovate back, yeah
  .github/workflows/renovate.yaml
Labels: github

fix: renovate needs full version
  .github/workflows/renovate.yaml
Labels: github

chore: start cleaning up .github directory
  .github/workflows/renovate.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/schedule.json5
  .renovate/versioning.json5
  renovate.json5
Labels: github

fix: start cleaning up .github directory, missed this file
  renovate.json5
Labels: none

fix: adjust paths for file changes on push
  .github/workflows/renovate.yaml
Labels: github

chore: clean up workflow files
  .github/workflows/publish-manifests.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/sync-labels.yaml
Labels: github

fix: re-establish versions.env file
  .mise.toml
  talos/versions.env
Labels: none

fix: remove cert-manager dashboards
  kubernetes/apps/monitoring/grafana/resources/release.yaml
Labels: kubernetes

feat: update dashboard organization
  kubernetes/apps/monitoring/grafana/resources/release.yaml
Labels: kubernetes

feat: add grafana dashboard renovation
  .renovate/grafanaDashboards.json5
  renovate.json5
Labels: none

feat: this could go really badly, but lets try it
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/resources/cluster.yaml
  kubernetes/apps/rook-ceph/resources/operator.yaml
  kubernetes/apps/rook-ceph/resources/snapshot-controller.yaml
  kubernetes/flux/configs.yaml
  kubernetes/flux/configs/apps.yaml
  kubernetes/flux/configs/kustomization.yaml
  kubernetes/flux/configs/repositories.yaml
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/emqx.yaml
  kubernetes/flux/repositories/helm/fluxcd-community.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/weaveworks-charts.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/cluster-manifests.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: kubernetes

feat: well it blew up, bootstrap failure, guess I'll fix annoyances
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
  kubernetes/flux/kustomization.yaml
  kubernetes/templates/volsync/local/replication-destination.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: kubernetes

fix: adjust some settings to recover properly
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
Labels: kubernetes

fix: typo in dependency name
  kubernetes/apps/default/cnpg-cluster/app.yaml
Labels: kubernetes

feat: maybe I'll do it twice in one day
  kubernetes/flux/config/apps.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/config/repositories.yaml
  kubernetes/flux/configs.yaml
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/sync.yaml
Labels: kubernetes

feat: didn't blow up, make more changes
  kubernetes/flux/sync.yaml
Labels: kubernetes

feat: test switching oci repository
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

fix: specify namespace for dependson
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

fix: ensure sync is also updated per reconcile
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/config/sync.yaml
  kubernetes/flux/kustomization.yaml
Labels: kubernetes

fix: ensure all manifest repos are captured, temporarily
  kubernetes/apps/flux-system/flux/github/webhooks/receiver.yaml
Labels: kubernetes

feat: temporarily disable pruning
  kubernetes/apps/external-secrets/app.yaml
  kubernetes/apps/external-secrets/onepassword.yaml
  kubernetes/apps/external-secrets/stores.yaml
Labels: kubernetes

feat: testing a simplified deployment
  kubernetes/apps/external-secrets/app.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/kustomization.yaml
  kubernetes/apps/external-secrets/resources/cluster-secret-store.yaml
  kubernetes/apps/external-secrets/resources/kustomization.yaml
  kubernetes/apps/external-secrets/resources/onepassword-connect.yaml
  kubernetes/apps/external-secrets/resources/release.yaml
  kubernetes/apps/external-secrets/sources/kustomization.yaml
  kubernetes/apps/external-secrets/stores.yaml
  kubernetes/apps/external-secrets/stores/kustomization.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/onepassword.yaml
Labels: kubernetes

feat: woops, need these too
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/onepassword.yaml
Labels: kubernetes

fix: woops, didn't remove the old resources
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: kubernetes

feat: stage 1 of migrating to new structure
  kubernetes/apps/cert-manager/app.yaml
  kubernetes/apps/cert-manager/issuers.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/resources/release.yaml
  kubernetes/flux/repositories/helm/jetstack-charts.yaml
Labels: kubernetes

feat: stage 1 of migrating to new structure
  kubernetes/apps/cert-manager/sources/kustomization.yaml
Labels: kubernetes

fix: and this is why we test
  kubernetes/flux/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
