Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: adjust the maxSurge to allow proper scaledown
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix: add back in helm-values
  .github/renovate.json
Labels: github

feat: remove renovate pre-commit hook
  .pre-commit-config.yaml
Labels: none

feat: remove crds configuration no longer used
  archived/crds/external-snapshotter/kustomization.yaml
  archived/crds/kube-prometheus-stack/crds.yaml
  archived/crds/kube-prometheus-stack/kustomization.yaml
  archived/crds/kustomization.yaml
  archived/crds/rook-ceph/crds.yaml
  archived/crds/rook-ceph/kustomization.yaml
  cluster/flux/crds.yaml
Labels: kubernetes

feat: remove crds configuration no longer used
  cluster/flux/kustomization.yaml
Labels: kubernetes

feat: remove crds configuration no longer used
  cluster/flux/core.yaml
Labels: kubernetes

feat: re-add ingored directory paths
  .github/renovate.json
Labels: github

fix: update yaml syntax
  cluster/actions-runner-system/runner/runner-deployment.yaml
Labels: kubernetes

fix: restore full renovate configuration
  .github/renovate.json
Labels: github

fix: use versioned actions runner rather than alias
  cluster/actions-runner-system/runner/runner-deployment.yaml
Labels: kubernetes

test: disabling configmapgenerator, see if flux errors out
  cluster/ingress-system/nginx/kustomization.yaml
Labels: kubernetes

test: add renovate bot account id
  .github/workflows/renovate.yaml
Labels: github

test: add bot configuration to renovate config
  .github/renovate.json
Labels: github

test: woopsie forgot commas
  .github/renovate.json
Labels: github

test: fix bot name, proper english
  .github/renovate.json
Labels: github

feat: update diff helm release to use bot
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat: rename bot again
  .github/renovate.json
Labels: github

fix(github-action): update renovatebot/github-action action to v34.102.8
  .github/workflows/renovate.yaml
Labels: github

feat(helm): update chart actions-runner-controller to 0.22.0
  cluster/actions-runner-system/controller/helm-release.yaml
Labels: kubernetes

feat(helm): update chart kube-prometheus-stack to 44.2.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm): update chart external-secrets to 0.7.2
  cluster/external-secrets/deploy/helm-release.yaml
Labels: kubernetes

feat: update renovate to use reusable workflow
  .github/workflows/renovate.yaml
  .github/workflows/schedule-renovate.yaml
Labels: github

feat: simplify renovate config (aka, used shared config)
  .github/renovate.json
Labels: github

fix: fix some commas, rename workflow
  .github/renovate.json
  .github/workflows/schedule-renovate.yaml
Labels: github

chore(docker-image): pin dependencies
  cluster/actions-runner-system/runner/runner-deployment.yaml
  cluster/apps/mediaserver/plex/helm-release.yaml
  cluster/apps/mediaserver/radarr-uhd/helm-release.yaml
  cluster/apps/mediaserver/radarr/helm-release.yaml
  cluster/apps/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): pin docker.io/1password/connect-sync docker tag to e7e2b0a
  cluster/external-secrets/onepassword-connect/patches/sync.yaml
Labels: kubernetes

fix(helm-chart): update helm release kube-prometheus-stack to 44.2.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.1.0.2322
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release snapshot-controller to 1.7.2
  cluster/kube-system/snapshot-controller/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release descheduler to 0.26.0
  cluster/kube-system/descheduler/helm-release.yaml
Labels: kubernetes

feat(helm-chart)!: Update Helm release loki to 4.0.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: update renovate configuration
  .github/renovate.json
  .github/renovate/autoMerge.json
  .github/renovate/groups.json
Labels: github

feat: remove deprecated files
  .github/renovate/commitMessage.json
  .github/renovate/labels.json
  .github/renovate/semanticCommits.json
Labels: github

fix: correct typo in json syntax
  .github/renovate/autoMerge.json
Labels: github

fix: correct typo in json syntax
  .github/renovate.json
Labels: github

fix(deps): update fluxcd/flux2 to v0.38.3
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

feat: rename bot
  .github/renovate.json
Labels: github

feat: update cloudflare settings
  infrastructure/terraform/cloudflare/mcfio/main.tf
  infrastructure/terraform/cloudflare/mcfio/records.tf
  infrastructure/terraform/cloudflare/mcfio/zone_settings.tf
Labels: terraform

fix(helm-chart): update helm release reloader to v1.0.2
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release node-feature-discovery to 0.12.1
  cluster/kube-system/node-feature-discovery/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
