Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

fix: use proper directory locations
  kubernetes/apps/istio-ingress/istio-ingressgateway.yaml
  kubernetes/apps/istio-system/istio-base.yaml
  kubernetes/apps/istio-system/istio-istiod.yaml
Labels: none

fix: use proper directory locations
  kubernetes/apps/istio-ingress/istio-ingressgateway.yaml
  kubernetes/apps/istio-system/istio-base.yaml
  kubernetes/apps/istio-system/istio-istiod.yaml
Labels: none

feat: remove old repository files
  cluster/istio-ingress/gateway/helm-release.yaml
  cluster/istio-ingress/gateway/kustomization.yaml
  cluster/istio-ingress/ingress-class.yaml
  cluster/istio-ingress/istio-ingressgateway.yaml
  cluster/istio-ingress/kustomization.yaml
  cluster/istio-ingress/namespace.yaml
  cluster/istio-system/base/helm-release.yaml
  cluster/istio-system/base/kustomization.yaml
  cluster/istio-system/helm-repository.yaml
  cluster/istio-system/istio-base.yaml
  cluster/istio-system/istio-istiod.yaml
  cluster/istio-system/istiod/helm-release.yaml
  cluster/istio-system/istiod/kustomization.yaml
  cluster/istio-system/kustomization.yaml
  cluster/istio-system/namespace.yaml
Labels: kubernetes

fix: update dependencies
  kubernetes/apps/istio-ingress/istio-ingressgateway.yaml
Labels: none

feat: add vsphere-csi to the new deployment model
  kubernetes/apps/vsphere-csi/deploy/external-secret.yaml
  kubernetes/apps/vsphere-csi/deploy/helm-release.yaml
  kubernetes/apps/vsphere-csi/deploy/kustomization.yaml
  kubernetes/apps/vsphere-csi/helm-repository.yaml
  kubernetes/apps/vsphere-csi/kustomization.yaml
  kubernetes/apps/vsphere-csi/namespace.yaml
  kubernetes/apps/vsphere-csi/vsphere-csi.yaml
Labels: none

fix: add vsphere-csi to kustomization
  kubernetes/apps/vsphere-csi/kustomization.yaml
Labels: none

fix: put kustomization in right namespace
  cluster/kustomization.yaml
  kubernetes/apps/vsphere-csi/kustomization.yaml
Labels: kubernetes

feat: move cert-manager to new directory
  cluster/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/cert-manager/deploy/helm-release.yaml
  kubernetes/apps/cert-manager/deploy/kustomization.yaml
  kubernetes/apps/cert-manager/helm-repository.yaml
  kubernetes/apps/cert-manager/issuers/external-secret.yaml
  kubernetes/apps/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-azure.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
Labels: kubernetes

feat: add external-secrets to new directories
  cluster/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/deploy/helm-release.yaml
  kubernetes/apps/external-secrets/deploy/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/helm-repository.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/external-secrets/onepassword-connect.yaml
  kubernetes/apps/external-secrets/onepassword-connect/cluster-secret-store.yaml
  kubernetes/apps/external-secrets/onepassword-connect/helm-release.yaml
  kubernetes/apps/external-secrets/onepassword-connect/helm-repository.yaml
  kubernetes/apps/external-secrets/onepassword-connect/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/secret.enc.yaml
Labels: kubernetes

feat: move home resources to new directory
  kubernetes/apps/home/helm-repository.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto.yaml
  kubernetes/apps/home/mosquitto/certificate.yaml
  kubernetes/apps/home/mosquitto/external-secret.yaml
  kubernetes/apps/home/mosquitto/helm-release.yaml
  kubernetes/apps/home/mosquitto/kustomization.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/home/zigbee2mqtt.yaml
  kubernetes/apps/home/zigbee2mqtt/external-secret.yaml
  kubernetes/apps/home/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home/zigbee2mqtt/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui.yaml
  kubernetes/apps/home/zwave-js-ui/helm-release.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/node-feature-rule.yaml
Labels: none

feat: move mediaserver resources to new directory
  kubernetes/apps/mediaserver/helm-repository.yaml
  kubernetes/apps/mediaserver/kustomization.yaml
  kubernetes/apps/mediaserver/namespace.yaml
  kubernetes/apps/mediaserver/overseerr.yaml
  kubernetes/apps/mediaserver/overseerr/certificate.yaml
  kubernetes/apps/mediaserver/overseerr/helm-release.yaml
  kubernetes/apps/mediaserver/overseerr/kustomization.yaml
  kubernetes/apps/mediaserver/plex.yaml
  kubernetes/apps/mediaserver/plex/helm-release.yaml
  kubernetes/apps/mediaserver/plex/kustomization.yaml
  kubernetes/apps/mediaserver/prowlarr.yaml
  kubernetes/apps/mediaserver/prowlarr/external-secret.yaml
  kubernetes/apps/mediaserver/prowlarr/helm-release.yaml
  kubernetes/apps/mediaserver/prowlarr/kustomization.yaml
  kubernetes/apps/mediaserver/radarr-uhd.yaml
  kubernetes/apps/mediaserver/radarr-uhd/external-secret.yaml
  kubernetes/apps/mediaserver/radarr-uhd/helm-release.yaml
  kubernetes/apps/mediaserver/radarr-uhd/kustomization.yaml
  kubernetes/apps/mediaserver/radarr.yaml
  kubernetes/apps/mediaserver/radarr/external-secret.yaml
  kubernetes/apps/mediaserver/radarr/helm-release.yaml
  kubernetes/apps/mediaserver/radarr/kustomization.yaml
  kubernetes/apps/mediaserver/recyclarr.yaml
  kubernetes/apps/mediaserver/recyclarr/helm-release.yaml
  kubernetes/apps/mediaserver/recyclarr/kustomization.yaml
  kubernetes/apps/mediaserver/recyclarr/recyclarr.yml
  kubernetes/apps/mediaserver/sabnzbd.yaml
  kubernetes/apps/mediaserver/sabnzbd/external-secret.yaml
  kubernetes/apps/mediaserver/sabnzbd/helm-release.yaml
  kubernetes/apps/mediaserver/sabnzbd/kustomization.yaml
  kubernetes/apps/mediaserver/sonarr.yaml
  kubernetes/apps/mediaserver/sonarr/external-secret.yaml
  kubernetes/apps/mediaserver/sonarr/helm-release.yaml
  kubernetes/apps/mediaserver/sonarr/kustomization.yaml
  kubernetes/apps/mediaserver/tautulli.yaml
  kubernetes/apps/mediaserver/tautulli/helm-release.yaml
  kubernetes/apps/mediaserver/tautulli/kustomization.yaml
Labels: none

fix: configmap generator requires namespace
  kubernetes/apps/mediaserver/recyclarr/kustomization.yaml
Labels: none

fix(helm-chart): update chart loki to 5.8.7
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.7
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: move monitoring to new directory structure
  cluster/monitoring/goldilocks/kustomization.yaml
  cluster/monitoring/kube-prometheus-stack.yaml
  kubernetes/apps/monitoring/goldilocks.yaml
  kubernetes/apps/monitoring/goldilocks/helm-release.yaml
  kubernetes/apps/monitoring/goldilocks/helm-repository.yaml
  kubernetes/apps/monitoring/goldilocks/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/helm-release.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/kustomization.yaml
  kubernetes/apps/monitoring/grafana.yaml
  kubernetes/apps/monitoring/grafana/external-secret.yaml
  kubernetes/apps/monitoring/grafana/helm-release.yaml
  kubernetes/apps/monitoring/grafana/kustomization.yaml
  kubernetes/apps/monitoring/helm-repository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/alertmanager-config.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/dashboards/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-repository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/slack-notifications/alertmanager-config.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/slack-notifications/configmap.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/slack-notifications/external-secret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/slack-notifications/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki.yaml
  kubernetes/apps/monitoring/loki/config-map.yaml
  kubernetes/apps/monitoring/loki/dashboard/kustomization.yaml
  kubernetes/apps/monitoring/loki/grafana-datasource.yaml
  kubernetes/apps/monitoring/loki/helm-release.yaml
  kubernetes/apps/monitoring/loki/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/monitoring/vector/helm-repository.yaml
  kubernetes/apps/monitoring/vector/kustomization.yaml
Labels: kubernetes

fix: clean up naming of flux config resources
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/flux.yaml
Labels: none

feat: clean up flux installation and configurations
  cluster/flux-system/deploy/flux.yaml
  cluster/flux-system/deploy/kustomization.yaml
  cluster/flux-system/deploy/oci-repository.yaml
  cluster/flux/README.md
  cluster/flux/config/flux-system.yaml
  cluster/flux/config/git-repository.yaml
  cluster/flux/config/kustomization.yaml
  cluster/flux/kustomization.yaml
  cluster/flux/vars/cluster-secrets.enc.yaml
  cluster/flux/vars/cluster-vars.yaml
  cluster/flux/vars/kustomization.yaml
  kubernetes/flux/config/flux-config.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
Labels: kubernetes

feat: move flux-system notifications and github integration to new paths
  kubernetes/apps/flux-system/flux-webhook.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/flux-system/notifications/github-notifications.yaml
  kubernetes/apps/flux-system/notifications/github/alert.yaml
  kubernetes/apps/flux-system/notifications/github/external-secret.yaml
  kubernetes/apps/flux-system/notifications/github/kustomization.yaml
  kubernetes/apps/flux-system/notifications/github/provider.yaml
  kubernetes/apps/flux-system/weave-gitops.yaml
  kubernetes/apps/flux-system/weave-gitops/helm-release.yaml
  kubernetes/apps/flux-system/weave-gitops/helm-repository.yaml
  kubernetes/apps/flux-system/weave-gitops/kustomization.yaml
  kubernetes/apps/flux-system/webhook/external-secret.yaml
  kubernetes/apps/flux-system/webhook/ingress.yaml
  kubernetes/apps/flux-system/webhook/kustomization.yaml
  kubernetes/apps/flux-system/webhook/receiver.yaml
Labels: none

fix: flux-system/deploy is gone
  kubernetes/apps/flux-system/kustomization.yaml
Labels: none

feat: move ingress to new directory structure
  kubernetes/apps/ingress-system/certificates.yaml
  kubernetes/apps/ingress-system/certificates/certificate.yaml
  kubernetes/apps/ingress-system/certificates/kustomization.yaml
  kubernetes/apps/ingress-system/external-dns.yaml
  kubernetes/apps/ingress-system/external-dns/external-secret.yaml
  kubernetes/apps/ingress-system/external-dns/helm-release.yaml
  kubernetes/apps/ingress-system/external-dns/helm-repository.yaml
  kubernetes/apps/ingress-system/external-dns/kustomization.yaml
  kubernetes/apps/ingress-system/ingress-nginx.yaml
  kubernetes/apps/ingress-system/internal-dns.yaml
  kubernetes/apps/ingress-system/internal-dns/external-secret.yaml
  kubernetes/apps/ingress-system/internal-dns/helm-release.yaml
  kubernetes/apps/ingress-system/internal-dns/helm-repository.yaml
  kubernetes/apps/ingress-system/internal-dns/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/ingress-system/namespace.yaml
  kubernetes/apps/ingress-system/nginx/helm-release.yaml
  kubernetes/apps/ingress-system/nginx/helm-repository.yaml
  kubernetes/apps/ingress-system/nginx/kustomization.yaml
  kubernetes/apps/ingress-system/theme-park.yaml
  kubernetes/apps/ingress-system/theme-park/helm-release.yaml
  kubernetes/apps/ingress-system/theme-park/helm-repository.yaml
  kubernetes/apps/ingress-system/theme-park/kustomization.yaml
Labels: none

fix: fix typo
  kubernetes/apps/ingress-system/certificates.yaml
Labels: none

feat: move kube-system, cni etc, to the new structure
  kubernetes/apps/kube-system/cilium.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/cilium-bgp-peering-policy.yaml
  kubernetes/apps/kube-system/cilium/cilium-load-balancer-ip-pool.yaml
  kubernetes/apps/kube-system/cilium/helm-release.yaml
  kubernetes/apps/kube-system/cilium/helm-repository.yaml
  kubernetes/apps/kube-system/cilium/helm-values.yaml
  kubernetes/apps/kube-system/cilium/kustomization.yaml
  kubernetes/apps/kube-system/cilium/name-reference.yaml
  kubernetes/apps/kube-system/descheduler.yaml
  kubernetes/apps/kube-system/descheduler/helm-release.yaml
  kubernetes/apps/kube-system/descheduler/helm-repository.yaml
  kubernetes/apps/kube-system/descheduler/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/helm-release.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/helm-repository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server.yaml
  kubernetes/apps/kube-system/metrics-server/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/helm-repository.yaml
  kubernetes/apps/kube-system/metrics-server/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/kube-system/node-feature-discovery.yaml
  kubernetes/apps/kube-system/node-feature-discovery/helm-release.yaml
  kubernetes/apps/kube-system/node-feature-discovery/helm-repository.yaml
  kubernetes/apps/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/apps/kube-system/reloader.yaml
  kubernetes/apps/kube-system/reloader/helm-release.yaml
  kubernetes/apps/kube-system/reloader/helm-repository.yaml
  kubernetes/apps/kube-system/reloader/kustomization.yaml
Labels: none

feat: remove legacy cluster directory
  cluster/flux/repositories/git/.gitkeep
  cluster/flux/repositories/helm/.gitkeep
  cluster/flux/repositories/helm/bjw-s.yaml
  cluster/flux/repositories/helm/emqx.yaml
  cluster/flux/repositories/helm/fairwinds-stable.yaml
  cluster/flux/repositories/helm/grafana.yaml
  cluster/flux/repositories/helm/infracloudio.yaml
  cluster/flux/repositories/helm/k8s-at-home.yaml
  cluster/flux/repositories/helm/kustomization.yaml
  cluster/flux/repositories/helm/oauth2-proxy.yaml
  cluster/flux/repositories/helm/pomerium.yaml
  cluster/flux/repositories/helm/vector-charts.yaml
  cluster/flux/repositories/helm/weave-gitops.yaml
  cluster/flux/repositories/kustomization.yaml
  cluster/flux/repositories/oci/.gitkeep
Labels: kubernetes

feat: update workflows to match new directories
  .github/renovate.json5
  .github/workflows/flux-local-diff.yaml
Labels: github

ci(github-action): update actions/labeler digest to 0967ca8
  .github/workflows/labeler.yaml
Labels: github

fix: bump zwave version
  kubernetes/apps/home/zwave-js-ui/helm-release.yaml
Labels: none

feat(helm-chart): update chart kube-prometheus-stack to 47.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: none

feat: add arc back to the cluster
  archived/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/actions-runner-system/actions-runners.yaml
  kubernetes/apps/actions-runner-system/controller/external-secret.yaml
  kubernetes/apps/actions-runner-system/controller/helm-release.yaml
  kubernetes/apps/actions-runner-system/controller/kustomization.yaml
  kubernetes/apps/actions-runner-system/helm-repository.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/actions-runner-system/runner/horizontal-runner-autoscaler.yaml
  kubernetes/apps/actions-runner-system/runner/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/pvc.yaml
  kubernetes/apps/actions-runner-system/runner/runner-deployment.yaml
Labels: none

fix: actually save the file
  kubernetes/apps/actions-runner-system/controller/helm-release.yaml
Labels: none

fix: use proper repository url
  kubernetes/apps/actions-runner-system/helm-repository.yaml
Labels: none

fix: use proper helm chart
  kubernetes/apps/actions-runner-system/controller/helm-release.yaml
Labels: none

fix(helm-chart): update chart vpa to 2.1.1
  kubernetes/apps/monitoring/goldilocks/vpa/helm-release.yaml
Labels: none

fix(helm-chart): update chart vpa to 2.1.1
  kubernetes/apps/monitoring/goldilocks/vpa/helm-release.yaml
Labels: none

feat: add runner to cluster
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
  kubernetes/apps/actions-runner-system/runner/horizontal-runner-autoscaler.yaml
  kubernetes/apps/actions-runner-system/runner/kustomization.yaml
  kubernetes/apps/actions-runner-system/runner/pvc.yaml
  kubernetes/apps/actions-runner-system/runner/runner-deployment.yaml
Labels: none

feat: add github credentials secret to runner config
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

feat: what's this schema publishing all about?
  .github/workflows/publish-schemas.yaml
Labels: github

feat: use a custom runner image
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

fix: see if kubernetes runner works
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

fix: add volume claim
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none

fix: name is too long.. lets fix that
  kubernetes/apps/actions-runner-system/runner/helm-release.yaml
Labels: none
