Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat(helm-chart): update helm release kube-prometheus-stack to 45.27.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix: tweak some settings
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

fix: disable dsr mode, not available for ingress controller
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

fix: disable xt fallback
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

fix: disable local redirect policy
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to f9d88b8
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to f9d88b8
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release cert-manager to v1.11.2
  cluster/cert-manager/deploy/helm-release.yaml
Labels: kubernetes

feat: bump flux to rc2
  bootstrap/flux/kustomization.yaml
  cluster/flux-system/deploy/flux.yaml
Labels: kubernetes

fix: fix automerges finally?
  .github/renovate/autoMerge.json
Labels: github

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 00fefa7
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 00fefa7
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/prowlarr-develop:1.4.1.3258 docker digest to ffb9ec9
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/radarr-develop:4.5.0.7106 docker digest to 4e53a92
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:4.0.1 docker digest to 8c1f42b
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.488
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kube-prometheus-stack to 45.27.2
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release weave-gitops to 4.0.21
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.492
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.493
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release loki to 5.5.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to efaffe1
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(deps): update fluxcd/flux2 to v2.0.0-rc.3
  bootstrap/flux/kustomization.yaml
Labels: none

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to efaffe1
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release actions-runner-controller to 0.23.3
  cluster/actions-runner-system/controller/helm-release.yaml
Labels: kubernetes

feat: adjust default settings for automerge
  .github/renovate.json
Labels: github

feat: bump to rc3
  cluster/flux-system/deploy/flux.yaml
Labels: kubernetes

feat: add automerge of minor helm releases
  .github/renovate/autoMerge.json
Labels: github

fix(helm-chart): update helm release cilium to 1.13.2
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 786ca92
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.494
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat: add automerge of minor,patch,digest for container images
  .github/renovate/autoMerge.json
Labels: github

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.494
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.5.0.3300
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.495
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 786ca92
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.496
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.497
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to 67bd6d8
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.500
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
