Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: move last items from configs dir and remove configs dir
  .pre-commit-config.yaml
  .prettierignore
  kubernetes/apps/kube-system/cilium/resources/cilium-l2-announcement-policy.yaml
  kubernetes/apps/kube-system/cilium/resources/cilium-load-balancer-ip-pool.yaml
  kubernetes/apps/kube-system/cilium/resources/http-route.yaml
  kubernetes/flux-system/configs/infrastructure-configs.yaml
  kubernetes/infrastructure/configs/cilium/kustomization.yaml
Labels: kubernetes

feat: move last items from configs dir and remove configs dir
  kubernetes/apps/kube-system/cilium/resources/kustomization.yaml
Labels: kubernetes

feat: remove remaining dependsOn for configs
  kubernetes/apps/home/emqx/app.yaml
  kubernetes/apps/home/zigbee2mqtt/app.yaml
  kubernetes/apps/home/zwave-js-ui/app.yaml
  kubernetes/apps/mediaserver/mediaserver-db/app.yaml
  kubernetes/apps/mediaserver/overseerr/app.yaml
  kubernetes/apps/mediaserver/plex/app.yaml
  kubernetes/apps/mediaserver/prowlarr/app.yaml
  kubernetes/apps/mediaserver/radarr/app.yaml
  kubernetes/apps/mediaserver/recyclarr/app.yaml
  kubernetes/apps/mediaserver/sabnzbd/app.yaml
  kubernetes/apps/mediaserver/sonarr/app.yaml
  kubernetes/apps/mediaserver/tautulli/app.yaml
Labels: kubernetes

feat: move zwave js to default namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/default/zwave-js-ui/resources/external-secret.yaml
  kubernetes/apps/default/zwave-js-ui/resources/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/resources/node-feature-rule.yaml
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: kubernetes

feat: adjust deployment
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

fix: adjust loki listening port
  kubernetes/apps/monitoring/loki/resources/release.yaml
Labels: kubernetes

fix: force datasource for grafana
  kubernetes/apps/monitoring/prometheus-stack/resources/release.yaml
Labels: kubernetes

chore: ensure proper paths are used on bootstrap, to recover!
  bootstrap/talos/helmfile.yaml
Labels: none

feat: add pages publishing, tired of hunting schemas
  .archive/publish-schemas.yaml
  .github/workflows/schemas.yaml
Labels: github

fix: yeah, fat-fingered -/_
  .github/workflows/schemas.yaml
Labels: github

feat: switch to using my crds schemas, tired of hunting/waiting
  kubernetes/templates/istio/http-route.yaml
  kubernetes/templates/volsync/local/external-secret.yaml
  kubernetes/templates/volsync/local/replication-destination.yaml
  kubernetes/templates/volsync/local/replication-source.yaml
  kubernetes/templates/volsync/remote/external-secret.yaml
  kubernetes/templates/volsync/remote/replication-source.yaml
Labels: kubernetes

feat: move zigbee2mqtt to new structure
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: kubernetes

feat: move zigbee2mqtt to new structure
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

fix: merge secret data
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
Labels: kubernetes

feat: move emqx to default namespace
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/emqx/resources/certificate.yaml
  kubernetes/apps/default/emqx/resources/external-secret.yaml
  kubernetes/apps/default/emqx/resources/kustomization.yaml
  kubernetes/apps/default/emqx/resources/release.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/sources/emqx.yaml
  kubernetes/apps/default/sources/kustomization.yaml
  kubernetes/apps/home/emqx/resources/kustomization.yaml
  kubernetes/apps/home/emqx/resources/repository.yaml
  kubernetes/apps/home/namespace.yaml
Labels: kubernetes

feat: move emqx to default namespace
  kubernetes/apps/default/emqx/resources/release.yaml
Labels: kubernetes

feat: move emqx to default namespace
  kubernetes/apps/default/sources/emqx.yaml
Labels: kubernetes

fix: specify proper kustomization for dependency
  kubernetes/apps/default/emqx/app.yaml
Labels: kubernetes

feat: add spegel registry mirror
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/sources/spegel.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
  kubernetes/apps/kube-system/spegel/resources/kustomization.yaml
  kubernetes/apps/kube-system/spegel/resources/name-reference.yaml
  kubernetes/apps/kube-system/spegel/resources/release.yaml
Labels: kubernetes

fix: use proper chart name
  kubernetes/apps/kube-system/spegel/resources/release.yaml
Labels: kubernetes

fix: use proper chart name
  kubernetes/apps/kube-system/spegel/resources/release.yaml
Labels: kubernetes

fix: specify proper url to emqx
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
Labels: kubernetes

feat: remove unused monitoring configs
  kubernetes/flux-system/configs/monitoring-configs.yaml
  kubernetes/monitoring/configs/alertmanager-config.yaml
  kubernetes/monitoring/configs/dashboards/kustomization.yaml
  kubernetes/monitoring/configs/ingress-nginx/dashboards/kustomization.yaml
  kubernetes/monitoring/configs/kustomization.yaml
  kubernetes/monitoring/configs/slack-notifications/alertmanager-config.yaml
  kubernetes/monitoring/configs/slack-notifications/configmap.yaml
  kubernetes/monitoring/configs/slack-notifications/external-secret.yaml
  kubernetes/monitoring/configs/slack-notifications/kustomization.yaml
Labels: kubernetes

fix: reference proper substitution vars
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat: add ingress-system namespace
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/ingress-system/namespace.yaml
Labels: kubernetes

feat: add ingress-nginx, replacing istio
  kubernetes/apps/ingress-system/nginx/app.yaml
  kubernetes/apps/ingress-system/nginx/resources/kustomization.yaml
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
  kubernetes/apps/ingress-system/sources/ingress-nginx.yaml
  kubernetes/apps/ingress-system/sources/kustomization.yaml
Labels: kubernetes

feat: change name of resources
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

feat: change name of resources
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

feat: add new TLS certificate
  kubernetes/apps/ingress-system/certificate.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

feat: add new TLS certificate
  kubernetes/apps/ingress-system/certificate.yaml
Labels: kubernetes

fix: adjust dns01 validation dns servers
  kubernetes/apps/cert-manager/resources/release.yaml
Labels: kubernetes

chore: update schema urls
  kubernetes/apps/cert-manager/resources/release.yaml
  kubernetes/apps/ingress-system/certificate.yaml
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

feat: add default certificate tls
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

feat: move external-dns-unifi to new structure
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/resources/external-secret.yaml
  kubernetes/apps/kube-system/external-dns-unifi/resources/kustomization.yaml
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/sources/external-dns.yaml
  kubernetes/apps/kube-system/sources/kustomization.yaml
Labels: kubernetes

fix: specify proper dependency name
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
Labels: kubernetes

chore: remove final vestiges of old structure
  kubernetes/flux-system/configs/infrastructure-controllers.yaml
  kubernetes/infrastructure/controllers/external-dns/external-secret.yaml
  kubernetes/infrastructure/controllers/external-dns/kustomization.yaml
  kubernetes/infrastructure/controllers/external-dns/namespace.yaml
  kubernetes/infrastructure/controllers/external-dns/release.yaml
  kubernetes/infrastructure/controllers/external-dns/repository.yaml
Labels: kubernetes

feat: enable ingress class for prometheus
  kubernetes/apps/monitoring/prometheus-stack/resources/kustomization.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/release.yaml
Labels: kubernetes

feat: enable ssl-redirect and disable some headers
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

feat: add service annotation for external-dns propagation
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes

chore: on second thought, probably won't do this
  kubernetes/apps/ingress-system/nginx/resources/release.yaml
Labels: kubernetes
