Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: update schema workflow
  .github/workflows/schemas.yaml
Labels: github

feat: adjust renovate groups
  .renovate/groups.json5
Labels: none

feat: rewrite some config options
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

feat: switch to 5m interval
  kubernetes/apps/rook-ceph/cluster/oci-repository.yaml
Labels: kubernetes

feat: add oci repository
  kubernetes/apps/kube-system/cilium/resources/kustomization.yaml
  kubernetes/apps/kube-system/cilium/resources/oci-repository.yaml
Labels: kubernetes

feat: add some attestation verification
  kubernetes/apps/kube-system/cilium/resources/oci-repository.yaml
Labels: kubernetes

feat: finish refactoring kps
  kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/alertmanager-config.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/external-secret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kube-state-metrics-config.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/name-reference.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/oci-repository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/release.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/crds/release.yaml
  kubernetes/apps/monitoring/metrics-stack/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/kustomization.yaml
Labels: kubernetes

fix: add missing references, rename release
  kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kustomization.yaml
Labels: kubernetes

feat: refactor promtail
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/promtail/app.yaml
  kubernetes/apps/monitoring/promtail/resources/helm-release.yaml
  kubernetes/apps/monitoring/promtail/resources/kustomization.yaml
  kubernetes/apps/monitoring/promtail/resources/oci-repository.yaml
Labels: kubernetes

fix: woops, forgot the promtail release
  kubernetes/apps/monitoring/promtail/resources/kustomization.yaml
Labels: kubernetes

feat: refactor loki
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app.yaml
  kubernetes/apps/monitoring/loki/resources/helm-release.yaml
  kubernetes/apps/monitoring/loki/resources/kustomization.yaml
  kubernetes/apps/monitoring/loki/resources/oci-repository.yaml
Labels: kubernetes

fix: oh woops
  kubernetes/apps/monitoring/loki/app.yaml
Labels: kubernetes

feat: refactor grafana
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/grafana/resources/helm-release.yaml
  kubernetes/apps/monitoring/grafana/resources/kustomization.yaml
  kubernetes/apps/monitoring/grafana/resources/oci-repository.yaml
Labels: kubernetes

chore: cleanup migrated charts
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
Labels: kubernetes

feat: refactor cert-manager using oci chart
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/cert-manager/resources/helm-release.yaml
  kubernetes/apps/cert-manager/resources/kustomization.yaml
  kubernetes/apps/cert-manager/resources/oci-repository.yaml
  kubernetes/flux/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

feat: adjust health-checks
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
Labels: kubernetes

fix: adjust some configuration items
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kustomization.yaml
Labels: kubernetes

feat: disable zwavejs ui, now on hass
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

feat: remove unused blockpool, update prometheus endpoint
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

feat: enable externalized envoy pods, trusted hops
  kubernetes/apps/kube-system/cilium/resources/release.yaml
Labels: kubernetes

feat: enable envoy deployment
  kubernetes/apps/kube-system/cilium/resources/release.yaml
Labels: kubernetes

feat: oh yes, I've lost my patience too
  kubernetes/apps/monitoring/silence-operator/crds.yaml
  kubernetes/apps/monitoring/silence-operator/crds/helm-release.yaml
  kubernetes/apps/monitoring/silence-operator/crds/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/crds/oci-repository.yaml
  kubernetes/apps/monitoring/silence-operator/kustomization.yaml
Labels: kubernetes

feat: enable crds for silence-operator
  kubernetes/apps/monitoring/kustomization.yaml
Labels: kubernetes

feat: enable the operator
  kubernetes/apps/monitoring/silence-operator/app.yaml
  kubernetes/apps/monitoring/silence-operator/resources/helm-release.yaml
  kubernetes/apps/monitoring/silence-operator/resources/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/resources/oci-repository.yaml
Labels: kubernetes

fix: typo from copy/pasta
  kubernetes/apps/monitoring/silence-operator/app.yaml
Labels: kubernetes

feat: add app-template to common components
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/app-template/oci-repository.yaml
  kubernetes/components/common/repos/kustomization.yaml
Labels: kubernetes

feat: add repos to kustomization
  kubernetes/components/common/kustomization.yaml
Labels: kubernetes

fix: adjust api version
  kubernetes/components/common/repos/kustomization.yaml
Labels: kubernetes

fix: adjust api version
  kubernetes/components/common/repos/app-template/kustomization.yaml
Labels: kubernetes

feat: refactor repos as independent component
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/app-template/kustomization.yaml
  kubernetes/components/app-template/oci-repository.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/kustomization.yaml
Labels: kubernetes

feat: remove zwavejs from cluster repo
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/default/zwave-js-ui/resources/external-secret.yaml
  kubernetes/apps/default/zwave-js-ui/resources/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/resources/node-feature-rule.yaml
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: switch plex to using oci-repository
  kubernetes/apps/default/plex/resources/release.yaml
Labels: kubernetes

feat: switch all app-template from default to oci
  kubernetes/apps/default/gatus/resources/helm-release.yaml
  kubernetes/apps/default/gatus/resources/kustomization.yaml
  kubernetes/apps/default/overseerr/resources/helm-release.yaml
  kubernetes/apps/default/overseerr/resources/kustomization.yaml
  kubernetes/apps/default/plex/resources/helm-release.yaml
  kubernetes/apps/default/plex/resources/kustomization.yaml
  kubernetes/apps/default/prowlarr/resources/helm-release.yaml
  kubernetes/apps/default/prowlarr/resources/kustomization.yaml
  kubernetes/apps/default/radarr/resources/helm-release.yaml
  kubernetes/apps/default/radarr/resources/kustomization.yaml
  kubernetes/apps/default/recyclarr/resources/helm-release.yaml
  kubernetes/apps/default/recyclarr/resources/kustomization.yaml
  kubernetes/apps/default/sabnzbd/resources/helm-release.yaml
  kubernetes/apps/default/sabnzbd/resources/kustomization.yaml
  kubernetes/apps/default/sonarr/resources/helm-release.yaml
  kubernetes/apps/default/sonarr/resources/kustomization.yaml
  kubernetes/apps/default/tautulli/resources/helm-release.yaml
  kubernetes/apps/default/tautulli/resources/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/helm-release.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/kustomization.yaml
Labels: kubernetes

feat: migrate to using oci-repository for app-template
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/helm-release.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/system-upgrade/controller/helm-release.yaml
  kubernetes/apps/system-upgrade/controller/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: kubernetes

feat: adjust automerge rules
  .renovate/autoMerge.json5
Labels: none

feat: prior art is the best kind of art
  .gitignore
  .mise.toml
Labels: none

feat: migrated repository to oci
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

feat: refactor external-dns for cloudflare
  kubernetes/apps/ingress-system/external-dns-cloudflare/app.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/resources/external-secret.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/resources/helm-release.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/resources/kustomization.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/resources/oci-repository.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

feat: refactory cloudflare tunnel
  kubernetes/apps/ingress-system/cloudflare-tunnel/app.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/config.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/dns-endpoint.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/external-secret.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/kustomization.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/config.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

fix: adjust bootstrap secrets to provide tunnel id
  kubernetes/apps/ingress-system/cloudflare-tunnel/app.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
