Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.738
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

fix(deps): update flux group to v2.2.2
  .github/workflows/publish-manifests.yaml
  .github/workflows/publish-schemas.yaml
  bootstrap/flux/kustomization.yaml
  kubernetes/flux-system/configs/flux-installation.yaml
Labels: github, kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.2.5.8361
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 76a12be
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

fix: remove sha256 image tag
  kubernetes/flux-system/configs/flux-installation.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.56
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

feat(docker-image): update image gha-runner-scale-set-controller to v0.8.0
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/actions/gha-runner-scale-set-controller to v0.8.0
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
Labels: kubernetes

ci(github-action)!: Update allenporter/flux-local action to 4.0.0
  .github/workflows/flux-local-diff.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to 76a12be
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

feat(docker-image): update image gha-runner-scale-set to v0.8.0
  kubernetes/apps/self-hosted/arc-runner/release.yaml
Labels: kubernetes

feat(helm-chart): update chart ingress-nginx to 4.9.0
  kubernetes/infrastructure/controllers/ingress-nginx/release.yaml
Labels: kubernetes

fix(helm-chart): update chart kubelet-csr-approver to 1.0.6
  kubernetes/infrastructure/controllers/kubelet-csr-approver/release.yaml
Labels: kubernetes

feat(helm-chart): update chart cloudnative-pg to 0.20.0
  kubernetes/infrastructure/operators/cloudnative-pg/release.yaml
Labels: kubernetes

fix: update flux-local
  .github/workflows/flux-local-diff.yaml
Labels: github

ci(github-action): pin actions/create-github-app-token action ( v1 → )
  .github/workflows/flux-local-diff.yaml
Labels: github

chore(docker-image): update image public.ecr.aws/docker/library/busybox ( 5c63a9b → ba76950 )
  kubernetes/apps/mediaserver/recyclarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/actions/gha-runner-scale-set-controller to v0.8.1
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
Labels: kubernetes

ci(github-action): update allenporter/flux-local action ( 4.0.0 → 4.1.0 )
  .github/workflows/flux-local-diff.yaml
Labels: github

fix: woops, wrong spacing
  .github/workflows/flux-local-diff.yaml
Labels: github

ci(github-action): update allenporter/flux-local action ( 4.1.0 → 4.1.1 )
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(docker-image): update image gha-runner-scale-set to v0.8.1
  kubernetes/apps/self-hosted/arc-runner/release.yaml
Labels: kubernetes

fix(docker-image): update image gha-runner-scale-set-controller to v0.8.1
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
Labels: kubernetes

fix: because i suck at copy paste
  .github/workflows/flux-local-diff.yaml
Labels: github

feat(helm-chart): update chart node-feature-discovery ( 0.14.3 → 0.15.0 )
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
Labels: kubernetes

feat(helm-chart): update chart emqx ( 5.3.2 → 5.4.0 )
  kubernetes/apps/home/emqx/release.yaml
Labels: kubernetes

fix: how am I so bad at tpyos
  .github/workflows/flux-local-diff.yaml
Labels: github

ci(github-action): update allenporter/flux-local action ( 4.1.1 → 4.2.0 )
  .github/workflows/flux-local-diff.yaml
Labels: github

fix: why did I have all that token and login stuff for
  .github/workflows/flux-local-diff.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas ( 76a12be → 78d8fa7 )
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

ci(github-action): update allenporter/flux-local action ( 4.2.0 → 4.2.1 )
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.3.4163
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v5.2.6.8376
  kubernetes/apps/mediaserver/radarr/release.yaml
Labels: kubernetes

fix(helm-chart): update chart external-secrets ( 0.9.10 → 0.9.11 )
  kubernetes/infrastructure/controllers/external-secrets/release.yaml
Labels: kubernetes

feat: add nix flake environment config
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: none

fix: reference main rather than version
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(helm-chart): update chart reloader ( 1.0.56 → 1.0.58 )
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

fix: wow I really botched this update
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(docker-image): update image kube-prometheus-stack to v55.5.1
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.740
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes
