Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: typo
  kubernetes/apps/monitoring/prometheus-stack/resources/external-secret.yaml
Labels: kubernetes

feat: clean up rook deployment
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: add heartbeat/deadmansnitch config
  kubernetes/apps/monitoring/prometheus-stack/resources/alertmanager-config.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/external-secret.yaml
Labels: kubernetes

feat: switch to deadmanssnitch
  kubernetes/apps/monitoring/prometheus-stack/resources/alertmanager-config.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/external-secret.yaml
Labels: kubernetes

feat: use native gpu nfd rule from intel repo
  kubernetes/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/nfd-rule.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/resources/release.yaml
Labels: kubernetes

feat: remove unnecessary nfd rule file
  kubernetes/apps/kube-system/intel-device-plugin/gpu/nfd-rule.yaml
Labels: kubernetes

feat: add maxHistory to releases
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
  kubernetes/apps/rook-ceph/operator/resources/release.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/resources/release.yaml
Labels: kubernetes

feat: add boilerplate inhibit rules
  kubernetes/apps/monitoring/prometheus-stack/resources/alertmanager-config.yaml
Labels: kubernetes

feat: regularly scheduled programming
  kubernetes/apps/rook-ceph/operator/resources/release.yaml
Labels: kubernetes

feat: push updated worker template
  talos/profiles/worker.enc.yaml.j2
Labels: none

feat: switch to healthchecks.io ping url
  kubernetes/apps/monitoring/prometheus-stack/resources/external-secret.yaml
Labels: kubernetes

feat: add non-replicated block pool and adjust config options
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: switch to non-replicated storage class
  kubernetes/apps/default/emqx/resources/release.yaml
Labels: kubernetes

feat: add label for dependency on cnpg-cluster
  kubernetes/apps/default/gatus/resources/release.yaml
  kubernetes/apps/default/prowlarr/resources/release.yaml
  kubernetes/apps/default/radarr/resources/release.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: this hr isn't actually dependent on these
  kubernetes/apps/cnpg-system/cloudnative-pg/resources/release.yaml
Labels: kubernetes

feat: switch cluster block storage to ceph non-replicated
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: update deployment to 2.x
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
Labels: kubernetes

feat: add extended pan id to secret
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
Labels: kubernetes

feat: bandwagon, swith to mise, I guess cause it's rust?
  .env.example
  .envrc
  .mise.toml
Labels: none

feat: consoldate some more configs
  .gitignore
  .mise.toml
  talos/versions.env
Labels: none

feat: start the rewrite of bootstrap process
  bootstrap/helmfile.yaml
Labels: none

feat: rewrote bootstrap resources
  bootstrap/README.md
  bootstrap/flux/age-key.enc.yaml
  bootstrap/flux/kustomization.yaml
  bootstrap/resources/external-secrets.yaml.tpl
  bootstrap/resources/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/secret.enc.yaml
Labels: kubernetes

feat: capture machine configuration changes
  talos/profiles/controlplane.enc.yaml.j2
  talos/profiles/worker.enc.yaml.j2
Labels: none

feat: remove directory depth
  talos/controlplane.enc.yaml.j2
  talos/worker.enc.yaml.j2
Labels: none

feat: update talos tasks
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat: this could blow things up, but consolidating the flue-system directories
  kubernetes/apps/flux-system/app.yaml
  kubernetes/apps/flux-system/configs.yaml
  kubernetes/apps/flux-system/configs/apps.yaml
  kubernetes/apps/flux-system/configs/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/sources/cluster-manifests.yaml
  kubernetes/apps/flux-system/sources/flux-manifests.yaml
Labels: kubernetes

fix: small tweak to see if this picks up the configs properly
  .github/workflows/flux-local-diff.yaml
Labels: github

feat: this could blow things up, but consolidating the flue-system di… (#2443)
  .github/workflows/flux-local-diff.yaml
  kubernetes/apps/flux-system/app.yaml
  kubernetes/apps/flux-system/configs.yaml
  kubernetes/apps/flux-system/configs/apps.yaml
  kubernetes/apps/flux-system/configs/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/sources/cluster-manifests.yaml
  kubernetes/apps/flux-system/sources/flux-manifests.yaml
Labels: github, kubernetes

chore: cleanup - didn't really apply anymore
  docs/networking/general.md
  docs/networking/images/ha-control-plane.svg
Labels: none

chore: rewrite flux-local diff workflow
  .github/workflows/flux-local-diff.yaml
Labels: github

feat: two things, create new template for flux alerts, refactor arc-system
  kubernetes/apps/arc-system/controller.yaml
  kubernetes/apps/arc-system/controller/kustomization.yaml
  kubernetes/apps/arc-system/controller/release.yaml
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/arc-system/runner/cluster-role.yaml
  kubernetes/apps/arc-system/runner/external-secret.yaml
  kubernetes/apps/arc-system/runner/kustomization.yaml
  kubernetes/apps/arc-system/runner/release.yaml
  kubernetes/templates/flux/alerts/alert.yaml
  kubernetes/templates/flux/alerts/kustomization.yaml
  kubernetes/templates/flux/alerts/provider.yaml
Labels: kubernetes

feat: add alert configuration to flux
  kubernetes/apps/cert-manager/app.yaml
  kubernetes/apps/cert-manager/issuers.yaml
  kubernetes/apps/cert-manager/resources/kustomization.yaml
Labels: kubernetes

feat: add flux alerts, clean up manifests and language server
  kubernetes/apps/external-secrets/app.yaml
  kubernetes/apps/external-secrets/onepassword-connect/release.yaml
  kubernetes/apps/external-secrets/onepassword.yaml
  kubernetes/apps/external-secrets/resources/kustomization.yaml
  kubernetes/apps/external-secrets/resources/release.yaml
  kubernetes/apps/external-secrets/sources/external-secrets.yaml
  kubernetes/apps/external-secrets/sources/onepassword.yaml
  kubernetes/apps/external-secrets/stores.yaml
  kubernetes/apps/external-secrets/stores/cluster-secret-store.yaml
Labels: kubernetes

chore: clean up language server schemas
  kubernetes/apps/arc-system/controller.yaml
  kubernetes/apps/arc-system/controller/release.yaml
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/arc-system/runner/external-secret.yaml
  kubernetes/apps/arc-system/runner/release.yaml
  kubernetes/apps/arc-system/sources/gha-actions.yaml
  kubernetes/apps/cert-manager/app.yaml
  kubernetes/apps/cert-manager/issuers.yaml
  kubernetes/apps/cert-manager/issuers/external-secret.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-azure.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/apps/cert-manager/sources/jetstack-charts.yaml
  kubernetes/apps/cnpg-system/cloudnative-pg/app.yaml
  kubernetes/apps/cnpg-system/cloudnative-pg/resources/release.yaml
  kubernetes/apps/cnpg-system/sources/cloudnative-pg.yaml
Labels: kubernetes

chore: clean up language server schemas
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/release.yaml
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/ingress-system/gateway/resources/external.yaml
  kubernetes/apps/ingress-system/gateway/resources/http-redirect.yaml
  kubernetes/apps/ingress-system/gateway/resources/internal.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

feat: adjust dependencies add flux alerts
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/gateway/resources/kustomization.yaml
Labels: kubernetes

fix: not enough depth
  kubernetes/apps/ingress-system/gateway/resources/kustomization.yaml
Labels: kubernetes

chore: lots of updates, language server schemas, retry intervals
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/config.yaml
  kubernetes/apps/kube-system/cilium/gateway-api.yaml
  kubernetes/apps/kube-system/cilium/resources/http-route.yaml
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/descheduler/resources/release.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/metrics-server/resources/release.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/node-feature-discovery/resources/release.yaml
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/reloader/resources/release.yaml
  kubernetes/apps/kube-system/sources/cilium.yaml
  kubernetes/apps/kube-system/sources/descheduler.yaml
  kubernetes/apps/kube-system/sources/intel.yaml
  kubernetes/apps/kube-system/sources/metrics-server.yaml
  kubernetes/apps/kube-system/sources/node-feature-discovery.yaml
  kubernetes/apps/kube-system/sources/postfinance.yaml
  kubernetes/apps/kube-system/sources/proxmox-sergelogvinov.yaml
  kubernetes/apps/kube-system/sources/reloader.yaml
  kubernetes/apps/kube-system/sources/siderolabs.yaml
  kubernetes/apps/kube-system/sources/spegel.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/talos-ccm/app.yaml
  kubernetes/apps/kube-system/talos-ccm/resources/release.yaml
Labels: kubernetes

feat: add alerts in a hacky way, but probably pretty cleanly
  kubernetes/apps/kube-system/alerts/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

feat: bring the pattern to the other kustomizations
  kubernetes/apps/arc-system/alerts/kustomization.yaml
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/cert-manager/alerts/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/resources/kustomization.yaml
  kubernetes/apps/external-secrets/alerts/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/resources/kustomization.yaml
  kubernetes/apps/ingress-system/alerts/kustomization.yaml
  kubernetes/apps/ingress-system/gateway/resources/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
