Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(helm-chart): update chart cert-manager to v1.13.3
  kubernetes/infrastructure/controllers/cert-manager/release.yaml
Labels: kubernetes

ci(github-action): update sigstore/cosign-installer action to v3.3.0
  .github/workflows/publish-manifests.yaml
  .github/workflows/publish-schemas.yaml
Labels: github

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to ef35e21
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.734
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

fix(docker-image): update image kube-prometheus-stack to v55.3.1
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat(helm-chart): update chart loki to 5.41.0
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 7.0.17
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: kubernetes

fix(helm-chart): update istio group to 1.20.1
  kubernetes/infrastructure/controllers/istio/base/release.yaml
  kubernetes/infrastructure/controllers/istio/cni/release.yaml
  kubernetes/infrastructure/controllers/istio/gateway/release.yaml
  kubernetes/infrastructure/controllers/istio/istiod/release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to ef35e21
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.54
  kubernetes/infrastructure/controllers/reloader/release.yaml
Labels: kubernetes

fix(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/infrastructure/configs/flux-system/alert.yaml
Labels: kubernetes

fix(deps): update helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/home/emqx/release.yaml
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
  kubernetes/apps/monitoring/grafana/release.yaml
  kubernetes/apps/monitoring/weave-gitops/release.yaml
  kubernetes/apps/self-hosted/arc-runner/release.yaml
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
  kubernetes/infrastructure/controllers/cert-manager/release.yaml
  kubernetes/infrastructure/controllers/cilium/release.yaml
  kubernetes/infrastructure/controllers/descheduler/release.yaml
  kubernetes/infrastructure/controllers/external-dns/release.yaml
  kubernetes/infrastructure/controllers/external-secrets/release.yaml
  kubernetes/infrastructure/controllers/ingress-nginx/release.yaml
  kubernetes/infrastructure/controllers/internal-dns/release.yaml
  kubernetes/infrastructure/controllers/istio/base/release.yaml
  kubernetes/infrastructure/controllers/istio/cni/release.yaml
  kubernetes/infrastructure/controllers/istio/gateway/release.yaml
  kubernetes/infrastructure/controllers/istio/istiod/release.yaml
  kubernetes/infrastructure/controllers/kubelet-csr-approver/release.yaml
  kubernetes/infrastructure/controllers/metrics-server/release.yaml
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
  kubernetes/infrastructure/controllers/onepassword-connect/release.yaml
  kubernetes/infrastructure/controllers/reloader/release.yaml
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
  kubernetes/infrastructure/operators/cloudnative-pg/release.yaml
  kubernetes/infrastructure/operators/minio-operator/release.yaml
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
  kubernetes/monitoring/controllers/loki/release.yaml
  kubernetes/monitoring/controllers/minio/release.yaml
  kubernetes/monitoring/controllers/vector/agent/helm-release.yaml
  kubernetes/monitoring/controllers/vector/aggregator/helm-release.yaml
Labels: kubernetes

fix(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/infrastructure/configs/flux-system/provider.yaml
Labels: kubernetes

fix(helm-chart): update chart cilium to 1.14.5
  kubernetes/infrastructure/controllers/cilium/release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/github-actions-runner to 97b74a2
  kubernetes/apps/self-hosted/arc-runner/release.yaml
Labels: kubernetes

feat(deps): update flux group to v2.2.1
  .github/workflows/publish-manifests.yaml
  .github/workflows/publish-schemas.yaml
  bootstrap/flux/kustomization.yaml
  kubernetes/flux-system/configs/flux-installation.yaml
Labels: github, kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.737
  kubernetes/apps/mediaserver/sonarr/release.yaml
Labels: kubernetes

feat(docker-image): update image kube-prometheus-stack to v55.5.0
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.41.4
  kubernetes/monitoring/controllers/loki/release.yaml
Labels: kubernetes

chore(docker-image): update image public.ecr.aws/docker/library/busybox to 5c63a9b
  kubernetes/apps/mediaserver/recyclarr/release.yaml
Labels: kubernetes

fix flux ref
  kubernetes/flux-system/configs/flux-installation.yaml
Labels: kubernetes

chore(docker-image): pin image ghcr.io/fluxcd/flux-manifests to 36ffc08
  kubernetes/flux-system/configs/flux-installation.yaml
Labels: kubernetes

fix(helm-chart): update chart external-secrets to 0.9.10
  kubernetes/infrastructure/controllers/external-secrets/release.yaml
Labels: kubernetes

chore: update language server reference
  kubernetes/apps/home/emqx/release.yaml
  kubernetes/apps/home/kubernetes-schemas/release.yaml
  kubernetes/apps/home/zigbee2mqtt/release.yaml
  kubernetes/apps/mediaserver/overseerr/release.yaml
  kubernetes/apps/mediaserver/plex/release.yaml
  kubernetes/apps/mediaserver/prowlarr/release.yaml
  kubernetes/apps/mediaserver/radarr/release.yaml
  kubernetes/apps/mediaserver/recyclarr/release.yaml
  kubernetes/apps/mediaserver/sabnzbd/release.yaml
  kubernetes/apps/mediaserver/sonarr/release.yaml
  kubernetes/apps/mediaserver/tautulli/release.yaml
  kubernetes/apps/monitoring/grafana/release.yaml
  kubernetes/apps/monitoring/weave-gitops/release.yaml
  kubernetes/apps/self-hosted/arc-runner/release.yaml
  kubernetes/infrastructure/controllers/actions-runner-controller/release.yaml
  kubernetes/infrastructure/controllers/cert-manager/release.yaml
  kubernetes/infrastructure/controllers/cilium/release.yaml
  kubernetes/infrastructure/controllers/descheduler/release.yaml
  kubernetes/infrastructure/controllers/external-dns/release.yaml
  kubernetes/infrastructure/controllers/external-secrets/release.yaml
  kubernetes/infrastructure/controllers/ingress-nginx/release.yaml
  kubernetes/infrastructure/controllers/internal-dns/release.yaml
  kubernetes/infrastructure/controllers/istio/base/release.yaml
  kubernetes/infrastructure/controllers/kubelet-csr-approver/release.yaml
  kubernetes/infrastructure/controllers/metrics-server/release.yaml
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
  kubernetes/infrastructure/controllers/onepassword-connect/release.yaml
  kubernetes/infrastructure/controllers/reloader/release.yaml
  kubernetes/infrastructure/controllers/vsphere-csi/release.yaml
  kubernetes/infrastructure/operators/cloudnative-pg/release.yaml
  kubernetes/infrastructure/operators/minio-operator/release.yaml
  kubernetes/monitoring/controllers/loki/release.yaml
  kubernetes/monitoring/controllers/minio/release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/mcfio/home-cluster/kubernetes-schemas to f6bcbe4
  kubernetes/apps/home/kubernetes-schemas/release.yaml
Labels: kubernetes

feat: add vsphere-cpi foundational components, aka secret
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
  kubernetes/infrastructure/controllers/vsphere-cpi/kustomization.yaml
Labels: kubernetes

fix: comment out release
  kubernetes/infrastructure/controllers/vsphere-cpi/kustomization.yaml
Labels: kubernetes

feat: add helm release
  kubernetes/infrastructure/controllers/vsphere-cpi/kustomization.yaml
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix: use the proper source ref
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix(deps): update helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix: modelled the wrong helm chart
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix: format template properly
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
Labels: kubernetes

fix: format template properly
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
Labels: kubernetes

fix: format template properly
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
Labels: kubernetes

fix: ugh.. vcenter
  kubernetes/infrastructure/controllers/vsphere-cpi/external-secret.yaml
Labels: kubernetes

chore: update version, change deployment mode
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

fix: because apparently vmware can't keep configurations in sync
  kubernetes/infrastructure/controllers/vsphere-cpi/release.yaml
Labels: kubernetes

chore(docker-image): update image public.ecr.aws/docker/library/busybox to 5c63a9b
  kubernetes/apps/mediaserver/recyclarr/release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.2.4160
  kubernetes/apps/mediaserver/prowlarr/release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 7.0.19
  kubernetes/apps/monitoring/grafana/release.yaml
Labels: kubernetes
