Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: trust proxy configuration set to pod subnet
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: remove resources, helm template defines sensible defaults
  kubernetes/apps/kube-system/metrics-server/resources/release.yaml
Labels: kubernetes

feat: prepare for cluster rebuild
  bootstrap/talos/helmfile.yaml
  bootstrap/talos/profiles/controlplane.enc.yaml.j2
Labels: none

feat: update to use blockpool, no ec blockpools
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: re-arrange and add dependencies
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/ingress-system/gateway/resources/certificate.yaml
  kubernetes/apps/ingress-system/gateway/resources/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
Labels: kubernetes

feat: adjust plex metadata
  kubernetes/apps/default/plex/resources/kustomization.yaml
  kubernetes/apps/default/plex/resources/release.yaml
Labels: kubernetes

feat: bump cnpg cluster version
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: woops, forgot to remove this
  kubernetes/apps/kube-system/cilium/config/cilium-l2-announcement-policy.yaml
Labels: kubernetes

feat: edit cloudflare-tunnel deployment
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/release.yaml
Labels: kubernetes

feat: reduce cpu demand for cnpg
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: test removing pod security policies
  kubernetes/apps/default/namespace.yaml
Labels: kubernetes

feat: fix namespaces, wow, i'm terrible at checking things
  kubernetes/apps/arc-system/namespace.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
Labels: kubernetes

feat: test running as non-root
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: adjust ports and health probe
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: use ttyUSB0
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: adjust health check
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: zwave usb needs privileged
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

fix: adjust native routing CIDR
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
Labels: kubernetes

feat: adjust cilium config
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
Labels: kubernetes

feat: prett(ier) up files
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/customManagers.json5
  .github/renovate/versioning.json5
Labels: github

feat: remove plex-metadata volume.. not used
  kubernetes/apps/default/plex/addons/plex-image-cleanup/release.yaml
Labels: kubernetes

feat: yeah, this is a dumb utility now
  kubernetes/apps/default/plex/addons.yaml
Labels: kubernetes

feat: yeah, this is a dumb utility now
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

feat: use hostpath instead of block storage
  kubernetes/apps/default/emqx/resources/release.yaml
Labels: kubernetes

feat: adjust path to nfs share
  kubernetes/apps/default/plex/resources/release.yaml
Labels: kubernetes

feat: adjust path to nfs share
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: adjust path to nfs share
  kubernetes/apps/default/radarr/resources/release.yaml
  kubernetes/apps/default/sabnzbd/resources/release.yaml
Labels: kubernetes

feat: we're going to v3 baby!
  kubernetes/apps/monitoring/prometheus-stack/resources/release.yaml
Labels: kubernetes

feat: adjust cleaned up filesystems
  kubernetes/apps/default/plex/addons/kustomization.yaml
  kubernetes/apps/default/plex/addons/plex-image-cleanup/external-secret.yaml
  kubernetes/apps/default/plex/addons/plex-image-cleanup/kustomization.yaml
  kubernetes/apps/default/plex/addons/plex-image-cleanup/release.yaml
  kubernetes/apps/default/plex/resources/pvc-metadata.yaml
  kubernetes/apps/default/plex/resources/release.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: disable cni exclusivity
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
  kubernetes/apps/kube-system/cilium/resources/release.yaml
Labels: kubernetes

feat: add multus to cluster
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/multus/app.yaml
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

feat: adjust multus installation
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

fix: only .0 releases
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

fix: adjust some of the formatting
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

feat: add multus configuration
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
  kubernetes/apps/kube-system/multus/resources/network-definition.yaml
Labels: kubernetes

feat: adjust network definition
  kubernetes/apps/kube-system/multus/resources/network-definition.yaml
Labels: kubernetes

feat: correct multus configuration
  kubernetes/apps/kube-system/multus/resources/network-definition.yaml
Labels: kubernetes

feat: add home-assistant, wooo
  kubernetes/apps/default/home-assistant/app.yaml
  kubernetes/apps/default/home-assistant/resources/kustomization.yaml
  kubernetes/apps/default/home-assistant/resources/release.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

feat: add volsync configuration
  kubernetes/apps/default/home-assistant/resources/kustomization.yaml
Labels: kubernetes

feat: adjust mount path
  kubernetes/apps/default/minio/resources/release.yaml
Labels: kubernetes
