Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: update depends on
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph.yaml
Labels: kubernetes

fix: this isn't the 'home-cluster' anymore
  .github/workflows/flux-local-diff.yaml
Labels: github

feat: add monitoring charts to helm repo
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
Labels: kubernetes

feat: refactored monitoring, lets see how this goes
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/logging-stack.yaml
  kubernetes/apps/monitoring/logging-stack/kustomization.yaml
  kubernetes/apps/monitoring/logging-stack/loki.yaml
  kubernetes/apps/monitoring/logging-stack/promtail.yaml
  kubernetes/apps/monitoring/loki/app.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/monitoring/metrics-stack/crds/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/crds/release.yaml
  kubernetes/apps/monitoring/metrics-stack/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/alertmanager-config.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/external-secret.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/kube-state-metrics-config.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/kustomization.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/name-reference.yaml
  kubernetes/apps/monitoring/metrics-stack/resources/release.yaml
  kubernetes/apps/monitoring/promtail/app.yaml
  kubernetes/apps/monitoring/sources/grafana.yaml
  kubernetes/apps/monitoring/sources/kustomization.yaml
  kubernetes/apps/monitoring/sources/prometheus-community.yaml
Labels: kubernetes

feat: move grafana kustomizations to monitoring
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/grafana/resources/kustomization.yaml
  kubernetes/apps/monitoring/grafana/resources/release.yaml
Labels: kubernetes

feat: enable pruning once again
  kubernetes/flux/config/apps.yaml
  kubernetes/flux/config/repositories.yaml
  kubernetes/flux/config/sync.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: kubernetes

feat: clean up oci repositories
  kubernetes/flux/repositories/oci/cluster-manifests.yaml
Labels: kubernetes

fix: update chart definition
  kubernetes/apps/monitoring/logging-stack/loki.yaml
Labels: kubernetes

feat: add proxy image, talos upgrades add it
  talos/controlplane.yaml.j2
Labels: none

feat: remove unnecessary check
  bootstrap/helmfile.yaml
Labels: none

chore: refactor a lot of the bootstrap and talos tasks
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore: could bjw have figured it out??
  .renovate/autoMerge.json5
Labels: none

feat: enable mutating webhooks alpha feature, dump kyverno
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cnpg-system/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/kyverno/policies.yaml
  kubernetes/apps/kyverno/policies/flux-alerts.yaml
  kubernetes/apps/kyverno/resources/release.yaml
  kubernetes/apps/kyverno/sources/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/templates/alerts/alert.yaml
  kubernetes/templates/alerts/kustomization.yaml
  kubernetes/templates/alerts/provider.yaml
  talos/controlplane.yaml.j2
Labels: kubernetes

feat: add security context to volsync
  kubernetes/apps/volsync-system/resources/release.yaml
Labels: kubernetes

feat: using nfs mover, removing s3 mover
  kubernetes/apps/default/plex/resources/kustomization.yaml
Labels: kubernetes

feat: probably not the right one to test with, buuut
  kubernetes/apps/default/plex/resources/kustomization.yaml
Labels: kubernetes

feat: add more descriptive repository name
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: kubernetes

chore: update formatting, organization, repo info
  kubernetes/apps/default/plex/resources/release.yaml
Labels: kubernetes

feat: we're doing components!
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/flux/alerts/alert.yaml
  kubernetes/components/flux/alerts/kustomization.yaml
  kubernetes/components/flux/alerts/provider.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
Labels: kubernetes

feat: more components, less transformer
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/arc-system/namespace.yaml
Labels: kubernetes

feat: more components, no transformers, more DRY!
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/cnpg-system/kustomization.yaml
  kubernetes/apps/cnpg-system/namespace.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/ingress-system/namespace.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
Labels: kubernetes

feat: more components, no transformers, more DRY!
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
Labels: kubernetes

chore: clean up a less efficient version of this
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
Labels: kubernetes

feat: refactor plex ks, volsync as a component
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/plex/resources/pvc-cache.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/local/external-secret.yaml
  kubernetes/components/volsync/local/kustomization.yaml
  kubernetes/components/volsync/local/replication-destination.yaml
  kubernetes/components/volsync/local/replication-source.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/remote/external-secret.yaml
  kubernetes/components/volsync/remote/kustomization.yaml
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

fix: this is a bit weird
  kubernetes/apps/default/plex/app.yaml
Labels: kubernetes

feat: migrate everything else to new component/variable structure use
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/overseerr/resources/kustomization.yaml
  kubernetes/apps/default/overseerr/resources/pvc.yaml
  kubernetes/apps/default/overseerr/resources/release.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/prowlarr/resources/kustomization.yaml
  kubernetes/apps/default/prowlarr/resources/release.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/radarr/resources/kustomization.yaml
  kubernetes/apps/default/radarr/resources/release.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/recyclarr/resources/release.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sabnzbd/resources/kustomization.yaml
  kubernetes/apps/default/sabnzbd/resources/release.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/sonarr/resources/kustomization.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/tautulli/resources/kustomization.yaml
  kubernetes/apps/default/tautulli/resources/release.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/default/zwave-js-ui/resources/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: kubernetes

fix: too many depends
  kubernetes/apps/default/sabnzbd/app.yaml
Labels: kubernetes

fix: it's components too
  kubernetes/apps/default/sabnzbd/app.yaml
Labels: kubernetes

fix: use correct pvc name
  kubernetes/components/volsync/local/replication-source.yaml
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

chore: cleanup old templates directory
  kubernetes/templates/alerts/alert.yaml
  kubernetes/templates/alerts/kustomization.yaml
  kubernetes/templates/alerts/provider.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/local/external-secret.yaml
  kubernetes/templates/volsync/local/kustomization.yaml
  kubernetes/templates/volsync/local/replication-destination.yaml
  kubernetes/templates/volsync/local/replication-source.yaml
  kubernetes/templates/volsync/pvc.yaml
  kubernetes/templates/volsync/remote/external-secret.yaml
  kubernetes/templates/volsync/remote/kustomization.yaml
  kubernetes/templates/volsync/remote/replication-source.yaml
Labels: kubernetes

feat: add gatus as kustomize component
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/internal/config.yaml
  kubernetes/components/gatus/internal/kustomization.yaml
  kubernetes/templates/gatus/external/config-map.yaml
  kubernetes/templates/gatus/external/kustomization.yaml
  kubernetes/templates/gatus/internal/config-map.yaml
  kubernetes/templates/gatus/internal/kustomization.yaml
Labels: kubernetes

feat: add gatus configmap to plex
  kubernetes/apps/default/plex/app.yaml
Labels: kubernetes

feat: add gatus config to all default apps
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
Labels: kubernetes

feat: adjust resources
  kubernetes/apps/kube-system/descheduler/resources/release.yaml
Labels: kubernetes

feat: adjust cpu requests/limis, try to remove cpu limits
  kubernetes/apps/kube-system/cilium/resources/release.yaml
  kubernetes/apps/kube-system/descheduler/resources/release.yaml
  kubernetes/apps/kube-system/metrics-server/resources/release.yaml
  kubernetes/apps/kube-system/spegel/resources/helm-values.yaml
  kubernetes/apps/kube-system/spegel/resources/release.yaml
Labels: kubernetes

feat: disable pruning across cluster resources, prepping for flux-operator
  kubernetes/flux/config/apps.yaml
  kubernetes/flux/config/repositories.yaml
  kubernetes/flux/config/sync.yaml
Labels: kubernetes

feat: explicitly define a pr for this automerge
  .renovate/autoMerge.json5
Labels: none

feat: switch to flux operator
  kubernetes/apps/flux-system/flux.yaml
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
  kubernetes/apps/flux-system/flux/instance/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/name-reference.yaml
  kubernetes/apps/flux-system/flux/instance/release.yaml
  kubernetes/apps/flux-system/flux/kustomization.yaml
  kubernetes/apps/flux-system/flux/operator/helm-values.yaml
  kubernetes/apps/flux-system/flux/operator/kustomization.yaml
  kubernetes/apps/flux-system/flux/operator/name-reference.yaml
  kubernetes/apps/flux-system/flux/operator/release.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/resources/helm-values.yaml
  kubernetes/flux/repositories/helm/controlplaneio.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

fefat: prepare for flux-operator switch
  kubernetes/apps/arc-system/controller.yaml
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/cert-manager/cert-manager.yaml
  kubernetes/apps/cnpg-system/cnpg-operator.yaml
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/flux-system/addons.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/app.yaml
  kubernetes/apps/ingress-system/gateway/app.yaml
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/external-dns-unifi/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/apps/kube-system/talos-ccm/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/logging-stack.yaml
  kubernetes/apps/monitoring/metrics-stack.yaml
  kubernetes/apps/volsync-system/volsync.yaml
Labels: kubernetes

specify repository resource name, immutable after creation
  kubernetes/apps/flux-system/flux/instance/helm-values.yaml
Labels: kubernetes
