Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat: switch to new new datastore
  kubernetes/apps/mediaserver/prowlarr/app.yaml
  kubernetes/apps/mediaserver/sabnzbd/app.yaml
  kubernetes/apps/mediaserver/tautulli/app.yaml
Labels: kubernetes

feat: switch to new new datastore
  kubernetes/apps/home/zigbee2mqtt/app.yaml
  kubernetes/apps/home/zwave-js-ui/app.yaml
Labels: kubernetes

feat: switch to new new datastore
  kubernetes/monitoring/controllers/kube-prometheus-stack/release.yaml
Labels: kubernetes

feat: switch to new new datastore
  kubernetes/apps/mediaserver/plex/app.yaml
  kubernetes/apps/mediaserver/plex/resources/pvc-cache.yaml
  kubernetes/apps/mediaserver/plex/resources/pvc-metadata.yaml
Labels: kubernetes

feat: archive linstor use openebs
  .archive/linstor/kustomization.yaml
  .archive/linstor/linstor-cluster.yaml
  .archive/linstor/satellite-configuration.yaml
  .archive/linstor/storage-class.yaml
  .archive/piraeus-operator/issuer.yaml
  .archive/piraeus-operator/kustomization.yaml
  .archive/piraeus-operator/namespace.yaml
  .archive/piraeus-operator/release.yaml
  .archive/piraeus-operator/repository.yaml
  kubernetes/infrastructure/configs/openebs/disk-pool-node04.yaml
  kubernetes/infrastructure/configs/openebs/disk-pool-node05.yaml
  kubernetes/infrastructure/configs/openebs/disk-pool-node06.yaml
  kubernetes/infrastructure/configs/openebs/snapshot-class.yaml
  kubernetes/infrastructure/configs/openebs/storage-class.yaml
Labels: kubernetes

feat: remove unusused storage class
  kubernetes/infrastructure/controllers/openebs/release.yaml
Labels: kubernetes

feat: add volume snapshot crds to deployment
  kubernetes/infrastructure/controllers/openebs/release.yaml
Labels: kubernetes

feat: remove snapshot controller, openebs includes it
  .archive/snapshot-controller/kustomization.yaml
  .archive/snapshot-controller/release.yaml
  .archive/snapshot-controller/repository.yaml
  .archive/snapshot-controller/webhook.yaml
Labels: none

feat: clean up and standardize talos configuration files
  .gitattributes
  .gitignore
  .sops.yaml
  bootstrap/talos/assets/talos-k8s-node01.yaml
  bootstrap/talos/assets/talos-k8s-node02.yaml
  bootstrap/talos/assets/talos-k8s-node03.yaml
  bootstrap/talos/assets/talos-k8s-node04.yaml
  bootstrap/talos/assets/talos-k8s-node05.yaml
  bootstrap/talos/assets/talos-k8s-node06.yaml
  bootstrap/talos/clusterconfig/.gitignore
  bootstrap/talos/profiles/controlplane.enc.yaml
  bootstrap/talos/profiles/worker.enc.yaml
Labels: none

feat: refactor cilium deployment for bootstrap and flux managed
  kubernetes/infrastructure/controllers/cilium/cilium-values.yaml
  kubernetes/infrastructure/controllers/cilium/helm-values.yaml
  kubernetes/infrastructure/controllers/cilium/kustomization.yaml
  kubernetes/infrastructure/controllers/cilium/release.yaml
Labels: kubernetes

fix: woops, turned off masquerading
  kubernetes/infrastructure/controllers/cilium/helm-values.yaml
Labels: kubernetes

fix: masquerading
  kubernetes/infrastructure/controllers/cilium/helm-values.yaml
Labels: kubernetes

feat: remove default setting
  kubernetes/infrastructure/controllers/cilium/helm-values.yaml
Labels: kubernetes

feat: add system-upgrade controller
  kubernetes/infrastructure/controllers/system-upgrade/kustomization.yaml
  kubernetes/infrastructure/controllers/system-upgrade/namespace.yaml
  kubernetes/infrastructure/controllers/system-upgrade/release.yaml
  kubernetes/infrastructure/controllers/system-upgrade/repository.yaml
Labels: kubernetes

feat: update envrc configuration
  .envrc
Labels: none

feat: add role binding
  kubernetes/infrastructure/controllers/system-upgrade/cluster-role-binding.yaml
  kubernetes/infrastructure/controllers/system-upgrade/kustomization.yaml
Labels: kubernetes

feat: update groups to include talos
  .github/renovate/groups.json5
Labels: github

feat: add kustomization to openebs-system directory
  kubernetes/infrastructure/configs/openebs/kustomization.yaml
Labels: kubernetes

feat: add postbuild variables to configurations
  kubernetes/flux-system/configs/infrastructure-configs.yaml
Labels: kubernetes

feat: add system-upgrade talos plan
  kubernetes/infrastructure/configs/system-upgrade/kustomization.yaml
  kubernetes/infrastructure/configs/system-upgrade/service-account.yaml
  kubernetes/infrastructure/configs/system-upgrade/talos.yaml
Labels: kubernetes

feat: actually save the file so it can be applied
  kubernetes/infrastructure/configs/system-upgrade/talos.yaml
Labels: kubernetes

feat: add k8s upgrade plan to system-upgrade controller
  kubernetes/infrastructure/configs/system-upgrade/kubernetes.yaml
  kubernetes/infrastructure/configs/system-upgrade/kustomization.yaml
Labels: kubernetes

feat: refactor kubelet-csr-approver for helmfile
  kubernetes/infrastructure/controllers/kubelet-csr-approver/helm-values.yaml
  kubernetes/infrastructure/controllers/kubelet-csr-approver/kustomization.yaml
  kubernetes/infrastructure/controllers/kubelet-csr-approver/name-reference.yaml
  kubernetes/infrastructure/controllers/kubelet-csr-approver/release.yaml
Labels: kubernetes

feat: add helmfile for initial cluster bootsrap
  bootstrap/talos/helmfile.yaml
Labels: none

feat: talos taskfile refactored
  .taskfiles/talos/Taskfile.yml
Labels: none

chore: align to taskfile style guide
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

chord: remove old secrets directory
  .gitignore
  .secrets/.keep
  .sourceignore
Labels: none

task: add volsync suspend/resume task
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

task: re-encypt files
  .sops.yaml
  bootstrap/talos/profiles/controlplane.enc.yaml
  bootstrap/talos/profiles/worker.enc.yaml
Labels: none

fix: add system labels to enable system upgrades
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
Labels: kubernetes

feat: allow scheduling on control plane
  kubernetes/infrastructure/controllers/node-feature-discovery/release.yaml
Labels: kubernetes

chore: cleanup and update workflows
  .github/workflows/labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: github

chore: pin flux version
  .github/workflows/flux-local-diff.yaml
Labels: github

chore: re-organize templates
  kubernetes/apps/home/emqx/resources/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/resources/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/resources/kustomization.yaml
  kubernetes/apps/mediaserver/overseerr/resources/kustomization.yaml
  kubernetes/apps/mediaserver/plex/resources/kustomization.yaml
  kubernetes/apps/mediaserver/prowlarr/resources/kustomization.yaml
  kubernetes/apps/mediaserver/radarr/resources/kustomization.yaml
  kubernetes/apps/mediaserver/sabnzbd/resources/kustomization.yaml
  kubernetes/apps/mediaserver/sonarr/resources/kustomization.yaml
  kubernetes/apps/mediaserver/tautulli/resources/kustomization.yaml
  kubernetes/templates/istio/http-route.yaml
  kubernetes/templates/istio/kustomization.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/local/external-secret.yaml
  kubernetes/templates/volsync/local/kustomization.yaml
  kubernetes/templates/volsync/local/replication-destination.yaml
  kubernetes/templates/volsync/local/replication-source.yaml
  kubernetes/templates/volsync/pvc.yaml
  kubernetes/templates/volsync/remote/external-secret.yaml
  kubernetes/templates/volsync/remote/kustomization.yaml
  kubernetes/templates/volsync/remote/replication-source.yaml
Labels: kubernetes

feat: refactor overseerr
  kubernetes/apps/mediaserver/overseerr/app.yaml
  kubernetes/apps/mediaserver/overseerr/resources/http-route.yaml
  kubernetes/apps/mediaserver/overseerr/resources/kustomization.yaml
  kubernetes/apps/mediaserver/overseerr/resources/release.yaml
Labels: kubernetes

feat: add unifi webhook
  kubernetes/infrastructure/controllers/external-dns-unifi/external-secret.yaml
  kubernetes/infrastructure/controllers/external-dns-unifi/kustomization.yaml
  kubernetes/infrastructure/controllers/external-dns-unifi/release.yaml
Labels: kubernetes

feat: add unifi webhook
  kubernetes/infrastructure/controllers/external-dns-unifi/kustomization.yaml
Labels: kubernetes

feat: manually bump chart version
  kubernetes/infrastructure/controllers/external-dns-unifi/release.yaml
  kubernetes/infrastructure/controllers/external-dns/repository.yaml
Labels: kubernetes

fix: specify proper password, add necessary extraargs
  kubernetes/infrastructure/controllers/external-dns-unifi/release.yaml
Labels: kubernetes

feat: add groups to gha controller
  .github/renovate/groups.json5
Labels: github

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
