Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: and chore, clean up add alerts
  kubernetes/apps/monitoring/alerts/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app.yaml
  kubernetes/apps/monitoring/loki/resources/release.yaml
  kubernetes/apps/monitoring/prometheus-stack/app.yaml
  kubernetes/apps/monitoring/prometheus-stack/crds.yaml
  kubernetes/apps/monitoring/prometheus-stack/crds/release.yaml
  kubernetes/apps/monitoring/promtail/app.yaml
  kubernetes/apps/monitoring/promtail/resources/release.yaml
  kubernetes/apps/monitoring/sources/grafana.yaml
  kubernetes/apps/monitoring/sources/prometheus-community.yaml
  kubernetes/apps/openebs-system/alerts/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app.yaml
  kubernetes/apps/openebs-system/openebs/resources/release.yaml
  kubernetes/apps/openebs-system/sources/openebs.yaml
  kubernetes/apps/rook-ceph/alerts/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/app.yaml
  kubernetes/apps/rook-ceph/cluster/resources/http-route.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/app.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/app.yaml
  kubernetes/apps/volsync-system/alerts/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/sources/backube.yaml
  kubernetes/apps/volsync-system/volsync/app.yaml
  kubernetes/apps/volsync-system/volsync/resources/release.yaml
Labels: kubernetes

feat: adjust event sources to include helm repositories
  kubernetes/templates/flux/alerts/alert.yaml
Labels: kubernetes

feat: add flux alerts, clean op schemas
  kubernetes/apps/flux-system/addons.yaml
  kubernetes/apps/flux-system/addons/monitoring/pod-monitor.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/http-route.yaml
  kubernetes/apps/flux-system/alerts/alert.yaml
  kubernetes/apps/flux-system/alerts/kustomization.yaml
  kubernetes/apps/flux-system/app.yaml
  kubernetes/apps/flux-system/configs.yaml
  kubernetes/apps/flux-system/configs/apps.yaml
  kubernetes/apps/flux-system/sources/cluster-manifests.yaml
  kubernetes/apps/flux-system/sources/flux-manifests.yaml
  kubernetes/apps/flux-system/sources/weaveworks-charts.yaml
Labels: kubernetes

feat: add flux alerts, clean up schemas and kustomizations
  kubernetes/apps/default/alerts/kustomization.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/emqx/resources/http-route.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/plex/resources/release.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/sources/bjw-s.yaml
  kubernetes/apps/default/sources/emqx.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zwave-js-ui/app.yaml
Labels: kubernetes

feat: try again to swich to kubernetes runner
  kubernetes/apps/arc-system/runner/release.yaml
Labels: kubernetes

feat: some version maintenance
  .github/workflows/schemas.yaml
Labels: github

feat: add security context config
  kubernetes/apps/arc-system/runner/release.yaml
Labels: kubernetes

feat: switch to using just the secret name
  kubernetes/apps/arc-system/runner/release.yaml
Labels: kubernetes

fix: woops, depends fail
  .github/workflows/flux-local-diff.yaml
Labels: github

feat: adjust spacing
  .github/workflows/flux-local-diff.yaml
Labels: github

feat: switch to appropriate config option
  talos/controlplane.enc.yaml.j2
Labels: none

feat: add github notifications
  kubernetes/apps/flux-system/addons/notifications/github/alert.yaml
  kubernetes/apps/flux-system/addons/notifications/github/external-secret.yaml
  kubernetes/apps/flux-system/addons/notifications/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/github/provider.yaml
  kubernetes/apps/flux-system/addons/notifications/kustomization.yaml
Labels: kubernetes

fix: woops, forgot to update this file
  kubernetes/apps/flux-system/addons/notifications/github/kustomization.yaml
Labels: kubernetes

fix: wrong file contents, change to using oci repo status
  kubernetes/apps/flux-system/addons/notifications/github/alert.yaml
  kubernetes/apps/flux-system/addons/notifications/github/provider.yaml
Labels: kubernetes

feat: because arc makes it really hard
  .taskfiles/k8s/Taskfile.yml
Labels: none

feat: some more alert testing
  kubernetes/apps/flux-system/addons/notifications/github/alert.yaml
Labels: kubernetes

feat: change the revision format
  .github/workflows/publish-manifests.yaml
Labels: github

feat: lets see if we can find the right sha
  .github/workflows/publish-manifests.yaml
Labels: github

feat: disable pruning of flux while i remove it..
  kubernetes/apps/flux-system/app.yaml
Labels: kubernetes

feat: switch to flux helm deployment
  bootstrap/helmfile.yaml
  kubernetes/apps/flux-system/addons/kustomization.yaml
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/addons/monitoring/pod-monitor.yaml
  kubernetes/apps/flux-system/app.yaml
  kubernetes/apps/flux-system/flux/app.yaml
  kubernetes/apps/flux-system/flux/github.yaml
  kubernetes/apps/flux-system/flux/github/kustomization.yaml
  kubernetes/apps/flux-system/flux/github/notifications/alert.yaml
  kubernetes/apps/flux-system/flux/github/notifications/external-secret.yaml
  kubernetes/apps/flux-system/flux/github/notifications/kustomization.yaml
  kubernetes/apps/flux-system/flux/github/notifications/provider.yaml
  kubernetes/apps/flux-system/flux/github/webhooks/external-secret.yaml
  kubernetes/apps/flux-system/flux/github/webhooks/http-route.yaml
  kubernetes/apps/flux-system/flux/github/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/flux/github/webhooks/receiver.yaml
  kubernetes/apps/flux-system/flux/resources/helm-values.yaml
  kubernetes/apps/flux-system/flux/resources/kustomization.yaml
  kubernetes/apps/flux-system/flux/resources/name-reference.yaml
  kubernetes/apps/flux-system/flux/resources/release.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/sources/fluxcd-community.yaml
  kubernetes/apps/flux-system/sources/kustomization.yaml
Labels: kubernetes

fix: woopsie
  kubernetes/apps/flux-system/flux/resources/kustomization.yaml
Labels: kubernetes

fix: use the proper name
  kubernetes/apps/flux-system/flux/resources/release.yaml
Labels: kubernetes

fix: use the proper name
  kubernetes/apps/flux-system/flux/resources/release.yaml
Labels: kubernetes

feat: test pr-85, apikey for unifi
  kubernetes/apps/kube-system/external-dns-unifi/resources/external-secret.yaml
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
Labels: kubernetes

feat: consolidate secrets
  kubernetes/apps/cert-manager/issuers/external-secret.yaml
  kubernetes/apps/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-azure.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/cert-manager/issuers/letsencrypt-staging.yaml
Labels: kubernetes

feat: update secret to use same cloudflare token
  kubernetes/apps/ingress-system/cloudflare/external-dns/resources/external-secret.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/resources/release.yaml
Labels: kubernetes

feat: dns-endpoint belongs to tunnel
  kubernetes/apps/ingress-system/cloudflare/external-dns/app.yaml
  kubernetes/apps/ingress-system/cloudflare/external-dns/resources/kustomization.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/dns-endpoint.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/kustomization.yaml
  kubernetes/apps/ingress-system/cloudflare/tunnel/resources/release.yaml
Labels: kubernetes

feat: cause I'm a little bit ocd
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: use released artifact
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
Labels: kubernetes

feat: rename secret, used in other integrations
  kubernetes/apps/kube-system/external-dns-unifi/resources/external-secret.yaml
Labels: kubernetes

feat: kyverno.. here i come
  kubernetes/apps/kyverno/app.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/kyverno/resources/kustomization.yaml
  kubernetes/apps/kyverno/resources/release.yaml
  kubernetes/apps/kyverno/sources/kustomization.yaml
  kubernetes/apps/kyverno/sources/kyverno.yaml
Labels: kubernetes

feat: transformers!! nope, kyverno policies
  kubernetes/apps/arc-system/alerts/kustomization.yaml
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/cert-manager/alerts/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/alerts/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/alerts/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/alerts/alert.yaml
  kubernetes/apps/flux-system/alerts/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/ingress-system/alerts/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/kube-system/alerts/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/policies.yaml
  kubernetes/apps/kyverno/policies/flux-alerts.yaml
  kubernetes/apps/monitoring/alerts/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/rook-ceph/alerts/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/volsync-system/alerts/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: kubernetes

fix: add the necessary rbac controls
  kubernetes/apps/kyverno/resources/release.yaml
Labels: kubernetes

fix: use proper rbac policy updates
  kubernetes/apps/kyverno/resources/release.yaml
Labels: kubernetes

feat: switched to kyverno policy, much easier
  kubernetes/templates/flux/alerts/alert.yaml
  kubernetes/templates/flux/alerts/kustomization.yaml
  kubernetes/templates/flux/alerts/provider.yaml
Labels: kubernetes

fix: adjust policy name and remove old resources
  kubernetes/apps/kyverno/policies/flux-alerts.yaml
  kubernetes/apps/openebs-system/alerts/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
Labels: kubernetes

feat: use crane to determine digest
  .github/workflows/publish-manifests.yaml
Labels: github

fix: woops, extra quotes
  .github/workflows/publish-manifests.yaml
Labels: github

fix: err, ok
  .github/workflows/publish-manifests.yaml
Labels: github

fix: it was not a typo it was a messupo
  .github/workflows/publish-manifests.yaml
Labels: github
