Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: use fullnameOverride to set proper deployment/secret names
  cluster/ingress-system/internal-dns/helm-release.yaml
Labels: kubernetes

fix: kustomize timeout and secret configuration
  cluster/ingress-system/internal-dns.yaml
  cluster/ingress-system/internal-dns/helm-release.yaml
Labels: kubernetes

feat: resurrect emqx
  cluster/home/emqx/helm-release.yaml
  cluster/home/emqx/helm-repository.yaml
  cluster/home/emqx/ingress.yaml
  cluster/home/emqx/kustomization.yaml
  cluster/home/emqx/secret.enc.yaml
Labels: kubernetes

feat: add local path provisioner
  cluster/kube-system/kustomization.yaml
  cluster/kube-system/local-path-provisioner.yaml
  cluster/kube-system/local-path-provisioner/helm-release.yaml
  cluster/kube-system/local-path-provisioner/helm-repository.yaml
  cluster/kube-system/local-path-provisioner/kustomization.yaml
Labels: kubernetes

fix: update local path
  cluster/kube-system/local-path-provisioner/helm-release.yaml
Labels: kubernetes

feat: move sabnzbd to new deployment structure
  cluster/apps/mediaserver/kustomization.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/sabnzbd.yaml
  cluster/mediaserver/sabnzbd/external-secret.yaml
  cluster/mediaserver/sabnzbd/helm-release.yaml
  cluster/mediaserver/sabnzbd/kustomization.yaml
Labels: kubernetes

fix: remove flux variable substitutions
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat: use sabnzbd stored secrets
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat: move plex to new deployment
  cluster/apps/mediaserver/kustomization.yaml
  cluster/apps/mediaserver/plex/cache-pvc.yaml
  cluster/apps/mediaserver/plex/helm-release.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/plex.yaml
  cluster/mediaserver/plex/helm-release.yaml
  cluster/mediaserver/plex/kustomization.yaml
Labels: kubernetes

fix(helm-chart): update helm release app-template to 1.3.2
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
  cluster/apps/mediaserver/radarr-uhd/helm-release.yaml
  cluster/apps/mediaserver/tautulli/helm-release.yaml
  cluster/external-secrets/onepassword-connect/helm-release.yaml
  cluster/ingress-system/theme-park/helm-release.yaml
  cluster/mediaserver/overseerr/helm-release.yaml
  cluster/mediaserver/plex/helm-release.yaml
  cluster/mediaserver/radarr/helm-release.yaml
  cluster/mediaserver/recyclarr/helm-release.yaml
  cluster/mediaserver/sabnzbd/helm-release.yaml
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release csi-driver-nfs to v4.2.0
  cluster/kube-system/csi-driver-nfs/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release promtail to 6.9.0
  cluster/monitoring/promtail/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.2.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat: enable emqx in cluster
  cluster/apps/home/mosquitto/kustomization.yaml
  cluster/home/emqx.yaml
  cluster/home/emqx/certificate.yaml
  cluster/home/emqx/external-secret.yaml
  cluster/home/emqx/helm-release.yaml
  cluster/home/emqx/helm-repository.yaml
  cluster/home/emqx/ingress.yaml
  cluster/home/emqx/kustomization.yaml
  cluster/home/emqx/secret.enc.yaml
  cluster/home/kustomization.yaml
Labels: kubernetes

fix: manually bump to latest release
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: correct how usernames and passwords are populated
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: use charts tls configuration
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: remove TLS CERTFILE config, increase timeout
  cluster/home/emqx.yaml
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: use proper TLS env options
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

feat: cut over mqtt endpoint to emqx
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

fix: use kustomize patch to get service labels
  cluster/home/emqx/helm-release.yaml
Labels: kubernetes

feat: add azure dns to solvers
  cluster/cert-manager/issuers/external-secret.yaml
  cluster/cert-manager/issuers/kustomization.yaml
  cluster/cert-manager/issuers/letsencrypt-azure.yaml
  cluster/cert-manager/issuers/letsencrypt-prod.yaml
  cluster/cert-manager/issuers/letsencrypt-staging.yaml
Labels: kubernetes

fix: use azure solver for certificate
  cluster/home/emqx/certificate.yaml
Labels: kubernetes

fix: fix azure secret name reference
  cluster/cert-manager/issuers/letsencrypt-azure.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to c8754b0
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/radarr-develop docker tag to v4.4.2.6956
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.386
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.2.2.2699
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

feat: update issuer to use azuredns solver
  cluster/ingress-system/certificates/certificate.yaml
Labels: kubernetes

feat: archive mosquitto, you may return../..
  archived/mosquitto/config-pvc.yaml
  archived/mosquitto/helm-release.yaml
  archived/mosquitto/kustomization.yaml
  archived/mosquitto/secret.enc.yaml
  cluster/apps/home/kustomization.yaml
Labels: kubernetes

feat: add page cache bypass for plex
  infrastructure/terraform/cloudflare/mcfio/main.tf
Labels: terraform

feat: enable external plex address
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: update terraform modules, whew, out of date 1.0.9???
  infrastructure/terraform/cloudflare/mcfio/main.tf
Labels: terraform

ci(github-action): update tj-actions/changed-files action to v35.5.6
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix: create two tls certificates
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: try different external port IPs
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: remove advertise ip
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: disable ingresses, they're not used
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix: ensable dsr for cilium network
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: remove no longer needed configuration
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
