Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: add silence for keda hpa
  kubernetes/apps/monitoring/silence-operator/silences/keda-hpa-maxed.yaml
  kubernetes/apps/monitoring/silence-operator/silences/kustomization.yaml
Labels: kubernetes

feat: re-enable kps dashboards
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/kube-state-metrics-config.yaml
Labels: kubernetes

feat: add vsphere-cpi, yep.. vsphere
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/vsphere-cpi/app.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/external-secret.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/git-repository.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/kustomization.yaml
Labels: kubernetes

fix: because copilot is dumb
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

fix: chartRef to sourceRef
  kubernetes/apps/kube-system/vsphere-cpi/resources/git-repository.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
Labels: kubernetes

fix: not a tag, branch
  kubernetes/apps/kube-system/vsphere-cpi/resources/git-repository.yaml
Labels: kubernetes

fix: add daemonset config option
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
Labels: kubernetes

fix: yeah, I'm a goof
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
Labels: kubernetes

fix: wow
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
Labels: kubernetes

feat: undeploy vsphere-cpi
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

feat: back to bgp, ugh
  kubernetes/apps/kube-system/cilium/config/bgp-advertisement.yaml
  kubernetes/apps/kube-system/cilium/config/bgp-cluster-config.yaml
  kubernetes/apps/kube-system/cilium/config/bgp-peer-config.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
Labels: kubernetes

feat: enable bgp control plane
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
Labels: kubernetes

feat: turn on l2's until unifi ea bgp is fixed
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
Labels: kubernetes

Revert "fix(container): update rook-ceph group ( v1.18.4 ➔ v1.18.5 ) (#3217)"
  kubernetes/apps/rook-ceph/cluster/oci-repository.yaml
  kubernetes/apps/rook-ceph/operator/oci-repository.yaml
Labels: kubernetes

feat: switch to using victoria logs
  kubernetes/apps/monitoring/fluent-bit/resources/grafana-dashboard.yaml
  kubernetes/apps/monitoring/fluent-bit/resources/helm-release.yaml
  kubernetes/apps/monitoring/fluent-bit/resources/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/resources/helm-release.yaml
  kubernetes/apps/monitoring/victoria-logs/app.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/grafana-dashboard.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/helm-release.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/kustomization.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/oci-repository.yaml
Labels: kubernetes

feat: switch to using victoria logs (#3220)
  kubernetes/apps/monitoring/fluent-bit/resources/grafana-dashboard.yaml
  kubernetes/apps/monitoring/fluent-bit/resources/helm-release.yaml
  kubernetes/apps/monitoring/fluent-bit/resources/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/resources/helm-release.yaml
  kubernetes/apps/monitoring/victoria-logs/app.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/grafana-dashboard.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/helm-release.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/kustomization.yaml
  kubernetes/apps/monitoring/victoria-logs/resources/oci-repository.yaml
Labels: kubernetes

feat: attempt at fixing failed image pulls
  .github/workflows/image-pull.yaml
  kubernetes/apps/arc-system/runner/resources/helm-release.yaml
Labels: github, kubernetes

feat: update oci repo, remove cosign verification. update capability flags
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
  kubernetes/apps/kube-system/cilium/resources/oci-repository.yaml
Labels: kubernetes

chore: increase kopia maintenance to 3x daily
  kubernetes/apps/volsync-system/kopia/maintenance/kopia-maintenance.yaml
Labels: kubernetes

chore: update schematic and justfile
  talos/machineconfig.yaml.j2
  talos/mod.just
Labels: none

fix: some testing slipped in there
  talos/mod.just
Labels: none

chore: disable bgp control plane for a bit
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
Labels: kubernetes

fix: small tweak
  .github/workflows/image-pull.yaml
Labels: github

fix: use official repo
  kubernetes/apps/monitoring/silence-operator/resources/helm-release.yaml
  kubernetes/apps/monitoring/silence-operator/resources/oci-repository.yaml
Labels: kubernetes

fix: remove lazy tolerations
  kubernetes/apps/kube-system/spegel/resources/helm-release.yaml
Labels: kubernetes

chore: add some anti-affinities while node is being replaced
  kubernetes/apps/default/home-assistant/resources/helm-release.yaml
Labels: kubernetes

fix: woops, this is the right spot
  kubernetes/apps/default/home-assistant/resources/helm-release.yaml
Labels: kubernetes

chore: add other pods anti-affinity
  kubernetes/apps/default/matter-server/resources/helm-release.yaml
  kubernetes/apps/default/scrypted/resources/helm-release.yaml
Labels: kubernetes

chore: update descheduler evictor args
  kubernetes/apps/kube-system/descheduler/resources/helm-release.yaml
Labels: kubernetes

chore: migrate to gatus sidecar
  kubernetes/apps/default/gatus/resources/helm-release.yaml
Labels: kubernetes

fix: add proper role rules
  kubernetes/apps/default/gatus/resources/helm-release.yaml
Labels: kubernetes

fix: add more role rules
  kubernetes/apps/default/gatus/resources/helm-release.yaml
Labels: kubernetes

chore: clean up and add crds, they haven't changed in what looks to be 5-7 years...
  kubernetes/apps/kube-system/multus/resources/crds.yaml
  kubernetes/apps/kube-system/multus/resources/helm-release.yaml
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

chore: use official oci helm chart
  kubernetes/apps/openebs-system/openebs/resources/oci-repository.yaml
Labels: kubernetes

chore: pin mac addresses
  kubernetes/apps/default/home-assistant/resources/helm-release.yaml
  kubernetes/apps/default/matter-server/resources/helm-release.yaml
  kubernetes/apps/default/scrypted/resources/helm-release.yaml
Labels: kubernetes

chore: there is no zigbee only matter...
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/helm-release.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/kustomization.yaml
Labels: kubernetes

chore: remove vsphere, not on this cluster
  kubernetes/apps/kube-system/vsphere-cpi/app.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/external-secret.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/git-repository.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/helm-release.yaml
  kubernetes/apps/kube-system/vsphere-cpi/resources/kustomization.yaml
Labels: kubernetes

chore: remove vsphere-cpi comment
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

chore: update kube-proxy free configuration, enable bgp control plane again
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
Labels: kubernetes

fix: update bgp config, working now
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/config/bgp-advertisement.yaml
  kubernetes/apps/kube-system/cilium/config/bgp-cluster-config.yaml
  kubernetes/apps/kube-system/cilium/config/bgp-peer-config.yaml
Labels: kubernetes
