Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat: add home-assistant to cluster
  cluster/home/home-assistant.yaml
  cluster/home/home-assistant/helm-release.yaml
  cluster/home/home-assistant/kustomization.yaml
  cluster/home/kustomization.yaml
Labels: kubernetes

feat: enable homekit port
  cluster/home/home-assistant/helm-release.yaml
Labels: kubernetes

feat: remove home-assistant
  archived/home-assistant/helm-release.yaml
  archived/home-assistant/kustomization.yaml
  cluster/home/home-assistant.yaml
  cluster/home/kustomization.yaml
Labels: kubernetes

feat: move tautulli, remove apps
  cluster/apps/mediaserver/kustomization.yaml
  cluster/apps/mediaserver/namespace.yaml
  cluster/apps/mediaserver/secret.enc.yaml
  cluster/apps/mediaserver/tautulli/kustomization.yaml
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/tautulli.yaml
  cluster/mediaserver/tautulli/helm-release.yaml
  cluster/mediaserver/tautulli/kustomization.yaml
Labels: kubernetes

feat: remove apps configuration
  cluster/flux/apps.yaml
  cluster/flux/kustomization.yaml
Labels: kubernetes

fix: fix patching syntax
  cluster/flux-system/deploy/flux.yaml
Labels: kubernetes

fix: bump flux
  cluster/flux-system/deploy/oci-repository.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 72e1c95
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

fix(deps): update fluxcd/flux2 to v0.41.2
  bootstrap/flux/kustomization.yaml
  cluster/core/flux-system/kustomization.yaml
Labels: kubernetes

feat(helm-chart)!: Update Helm release vsphere-csi to 3.0.0
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.409
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update rook-ceph group to v1.11.2
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.410
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

bump flux release
  cluster/flux-system/deploy/oci-repository.yaml
Labels: kubernetes

feat(deps): update pre-commit hook adrienverge/yamllint to v1.30.0
  .pre-commit-config.yaml
Labels: none

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 39222df
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to c493413
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.411
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.6
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.412
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

ci(github-action): update actions/checkout action to v3.5.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(docker-image): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.11.1
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.3.2.2984
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release ingress-nginx to 4.6.0
  cluster/ingress-system/nginx/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.16
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.8.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.421
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix: disable service monitors, new clusters don't have prometheus crds yet
  cluster/external-secrets/deploy/helm-release.yaml
Labels: kubernetes

feat: add pod-security label to namespace
  cluster/vsphere-csi/namespace.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.7
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update helm release metrics-server to 3.9.0
  cluster/kube-system/metrics-server/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.31.3.6868-28fc46b27
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.8
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update helm release loki to 4.9.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kube-prometheus-stack to 45.8.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to b811222
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.422
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to c8a2cd2
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 106efb8
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release weave-gitops to 4.0.17
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
