Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: duh, renamed this
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
Labels: kubernetes

fix: adjust controller name
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
Labels: kubernetes

fix: omg, i'm terrible at this
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
Labels: kubernetes

fix: adjust config path
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
Labels: kubernetes

feat: migrate external-dns-unifi to ingress system
  kubernetes/apps/ingress-system/external-dns-unifi/app.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/resources/external-secret.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/resources/helm-release.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/resources/kustomization.yaml
  kubernetes/apps/ingress-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

chore: housekeeping in utility tools
  .mise.toml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/restore.yaml.j2
  .taskfiles/volsync/resources/unlock.yaml.j2
  Taskfile.yaml
Labels: none

feat: switch to using oci repository
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
  kubernetes/apps/kube-system/cilium/resources/kustomization.yaml
Labels: kubernetes

chore: cleanup unused helm repositories
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/fluxcd-community.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: kubernetes

feat: switch spegel to oci repository
  kubernetes/apps/kube-system/spegel/resources/helm-release.yaml
  kubernetes/apps/kube-system/spegel/resources/kustomization.yaml
  kubernetes/apps/kube-system/spegel/resources/oci-repository.yaml
Labels: kubernetes

chore: cleanup unused helm repository
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/spegel.yaml
Labels: kubernetes

feat: migrate flux-operator to oci repository
  kubernetes/apps/flux-system/flux/instance/helm-release.yaml
  kubernetes/apps/flux-system/flux/instance/kustomization.yaml
  kubernetes/apps/flux-system/flux/instance/oci-repository.yaml
  kubernetes/apps/flux-system/flux/operator/helm-release.yaml
  kubernetes/apps/flux-system/flux/operator/kustomization.yaml
  kubernetes/apps/flux-system/flux/operator/oci-repository.yaml
  kubernetes/flux/repositories/helm/controlplaneio.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: kubernetes

fix: holy shit I'm an idiot
  kubernetes/apps/flux-system/flux/instance/helm-release.yaml
Labels: kubernetes

fix: adjust cache capacities, apparently running out of space?
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
Labels: kubernetes

fix: small typo
  Taskfile.yaml
Labels: none

feat: add bootstrap, not really tested
  .taskfiles/bootstrap/Taskfile.yaml
  bootstrap/resources/ingress-system.yaml
Labels: none

chore: some typo cleanup
  .taskfiles/volsync/Taskfile.yaml
Labels: none

chore: adjust replication on r2 as to not cause high IO
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

fix: whoa, didn't realize I was behind
  kubernetes/apps/arc-system/runner/external-secret.yaml
  kubernetes/apps/cert-manager/issuers/external-secret.yaml
  kubernetes/apps/default/cnpg-cluster/resources/external-secret.yaml
  kubernetes/apps/default/emqx/resources/external-secret.yaml
  kubernetes/apps/default/gatus/resources/external-secret.yaml
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
  kubernetes/apps/default/radarr/resources/external-secret.yaml
  kubernetes/apps/default/recyclarr/resources/external-secret.yaml
  kubernetes/apps/default/sabnzbd/resources/external-secret.yaml
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/stores/onepassword.yaml
  kubernetes/apps/flux-system/flux/instance/webhook/external-secret.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/external-secret.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/resources/external-secret.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/resources/external-secret.yaml
  kubernetes/apps/monitoring/grafana/resources/external-secret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/resources/external-secret.yaml
  kubernetes/apps/rook-ceph/cluster/external-secret.yaml
  kubernetes/components/common/alerts/github/external-secret.yaml
  kubernetes/components/volsync/local/external-secret.yaml
  kubernetes/components/volsync/remote/external-secret.yaml
Labels: kubernetes

feat: refactor external secrets, externalize onepassword-connect
  kubernetes/apps/arc-system/runner.yaml
  kubernetes/apps/cert-manager/cert-manager-issuers.yaml
  kubernetes/apps/default/cnpg-cluster/app.yaml
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/external-secrets/README.md
  kubernetes/apps/external-secrets/external-secrets-stores.yaml
  kubernetes/apps/external-secrets/external-secrets.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword.yaml
  kubernetes/apps/external-secrets/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/release.yaml
  kubernetes/apps/external-secrets/resources/cluster-secret-store.yaml
  kubernetes/apps/external-secrets/resources/helm-release.yaml
  kubernetes/apps/external-secrets/resources/kustomization.yaml
  kubernetes/apps/external-secrets/resources/oci-repository.yaml
  kubernetes/apps/external-secrets/stores/kustomization.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/app.yaml
  kubernetes/apps/ingress-system/external-dns-cloudflare/app.yaml
  kubernetes/apps/ingress-system/external-dns-unifi/app.yaml
  kubernetes/apps/monitoring/grafana/app.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
  kubernetes/apps/rook-ceph/cluster.yaml
Labels: kubernetes

feat: add openebs again for local hostpath
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app.yaml
  kubernetes/apps/openebs-system/openebs/resources/helm-release.yaml
  kubernetes/apps/openebs-system/openebs/resources/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/resources/oci-repository.yaml
Labels: kubernetes

fix: adjust repo sourceref
  kubernetes/apps/openebs-system/openebs/app.yaml
Labels: kubernetes

fix: typo.. damnit
  kubernetes/apps/openebs-system/openebs/app.yaml
Labels: kubernetes

feat: switch to using openebs-hostpath
  kubernetes/apps/default/emqx/resources/release.yaml
Labels: kubernetes

feat: switch to using openebs
  kubernetes/apps/arc-system/runner/release.yaml
Labels: kubernetes

feat: switch to using openebs
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: switch storage class to something sensible
  kubernetes/components/volsync/local/replication-destination.yaml
  kubernetes/components/volsync/local/replication-source.yaml
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

feat: remove non-replicated pool
  kubernetes/apps/rook-ceph/cluster/helm-release.yaml
Labels: kubernetes

fix: adjust time for r2 snapshots
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

fix: adjust time for r2 snapshots
  kubernetes/components/volsync/remote/replication-source.yaml
Labels: kubernetes

chore: update flux-local, add securitay
  .github/workflows/flux-local.yaml
Labels: github

chore: use bjw-s' changed files
  .github/workflows/flux-local.yaml
Labels: github

fix: adjus some variable handling
  .github/workflows/flux-local.yaml
Labels: github

fix: because github changed urls?
  kubernetes/apps/kube-system/cilium/gateway-api/kustomization.yaml
Labels: kubernetes

chore: refactor helm-releases for app-templae 4.x
  kubernetes/apps/default/gatus/resources/helm-release.yaml
  kubernetes/apps/default/overseerr/resources/helm-release.yaml
  kubernetes/apps/default/plex/resources/helm-release.yaml
  kubernetes/apps/default/prowlarr/resources/helm-release.yaml
  kubernetes/apps/default/radarr/resources/helm-release.yaml
  kubernetes/apps/default/recyclarr/resources/helm-release.yaml
  kubernetes/apps/default/sabnzbd/resources/helm-release.yaml
  kubernetes/apps/default/sonarr/resources/helm-release.yaml
  kubernetes/apps/default/tautulli/resources/helm-release.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/helm-release.yaml
  kubernetes/apps/ingress-system/cloudflare-tunnel/resources/helm-release.yaml
  kubernetes/apps/system-upgrade/controller/helm-release.yaml
Labels: kubernetes

feat: use default values
  kubernetes/apps/kube-system/cilium/resources/helm-release.yaml
Labels: kubernetes

chore: update renovate configs
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  renovate.json5
Labels: none

chore: add some security and update workflow
  .github/workflows/renovate.yaml
Labels: github

feat: add mosquitto, emqx license changed.. lame
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app.yaml
  kubernetes/apps/default/mosquitto/resources/helm-release.yaml
  kubernetes/apps/default/mosquitto/resources/kustomization.yaml
  kubernetes/apps/default/mosquitto/resources/pvc.yaml
Labels: kubernetes

chore: cleanup emqx, change configs to mosquitto
  kubernetes/apps/default/emqx/app.yaml
  kubernetes/apps/default/emqx/resources/certificate.yaml
  kubernetes/apps/default/emqx/resources/external-secret.yaml
  kubernetes/apps/default/emqx/resources/http-route.yaml
  kubernetes/apps/default/emqx/resources/kustomization.yaml
  kubernetes/apps/default/emqx/resources/release.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/external-secret.yaml
  kubernetes/apps/default/zigbee2mqtt/resources/helm-release.yaml
Labels: kubernetes

chore: switch to using official grafana oci repository
  kubernetes/apps/monitoring/loki/resources/oci-repository.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
