Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

fix(helm-chart): update helm release weave-gitops to 4.0.12
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update rook-ceph group to v1.10.10
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.4.2
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v35.4.3
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release grafana to 6.50.1
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.4.4
  .github/workflows/diff-helm-releases.yaml
Labels: github

change to major version tracking, minors are presumed to work
  infrastructure/terraform/cloudflare/mcfio/main.tf
Labels: terraform

feat: update helm-release for 4.x
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix: properly update helm-release for 4.x
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 4.4.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.15.3
  .pre-commit-config.yaml
Labels: none

feat(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.1
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.1.1.2377
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update 1password-connect group to v1.6.0
  cluster/external-secrets/onepassword-connect/helm-release.yaml
  cluster/external-secrets/onepassword-connect/patches/sync.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.50.2
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 44.3.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.50.3
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat(docker-image): update sctx/overseerr docker tag to v1.32.0
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.30.2.6563-3d4dc0cce
  cluster/apps/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.50.4
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(docker-image): update sctx/overseerr docker tag to v1.32.1
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release loki to 4.4.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.2
  .pre-commit-config.yaml
Labels: none

ci(github-action): update tibdex/github-app-token action to v1.8.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release grafana to 6.50.5
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release cilium to 1.12.6
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

fix(docker-image): update sctx/overseerr docker tag to v1.32.2
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

feat(deps): update prometheus-operator/kube-prometheus to v0.12.0
  cluster/monitoring/kube-prometheus-stack/dashboards/kustomization.yaml
Labels: kubernetes

fix(helm-chart): update helm release loki to 4.4.2
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat(deps): update pre-commit hook sirosen/texthooks to 0.5.0
  .pre-commit-config.yaml
Labels: none

fix(docker-image): update sctx/overseerr docker tag to v1.32.3
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update sctx/overseerr docker tag to v1.32.4
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.50.6
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.3
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-develop docker tag to v1.1.2.2453
  cluster/apps/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release promtail to 6.8.2
  cluster/monitoring/promtail/helm-release.yaml
Labels: kubernetes

fix(docker-image): update sctx/overseerr docker tag to v1.32.5
  cluster/apps/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.5.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(docker-image): update k8s.gcr.io/autoscaling/vpa-recommender docker tag to v0.13.0
  cluster/apps/monitoring/vpa/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release weave-gitops to 4.0.13
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes
