Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

feat: adjust multus install some more
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

feat: remove resources configuration
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
Labels: kubernetes

feat: add trusted proxies
  kubernetes/apps/default/home-assistant/resources/release.yaml
Labels: kubernetes

feat: add scrypted to cluster
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/scrypted/app.yaml
  kubernetes/apps/default/scrypted/resources/kustomization.yaml
  kubernetes/apps/default/scrypted/resources/release.yaml
Labels: kubernetes

fix: woops, copy paste fails again!
  kubernetes/apps/default/scrypted/resources/release.yaml
Labels: kubernetes

fix: adjust scrypted service to hit non-https port
  kubernetes/apps/default/scrypted/resources/release.yaml
Labels: kubernetes

feat: add scrypted multus interface
  kubernetes/apps/default/scrypted/resources/release.yaml
Labels: kubernetes

feat: enable multus interface for homekit
  kubernetes/apps/default/home-assistant/resources/release.yaml
Labels: kubernetes

feat: adjust cpu resource requests
  kubernetes/apps/kube-system/descheduler/resources/release.yaml
Labels: kubernetes

feat: use k8s auth rather than a kubeconfig, smrt
  .github/workflows/schemas.yaml
Labels: github

feat: switch to kubernetes arc, simplify workflow using cluster role
  .github/workflows/schemas.yaml
  kubernetes/apps/arc-system/runners/cluster-role.yaml
  kubernetes/apps/arc-system/runners/kustomization.yaml
  kubernetes/apps/arc-system/runners/release.yaml
Labels: github, kubernetes

feat: well boo
  kubernetes/apps/arc-system/runners/release.yaml
Labels: kubernetes

feat: upgrade to ceph 19.2
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

fix: use proper formatting
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: update talos lifecycle
  .envrc
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/talos/assets/talos-k8s-node01.yaml
  bootstrap/talos/assets/talos-k8s-node02.yaml
  bootstrap/talos/assets/talos-k8s-node03.yaml
  bootstrap/talos/assets/talos-k8s-node04.yaml
  bootstrap/talos/assets/talos-k8s-node05.yaml
  bootstrap/talos/assets/talos-k8s-node06.yaml
  bootstrap/talos/clusterconfig/.gitignore
  bootstrap/talos/profiles/controlplane.enc.yaml.j2
  talos/helmfile.yaml
  talos/profiles/controlplane.enc.yaml.j2
  talos/profiles/worker.enc.yaml.j2
  talos/versions.env
Labels: none

feat: add matter-server, this is getting ridiculous
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/matter-server/app.yaml
  kubernetes/apps/default/matter-server/resources/kustomization.yaml
  kubernetes/apps/default/matter-server/resources/release.yaml
Labels: kubernetes

feat: configure service account
  kubernetes/apps/arc-system/runners/cluster-role.yaml
  kubernetes/apps/arc-system/runners/release.yaml
Labels: kubernetes

feat: add the container?
  kubernetes/apps/arc-system/runners/release.yaml
Labels: kubernetes

feat: remove prom tag for 3.0.1, 67.x makes the switch
  kubernetes/apps/monitoring/prometheus-stack/resources/release.yaml
Labels: kubernetes

feat: remove home-assistant and everything else
  kubernetes/apps/default/kustomization.yaml
Labels: kubernetes

feat: remove multus
  kubernetes/apps/kube-system/kustomization.yaml
Labels: kubernetes

feat: multus and home-assistant experiment over, franck strikes again
  kubernetes/apps/default/home-assistant/app.yaml
  kubernetes/apps/default/home-assistant/resources/kustomization.yaml
  kubernetes/apps/default/home-assistant/resources/release.yaml
  kubernetes/apps/default/matter-server/app.yaml
  kubernetes/apps/default/matter-server/resources/kustomization.yaml
  kubernetes/apps/default/matter-server/resources/release.yaml
  kubernetes/apps/default/scrypted/app.yaml
  kubernetes/apps/default/scrypted/resources/kustomization.yaml
  kubernetes/apps/default/scrypted/resources/release.yaml
  kubernetes/apps/kube-system/multus/app.yaml
  kubernetes/apps/kube-system/multus/resources/kustomization.yaml
  kubernetes/apps/kube-system/multus/resources/network-definition.yaml
Labels: kubernetes

feat: downgrade snapshot controller, rook is updated, but expects v1alpha1
  kubernetes/apps/rook-ceph/snapshot-controller/resources/release.yaml
Labels: kubernetes

feat: apply 4.0.0 again
  kubernetes/apps/rook-ceph/snapshot-controller/resources/release.yaml
Labels: kubernetes

feat: disable non-root execution
  kubernetes/apps/default/zwave-js-ui/resources/release.yaml
Labels: kubernetes

feat: update machine configs
  talos/profiles/controlplane.enc.yaml.j2
Labels: none

feat: use updated dns reference
  kubernetes/apps/default/zigbee2mqtt/resources/release.yaml
Labels: kubernetes

feat: pin release of actions runner
  kubernetes/apps/arc-system/runners/release.yaml
Labels: kubernetes

feat: ugh.. too early
  kubernetes/apps/arc-system/runners/release.yaml
Labels: kubernetes

feat: start migrating to managed users
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: start migrating to managed users
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: add managed user
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: declarative databases!
  kubernetes/apps/default/sonarr/resources/database.yaml
  kubernetes/apps/default/sonarr/resources/kustomization.yaml
Labels: kubernetes

feat: no more init!
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
  kubernetes/apps/default/sonarr/resources/pvc.yaml
  kubernetes/apps/default/sonarr/resources/release.yaml
Labels: kubernetes

feat: add additional managed users
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: update external secrets for user management
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
  kubernetes/apps/default/radarr/resources/external-secret.yaml
Labels: kubernetes

feat: add policy owner
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
Labels: kubernetes

fix: adjust password variable
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
Labels: kubernetes

fix: cause you know.. I'm terrible
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
Labels: kubernetes

feat: cleanup and migrate to managed databases
  kubernetes/apps/default/prowlarr/resources/database.yaml
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
  kubernetes/apps/default/prowlarr/resources/kustomization.yaml
  kubernetes/apps/default/prowlarr/resources/release.yaml
  kubernetes/apps/default/radarr/resources/database.yaml
  kubernetes/apps/default/radarr/resources/external-secret.yaml
  kubernetes/apps/default/radarr/resources/kustomization.yaml
  kubernetes/apps/default/radarr/resources/pvc.yaml
  kubernetes/apps/default/radarr/resources/release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
