Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

feat(helm-chart): update helm release actions-runner-controller to 0.23.0
  cluster/actions-runner-system/controller/helm-release.yaml
Labels: kubernetes

chore(docker-image): update public.ecr.aws/docker/library/eclipse-mosquitto:2.0.15 docker digest to 0e0886b
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release external-dns to 1.12.2
  cluster/ingress-system/external-dns/helm-release.yaml
  cluster/ingress-system/internal-dns/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 4.10.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(deps): update pre-commit hook zricethezav/gitleaks to v8.16.2
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update helm release reloader to v1.0.18
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

feat(helm-chart)!: Update Helm release kubelet-csr-approver to 1.0.0
  cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.423
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

fix: update liveness probe health port
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/koenkk/zigbee2mqtt docker tag to v1.30.3
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

feat: add advanced configuration changes
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

feat: add spread contraints remove filesystem configuration fo storageclass
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

feat: simplify deployment
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

feat: simplify deployment
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

feat: update storage class configuration
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

feat: use vsphere-csi for pvc
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat: use vsphere-csi for pvc
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/recyclarr/recyclarr:edge docker digest to adb5b10
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release node-feature-discovery to 0.12.2
  cluster/kube-system/node-feature-discovery/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release vpa to 1.7.0
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release goldilocks to 6.5.2
  cluster/monitoring/goldilocks/helm-release.yaml
Labels: kubernetes

feat(helm-chart)!: Update Helm release loki to 5.0.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release vsphere-csi to 3.0.1
  cluster/vsphere-csi/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release vpa to 1.7.1
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release descheduler to 0.26.1
  cluster/kube-system/descheduler/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.7.9
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v35.7.10
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v35.7.11
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release reloader to v1.0.22
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

ci(github-action)!: Update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(docker-image): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.13.0
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 45.9.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update rook-ceph group to v1.11.3
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/plex:1.31.3.6868-28fc46b27 docker digest to 6be3a21
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/prowlarr-develop:1.3.2.2984 docker digest to 5297c83
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/radarr-develop:4.4.2.6956 docker digest to 5436106
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 38b8a51
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.433
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release grafana to 6.52.8
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes
