Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"

fix(helm-chart): update chart reloader to 1.0.28
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.538
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.2
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.2
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/plex to v1.32.3.7192-7aa441827
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart loki to 5.8.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat(helm-chart)!: Update chart vpa to 2.1.0
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to 68e5ddf
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/radarr-develop to 343c2b7
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/sabnzbd to 4bda9b9
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/sonarr-develop to e200078
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image public.ecr.aws/docker/library/eclipse-mosquitto to efc3fd7
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

feat(deps): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

fix(helm-chart): update chart cilium to 1.13.4
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart cilium to 1.13.4
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart vector to 0.22.1
  cluster/monitoring/vector/agent/helm-release.yaml
  cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart vector to 0.22.1
  cluster/monitoring/vector/agent/helm-release.yaml
  cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: kubernetes

feat(docker-image): update image sctx/overseerr to v1.33.0
  cluster/mediaserver/overseerr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image public.ecr.aws/docker/library/eclipse-mosquitto to efc3fd7
  cluster/home/mosquitto/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to 9354ad9
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/radarr-develop to 7c9b12e
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  cluster/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/sonarr-develop to dc7860e
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart cert-manager to v1.12.2
  cluster/cert-manager/deploy/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart cert-manager to v1.12.2
  cluster/cert-manager/deploy/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 20f5480
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.1.3564
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 20f5480
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix: update workflow, clean up commands
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(helm-chart): update chart grafana to 6.57.3
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.3
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

feat(helm-chart)!: Update chart kube-prometheus-stack to 47.0.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat(docker-image): update image ghcr.io/zwave-js/zwave-js-ui to v8.19.0
  cluster/home/zwave-js-ui/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.2
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.2
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes
