Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

.github/labeler.yaml:

---
ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat: update secret for managed users
  kubernetes/apps/monitoring/gatus/resources/external-secret.yaml
Labels: kubernetes

feat: move gatus to default namespace
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
  kubernetes/apps/default/gatus/app.yaml
  kubernetes/apps/default/gatus/resources/database.yaml
  kubernetes/apps/default/gatus/resources/external-secret.yaml
  kubernetes/apps/default/gatus/resources/gatus-config.yaml
  kubernetes/apps/default/gatus/resources/kustomization.yaml
  kubernetes/apps/default/gatus/resources/rbac.yaml
  kubernetes/apps/default/gatus/resources/release.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: kubernetes

feat: update gatus deployment
  kubernetes/apps/default/gatus/resources/kustomization.yaml
Labels: kubernetes

fix: adjust namespace for service account binding
  kubernetes/apps/default/gatus/resources/rbac.yaml
Labels: kubernetes

feat: adjust secret
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: remove unused env vars, set elsewhere, causing a ruckus
  .envrc
Labels: none

feat: disable kubernetes discovery, deprectated
  talos/profiles/controlplane.enc.yaml.j2
Labels: none

feat: update cnpg cluster configuration
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
  kubernetes/apps/default/cnpg-cluster/resources/external-secret.yaml
Labels: kubernetes

feat: update to pgsql 17.2
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: upgrades are done a diff way
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: uh oh
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: use new minio endpoint
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: consolidate backup user secrets
  kubernetes/apps/default/cnpg-cluster/resources/external-secret.yaml
  kubernetes/templates/volsync/local/external-secret.yaml
Labels: kubernetes

feat: duh, use this instead of direct ip
  kubernetes/apps/kube-system/external-dns-unifi/resources/release.yaml
Labels: kubernetes

feat: disable ro and r services, don't need them
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: update image tag
  kubernetes/apps/default/cnpg-cluster/resources/cluster.yaml
Labels: kubernetes

feat: try out netkit aaaaand best-effort acceleration
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
  kubernetes/apps/kube-system/cilium/resources/release.yaml
Labels: kubernetes

feat: remove arc-runners
  kubernetes/apps/arc-system/kustomization.yaml
Labels: kubernetes

feat: needed to update this
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/arc-system/runners/app.yaml
  kubernetes/apps/arc-system/runners/resources/cluster-role.yaml
  kubernetes/apps/arc-system/runners/resources/external-secret.yaml
  kubernetes/apps/arc-system/runners/resources/kustomization.yaml
  kubernetes/apps/arc-system/runners/resources/release.yaml
Labels: kubernetes

feat: add runner back
  kubernetes/apps/arc-system/kustomization.yaml
  kubernetes/apps/arc-system/runners/resources/release.yaml
Labels: kubernetes

feat: make formatting and naming consistent
  kubernetes/apps/default/recyclarr/resources/external-secret.yaml
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: use proper secret formatting
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: update formatting and variable use
  kubernetes/apps/default/radarr/resources/external-secret.yaml
  kubernetes/apps/default/recyclarr/resources/external-secret.yaml
  kubernetes/apps/default/recyclarr/resources/recyclarr.yml
Labels: kubernetes

feat: update formatting and variable use
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
Labels: kubernetes

feat: uh oh, i may have tried to outsmart myself
  kubernetes/apps/default/prowlarr/resources/external-secret.yaml
  kubernetes/apps/default/radarr/resources/external-secret.yaml
  kubernetes/apps/default/recyclarr/resources/external-secret.yaml
  kubernetes/apps/default/sonarr/resources/external-secret.yaml
Labels: kubernetes

feat: change to self-hosted
  .github/workflows/schemas.yaml
Labels: github

feat: change to self-hosted
  .github/workflows/schemas.yaml
Labels: github

feat: adjust cilium values
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
Labels: kubernetes

feat: disable more features
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
  kubernetes/apps/kube-system/cilium/resources/release.yaml
Labels: kubernetes

feat: adjust some settings
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
Labels: kubernetes

feat: go back to veth, no netkit
  kubernetes/apps/kube-system/cilium/resources/helm-values.yaml
Labels: kubernetes

feat: adding node specific configurations to support migration to tuning guide
  kubernetes/apps/kube-system/cilium/resources/kustomization.yaml
  kubernetes/apps/kube-system/cilium/resources/node-config.yaml
Labels: kubernetes

feat: switch to using best-effort
  kubernetes/apps/kube-system/cilium/resources/node-config.yaml
Labels: kubernetes

feat: disable volume group snapshots
  kubernetes/apps/rook-ceph/operator/resources/release.yaml
Labels: kubernetes

feat: disable/remove minio, now on storage server
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/minio/app.yaml
  kubernetes/apps/default/minio/resources/external-secret.yaml
  kubernetes/apps/default/minio/resources/kustomization.yaml
  kubernetes/apps/default/minio/resources/release.yaml
Labels: kubernetes

feat: remove webhook settings, no longer part of release
  kubernetes/apps/rook-ceph/snapshot-controller/resources/certificate.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/resources/kustomization.yaml
  kubernetes/apps/rook-ceph/snapshot-controller/resources/release.yaml
Labels: kubernetes

feat: downgrade to 1.15.7, resolve volume group nonsense
  kubernetes/apps/rook-ceph/operator/resources/release.yaml
Labels: kubernetes

feat: downgrade to 1.15.7, resolve volume group, add non-replicated datastore
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
Labels: kubernetes

feat: disable non-replicated pool, adjust some other settings
  kubernetes/apps/rook-ceph/cluster/resources/external-secret.yaml
  kubernetes/apps/rook-ceph/cluster/resources/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/resources/release.yaml
  kubernetes/apps/rook-ceph/operator/resources/release.yaml
Labels: kubernetes

feat: pagerduty, is this overkill?
  kubernetes/apps/monitoring/prometheus-stack/resources/alertmanager-config.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/external-secret.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/kustomization.yaml
  kubernetes/apps/monitoring/prometheus-stack/resources/release.yaml
Labels: kubernetes
