Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix: use proper url
  cluster/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

fix: recyclarr config
  cluster/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

fix: recyclarr config, update finalized profiles
  cluster/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

feat: add nfs media mount to radarr
  cluster/apps/mediaserver/radarr-uhd/helm-release.yaml
  cluster/apps/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.4
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.5.1
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(docker-image): update ghcr.io/onedr0p/sabnzbd docker tag to v3.7.2
  cluster/apps/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release goldilocks to 6.5.0
  cluster/apps/monitoring/goldilocks/helm-release.yaml
Labels: kubernetes

feat: add radarr external secret
  cluster/mediaserver/kustomization.yaml
  cluster/mediaserver/radarr.yaml
  cluster/mediaserver/radarr/external-secret.yaml
  cluster/mediaserver/radarr/kustomization.yaml
Labels: kubernetes

feat: add radarr standard config to recyclarr
  cluster/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

feat: add radarr secret to recyclarr env vars
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat: update profiles
  cluster/mediaserver/recyclarr/recyclarr.yml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.371
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 44.4.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kured to 4.4.0
  cluster/kube-system/kured/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.5
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release loki to 4.5.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: bump cilium to 1.13 rc's, BGP loadbalancers??
  cluster/kube-system/cilium/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kured to 4.4.1
  cluster/kube-system/kured/helm-release.yaml
Labels: kubernetes

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.373
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release kube-prometheus-stack to 44.4.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 4.6.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix: disable some additional config values that cause noise
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat(helm-chart)!: Update Helm release kube-prometheus-stack to 45.0.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v35.5.2
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(helm-chart): update helm release goldilocks to 6.5.1
  cluster/apps/monitoring/goldilocks/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release vpa to 1.6.1
  cluster/apps/monitoring/vpa/helm-release.yaml
Labels: kubernetes

fix: ensure cilium knows about k8s
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: update flux2 to 0.39.0, still not picked up with renovate
  cluster/flux/deploy/oci-repository.yaml
Labels: kubernetes

feat: update k8s api-server lb address
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: update k8s api-server lb address
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: update k8s api-server lb address
  cluster/kube-system/cilium/helm-values.yaml
Labels: kubernetes

feat: migrate to using cilium BGP and LB IPAM
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/mediaserver/plex/helm-release.yaml
  cluster/ingress-system/nginx/helm-release.yaml
  cluster/kube-system/cilium/cilium-bgp-peering-policy.yaml
  cluster/kube-system/cilium/cilium-load-balancer-ip-pool.yaml
  cluster/kube-system/cilium/helm-release.yaml
  cluster/kube-system/cilium/kustomization.yaml
  cluster/kube-system/cilium/name-reference.yaml
Labels: kubernetes

feat: disable metallb from flux deployment
  cluster/kustomization.yaml
Labels: kubernetes

fix: use correct IP
  cluster/apps/home/mosquitto/helm-release.yaml
Labels: kubernetes

feat: deprecate and archive metallb
  archived/metallb-system/config/ip-address-pool.yaml
  archived/metallb-system/config/kustomization.yaml
  archived/metallb-system/config/l2-advertisement.yaml
  archived/metallb-system/deploy/helm-release.yaml
  archived/metallb-system/deploy/helm-repository.yaml
  archived/metallb-system/deploy/kustomization.yaml
  archived/metallb-system/kustomization.yaml
  archived/metallb-system/metallb-config.yaml
  archived/metallb-system/metallb.yaml
  archived/metallb-system/namespace.yaml
Labels: none

feat: use sha digest with image tag
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update rook-ceph group to v1.10.11
  cluster/rook-ceph/cluster/helm-release.yaml
  cluster/rook-ceph/operator/helm-release.yaml
Labels: kubernetes

fix: remove externalTrafficPolicy configuration
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/mediaserver/plex/helm-release.yaml
  cluster/ingress-system/nginx/helm-release.yaml
Labels: kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to 666a2af
  cluster/apps/mediaserver/sabnzbd/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
