Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

fix(helm-chart): update helm release kubelet-csr-approver to 1.0.1
  cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release descheduler to 0.27.1
  cluster/kube-system/descheduler/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release loki to 5.5.12
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release reloader to v1.0.26
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update helm release kube-prometheus-stack to 46.5.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release operator to 5.0.5
  cluster/minio-operator/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update helm release tenant to 5.0.5
  cluster/monitoring/minio/helm-release.yaml
Labels: kubernetes

ci(github-action)!: Update tj-actions/changed-files action to v36.0.11
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(helm-chart): update helm release grafana to 6.57.0
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

feat(docker-image): update ghcr.io/koenkk/zigbee2mqtt docker tag to v1.31.0
  cluster/home/zigbee2mqtt/helm-release.yaml
Labels: kubernetes

fix(deps): update fluxcd/flux2 to v2.0.0-rc.5
  bootstrap/flux/kustomization.yaml
Labels: none

fix(helm-chart): update helm release node-feature-discovery to 0.13.2
  cluster/kube-system/node-feature-discovery/helm-release.yaml
Labels: kubernetes

fix: update flux deployment to rc5
  cluster/flux-system/deploy/flux.yaml
Labels: kubernetes

feat(helm-chart): update helm release loki to 5.6.0
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v36.0.12
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v36.0.13
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update tj-actions/changed-files action to v36.0.14
  .github/workflows/diff-helm-releases.yaml
Labels: github

fix(docker-image): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.535
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix: update renovate config
  .github/renovate.json
  .github/renovate/autoMerge.json
  .github/renovate/groups.json
Labels: github

fix(helm-chart): update chart loki to 5.6.1
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart app-template to 1.5.1
  cluster/external-secrets/onepassword-connect/helm-release.yaml
  cluster/home/mosquitto/helm-release.yaml
  cluster/home/zigbee2mqtt/helm-release.yaml
  cluster/home/zwave-js-ui/helm-release.yaml
  cluster/ingress-system/theme-park/helm-release.yaml
  cluster/mediaserver/overseerr/helm-release.yaml
  cluster/mediaserver/plex/helm-release.yaml
  cluster/mediaserver/prowlarr/helm-release.yaml
  cluster/mediaserver/radarr-uhd/helm-release.yaml
  cluster/mediaserver/radarr/helm-release.yaml
  cluster/mediaserver/recyclarr/helm-release.yaml
  cluster/mediaserver/sabnzbd/helm-release.yaml
  cluster/mediaserver/sonarr/helm-release.yaml
  cluster/mediaserver/tautulli/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart kube-prometheus-stack to 46.6.0
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v36.0.15
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat: split flux from oci-repository
  cluster/flux-system/deploy/flux.yaml
  cluster/flux-system/deploy/kustomization.yaml
  cluster/flux-system/deploy/oci-repository.yaml
Labels: kubernetes

feat: switch to using oci repository
  cluster/flux-system/weave-gitops/helm-repository.yaml
Labels: kubernetes

feat: archive minio
  archived/minio-operator/helm-release.yaml
  archived/minio-operator/helm-repository.yaml
  archived/minio-operator/kustomization.yaml
  archived/minio-operator/namespace.yaml
  archived/minio/helm-release.yaml
  archived/minio/helm-repository.yaml
Labels: none

feat: switch to using json5, less headache
  .github/renovate.json
  .github/renovate.json5
  .github/renovate/autoMerge.json
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json
  .github/renovate/groups.json5
Labels: github

feat: switch to using json5, less headache
  .github/workflows/schedule-renovate.yaml
Labels: github

fix: update to use new automerge configuration
  .github/renovate.json5
Labels: github

fix: apparently, json5 still struggles with dashes
  .github/renovate.json5
Labels: github

feat: update to using mshick's add-pr-comment
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat: update labeler and label workflows
  .github/workflows/labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: github

feat: re-sync with onedr0p's mjs script, support oci repos
  .github/scripts/helmReleaseDiff.mjs
Labels: github

ci(github-action): update tj-actions/changed-files action to v36.0.16
  .github/workflows/diff-helm-releases.yaml
Labels: github

feat(docker-image): update image ghcr.io/onedr0p/radarr-develop to v4.6.0.7439
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/onedr0p/plex to 24b3903
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.2.3484
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

ci(github-action): update tj-actions/changed-files action to v36.0.17
  .github/workflows/diff-helm-releases.yaml
Labels: github

ci(github-action): update actions/labeler digest to 9fcb2c2
  .github/workflows/labeler.yaml
Labels: github

fix(docker-image): update image ghcr.io/onedr0p/plex to v1.32.3.7162-b0a36929b
  cluster/mediaserver/plex/helm-release.yaml
Labels: kubernetes

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
