Repository mcfio/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, github, kubernetes, terraform

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 10f99cb
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.542
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.544
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image weave-gitops to v4.0.24
  cluster/flux-system/weave-gitops/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 10f99cb
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

feat(docker-image): update image registry.k8s.io/autoscaling/vpa-recommender to v0.14.0
  cluster/monitoring/goldilocks/vpa/helm-release.yaml
Labels: kubernetes

feat(helm-chart): update chart external-secrets to 0.9.0
  cluster/external-secrets/deploy/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.3
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.3
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.4
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.4
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to c12d7d2
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to c12d7d2
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/radarr-develop to v4.6.3.7516
  cluster/mediaserver/radarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.4
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart grafana to 6.57.4
  cluster/monitoring/grafana/helm-release.yaml
Labels: kubernetes

fix: use the proper location for the action
  .github/workflows/flux-local-diff.yaml
Labels: github

ci(github-action): pin allenporter/flux-local-action action to
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix: use the real proper location for the action
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(helm-chart): update chart reloader to 1.0.29
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart reloader to 1.0.29
  cluster/kube-system/reloader/helm-release.yaml
Labels: kubernetes

chore(docker-image): update image ghcr.io/recyclarr/recyclarr to 96c460e
  cluster/mediaserver/recyclarr/helm-release.yaml
Labels: kubernetes

fix: use the real proper location for the action, maybe?
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(helm-chart): update chart kube-prometheus-stack to 47.0.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart kube-prometheus-stack to 47.0.1
  cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: kubernetes

fix: fine, i'll go back to main
  .github/workflows/flux-local-diff.yaml
Labels: github

fix(docker-image): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  cluster/mediaserver/sonarr/helm-release.yaml
Labels: kubernetes

fix(docker-image): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608
  cluster/mediaserver/prowlarr/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.5
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.5
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(docker-image): update 1password-connect group to v1.7.1
  cluster/external-secrets/onepassword-connect/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.6
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

fix(helm-chart): update chart loki to 5.8.6
  cluster/monitoring/loki/helm-release.yaml
Labels: kubernetes

feat: the great restructuring begins
  kubernetes/flux/apps.yaml
  kubernetes/flux/deploy/flux.yaml
  kubernetes/flux/deploy/git-repository.yaml
Labels: none

feat: the great restructuring begins
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/git-repository.yaml
Labels: none

feat: the great restructuring begins
  kubernetes/flux/config/kustomization.yaml
Labels: none

feat: the great restructuring begins
  kubernetes/flux/config/kustomization.yaml
Labels: none

feat: move istio to new directory placement
  kubernetes/apps/istio-ingress/gateway/helm-release.yaml
  kubernetes/apps/istio-ingress/gateway/kustomization.yaml
  kubernetes/apps/istio-ingress/ingress-class.yaml
  kubernetes/apps/istio-ingress/istio-ingressgateway.yaml
  kubernetes/apps/istio-ingress/kustomization.yaml
  kubernetes/apps/istio-ingress/namespace.yaml
  kubernetes/apps/istio-system/base/helm-release.yaml
  kubernetes/apps/istio-system/base/kustomization.yaml
  kubernetes/apps/istio-system/helm-repository.yaml
  kubernetes/apps/istio-system/istio-base.yaml
  kubernetes/apps/istio-system/istio-istiod.yaml
  kubernetes/apps/istio-system/istiod/helm-release.yaml
  kubernetes/apps/istio-system/istiod/kustomization.yaml
  kubernetes/apps/istio-system/kustomization.yaml
  kubernetes/apps/istio-system/namespace.yaml
Labels: none

.github/labeler.yaml:

---
ansible:
  - "infrastructure/ansible/**/*"
github:
  - ".github/**/*"
kubernetes:
  - "cluster/**/*"
terraform:
  - "infrastructure/terraform/**/*"
